<template>
    <AVAModal 
        @popup:notifyClosed="handlerNotifyClosed" 
        id="all_download" :isClose="true">
        <h4 slot="title">전체 다운로드</h4>
        <section slot="content">
            <!-- form class="overbalance" 추가시 초과안내사항 및 버튼 변경 -->
            <!-- form class="download_fail" 추가시 제목,체크박스,안내글 경고 추가 -->
            <form @submit.prevent="submitDownload" :class="overbalanceClasses">
                <label for="download_title" :class="$v.downloadTitle.$error	? 'error' : ''"></label>
                <input id="download_title" type="text" v-model.trim="$v.downloadTitle.$model" placeholder="파일 제목을 입력해주세요." >
                <p>제목이 입력되지 않았습니다.</p>
                <div>
                    <p>파일 다운로드 방식</p>
                    <input type="radio" id="rbDownloadType1" v-model.trim="$v.downloadMethod.$model" value="each">
                    <label for="rbDownloadType1">개별 파일다운로드</label>
                    <input type="radio" id="rbDownloadType2" v-model.trim="$v.downloadMethod.$model" value="all">
                    <label for="rbDownloadType2">전체 파일다운로드</label>
                </div>
                <div>
                    <p>파일 포맷 형식</p>
                    <input type="radio" id="wav" value="wav" name="format"  v-model.trim="$v.fileFormat.$model">
                    <label for="wav">wav</label>
                    <input type="radio" id="mp3" value="mp3" name="format" v-model.trim="$v.fileFormat.$model">
                    <label for="mp3">mp3</label>
                </div>
                <div>
                    <input type="checkbox" id="deduction_agree" v-model.trim="$v.downloadAgree.$model" :class="$v.downloadAgree.$error	? 'error' : ''">
                    <label for="deduction_agree" :class="$v.downloadAgree.$error	? 'error' : ''">글자 수 차감 동의</label>
                    <ul>
                    <li class="deduction_agree_title">다운로드 글자 수</li>
                    <li class="deduction_agree_contents">
                        <ul>
                        <li class="current_use"><span>{{downloadExpectCharCnt | comma }}</span>자</li>
                        <li>/</li>
                        <li class="hold_words"><span>{{possibleRemainingCharCnt | comma}}</span>자 (보유)</li>
                        </ul>
                    </li>
                    </ul>
                    <p class="deduction_info">
                        글자 수에 따라 많은 시간이 소요될 수 있습니다.<br>
                        <em>다운로드 내역</em>에서 파일을 확인해주세요.
                    </p>
                    <p class="deduction_info overbalance" v-if="this.overbalance">
                        보유 글자수가 부족합니다.<br>
                        다운로드를 원하시면 플랜을 업그레이드 해주세요.
                    </p>
                    <p>글자 수 차감 동의를 하셔야 다운로드 하실 수 있습니다.</p>
                </div>
                <button type="submit" v-if="!this.overbalance">다운로드</button>
                <button class="overbalance" v-if="this.overbalance" @click="moveToPaymentClicked">플랜 업그레이드 하기</button>
            </form>
        </section>
    </AVAModal>
</template>

<script>
    import Vue from "vue";
    import {mapState, mapGetters, mapActions} from 'vuex';

    import Vuelidate from 'vuelidate'
    Vue.use(Vuelidate)

    import { required } from 'vuelidate/lib/validators';
    import AVAModal from '@/components/common/AVAModal';

    import { v4 as uuidv4 } from 'uuid';

    import {RepositoryFactory} from '@/repositories/RepositoryFactory';
    const DownloadRepository = RepositoryFactory.get('download');

    const checked = (value) => value

    export default {
        name: 'JobResultDownloadPopupView',
        components: {
            AVAModal,
        },
        data() {
            return {
                jobId: '',
                downloadId: uuidv4(),
                downloadTitle: '',
                downloadMethod: 'each',
                fileFormat: 'wav',
                jobScriptIds: [],
                overbalance: false,
                remainingCharCnt: 0,
                possibleRemainingCharCnt: 0,
                downloadExpectCharCnt: 0,
                downloadAgree:'',
            }
        },
        validations: {
            downloadTitle: {
                required
            },
            downloadMethod: {
                required
            },
            fileFormat: {
                required
            },
            downloadAgree: {
                required,
                checked
            }
        },
        computed: {
            ...mapState('job', {
                currentJobScripts: 'jobScripts',
                currentJobId: 'jobId',
            }),
            overbalanceClasses() {
                return {
                    "overbalance": this.overbalance,
                    //"download_fail" : true,
                }
            }
        },
        methods: {
            ...mapActions('base', {
                removeModal: 'removeModal',
            }),
            handlerNotifyClosed() {
                this.$v.$reset();
                this.removeModal(this);
            },
            moveToPaymentClicked() {
                this.$router.push({name: "PaymentView"})
            },
            submitDownload() {
                this.$v.$touch()
                if (this.$v.$invalid == false) {
                    
                    if(this.currentJobScripts.length == 0) {
                        return;
                    }
                    this.jobId = this.currentJobId;
                    this.jobScriptIds = this.currentJobScripts.map(row=>row.scriptId);
                    DownloadRepository.request_download(this.$data).then(res => {
                        let data = res.data 
                        this.handlerNotifyClosed();
                        this.$toast.success(data.status_message)
                    }).catch(error=> {
                        this.$toast.error("다운로드 처리 요청에 문제가 발생했습니다.");
                    })
                }
                return;
            },
            preCheckRequestDownload() {
                this.jobId = this.currentJobId;
                this.jobScriptIds = this.currentJobScripts.map(row=>row.scriptId);
                const vm = this;
                DownloadRepository.check_request_download(this.$data).then(res => {
                    let data = res.data 
                    vm.downloadExpectCharCnt = data.downloadExpectCharCnt;
                    vm.remainingCharCnt = data.remainingCharCnt;
                    vm.overbalance = !data.downloadProcessFlg;
                    vm.possibleRemainingCharCnt = data.remainingCharCnt - (data.totalConvertInProgressExpectDownloadCharCnt - data.totalConvertInProgressDownloadCharCnt);

                }).catch(error=> {
                    this.$toast.error("다운로드 처리 요청에 문제가 발생했습니다.");
                })
            }
        },
        created () {
            this.preCheckRequestDownload();
            //this.$v.$reset();
            
        },
    }
</script>

<style lang="scss" scoped>
@import '~styles/base';
@import '~styles/reset';
@import '~styles/layout';
@import '~styles/main';
@import '~styles/sub';
</style>