<template>
    <AVAModal
        @popup:notifyClosed="handlerNotifyClosed" 
        :isClose="true">
        <h4 slot="title">로그아웃</h4>
        <section slot="content">
            <p>저장하지 않은 작업들은 모두 삭제됩니다. <br />로그아웃 하시겠습니까?</p>
            <button @click="loggedOutClicked">확인</button>
        </section>
    </AVAModal>
</template>

<script>
    import Vue from "vue";
    import {mapState, mapGetters, mapActions} from 'vuex';

    import AVAModal from '@/components/common/AVAModal';

    export default {
        name: 'LoggedOutPopupView',
        components: {
            AVAModal,
        },
        methods: {
            ...mapActions('base', {
                removeModal: 'removeModal',
            }),
            ...mapActions('user', {
                signOut: 'signOut',
            }),
            ...mapActions('job', {
                clearJobContent: 'clearJobContent',
            }),
            handlerNotifyClosed() {
                this.removeModal(this);
            },
            async loggedOutClicked() {
                
                await this.signOut();
                await this.clearJobContent();
                
                this.removeModal(this);
                this.$router.push({ name: 'UserSignInView' });
            }
        },
        
    }
</script>

<style lang="scss" scoped>
@import '~styles/base';
@import '~styles/reset';
@import '~styles/layout';
@import '~styles/main';
@import '~styles/sub';
</style>