<template>
    <section id="character_list">
      <ul>
        <CharacterItem 
            v-for="(item, index) in characters"
            :character="item"
            :key="index"
            @notify:playVoiceSample="handlerNotifyPlayVoiceSample"
            @notify:changeCharacter="handlerNotifyChangeCharacter"
            >
        </CharacterItem>
      </ul>
    </section>
</template>

<script>
    import Vue from "vue";
    import {mapState, mapGetters, mapActions} from 'vuex';
    import CharacterItem from '@/components/character/CharacterItem';

    import {EventBus} from '@/utils/bus';

    export default {
        components: { CharacterItem },
        data() {
            return {
                audio: new Audio(),
            }
        },
        computed: {
            ...mapState('character', {
                characters: 'characters',
            })
        },
        methods: {
            ...mapActions('base', {
                setModal: "setModal"
            }),
            handlerNotifyPlayVoiceSample(sampleUrl) {
                this.audio.pause();
                this.audio.src = sampleUrl;
                this.audio.load();
                this.audio.play();
            },
            handlerNotifyChangeCharacter(id) {
                this.setModal({name:'CharacterMultipleChangePopupView', parameters: { changeBaseCharacterId : id }});
                // this.setModal('CharacterMultipleChangePopupView')
                // setTimeout(() => {
                //     EventBus.$emit("changeBaseCharacterId", id);    
                // }, 300);
                
            }

        }
    }
</script>

<style lang="scss" scoped>
@import '~styles/base';
@import '~styles/reset';
@import '~styles/layout';
@import '~styles/main';
@import '~styles/sub';
</style>