<template>
    <div>
        <AdminHeader menu="stat"></AdminHeader>
        <div id="wrap" class="statistics">
            <div class="today_statistics information">
                <template v-if="this.data == null">
                    <div style="transform: translateX(50%) translateY(-15px);">
                        <CharacterStretchLoading></CharacterStretchLoading>
                    </div>
                </template>
                <template v-else>
                    <ul>
                        <li :class="'total_user '+(data.diffTotUser > 0 ? 'up' : (data.diffTotUser === 0 ? 'same' : 'down'))"><span class="information_label">총 유저 수</span><span class="information_figure">{{data.totUser | comma}}</span><em>({{data.diffTotUser | comma}})</em></li>
                        <li :class="'pay_user '+(data.diffPaidUser > 0 ? 'up' : (data.diffPaidUser === 0 ? 'same' : 'down'))"><span class="information_label">유료 유저 수</span><span class="information_figure">{{data.paidUser | comma}}</span><em>({{data.diffPaidUser | comma}})</em></li>
                        <li :class="'active_user '+(data.diffActiveUser  > 0 ? 'up' : (data.diffActiveUser  === 0 ? 'same' : 'down'))"><span class="information_label">활성화 유저 수</span><span class="information_figure">{{data.activeUser | comma}}</span><em>({{data.diffActiveUser | comma}})</em></li>
                        <li :class="'total_login '+(data.diffTotLoginCount > 0 ? 'up' : (data.diffTotLoginCount === 0 ? 'same' : 'down'))"><span class="information_label">총 로그인 수</span><span class="information_figure">{{data.totLoginCount | comma}}</span><em>({{data.diffTotLoginCount | comma}})</em></li>
                    </ul>
                    <ul>
                        <li :class="'total_voice_font '+(data.diffTotVfCharacter > 0 ? 'up' : (data.diffTotVfCharacter === 0 ? 'same' : 'down'))"><span class="information_label">총 Voice Font 수</span><span class="information_figure">{{data.totVfCharacter | comma}}</span><em>({{data.diffTotVfCharacter | comma}})</em></li>
                        <li :class="'total_download '+(data.diffTotDownloadLength > 0 ? 'up' : (data.diffTotDownloadLength === 0 ? 'same' : 'down'))"><span class="information_label">총 다운로드 글자 수</span><span class="information_figure">{{data.totDownloadLength | comma}}</span><em>({{data.diffTotDownloadLength | comma}})</em></li>
                        <li :class="'total_convert '+(data.diffTotConversionLength > 0 ? 'up' : (data.diffTotConversionLength === 0 ? 'same' : 'down'))"><span class="information_label">총 변환 글자 수</span><span class="information_figure">{{data.totConversionLength | comma}}</span><em>({{data.diffTotConversionLength | comma}})</em></li>
                    </ul>
                </template>
            </div>
            <div class="shortcuts">
                <router-link to="/admin/statistics/user" class="user_statistics">
                    <em>유저 통계</em><br>
                    바로가기
                </router-link>
                <router-link to="/admin/statistics/voice" class="voice_font_statistics">
                    <em>Voice Font 통계</em><br>
                    바로가기
                </router-link>
            </div>
        </div>
        <footer>
            <p>&copy; Minds Lab.</p>
        </footer>
    </div>
</template>

<script>

    import AdminHeader from "@/components/admin/header/Header";
    import CharacterStretchLoading from '@/components/character/CharacterStretchLoading';
    import {RepositoryFactory} from "@/repositories/RepositoryFactory";

    const AdminRepository = RepositoryFactory.get('admin');

    export default {
        name: "statisticsMain",
        components: {
            AdminHeader, CharacterStretchLoading
        },
        filters:{
            comma(val){
                return (Number(val) > 0 ? '+' : '')+String(val).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }
        },
        data() {
            return {
                data: null,
            }
        },
        methods: {
            async getPlans() {
                const {data: data} = await AdminRepository.getStatisticsMain(1)
                this.data = data.data;
                if(data.statisticsStatus === 'FAIL'){
                    alert(data.message);
                }
            },
        },
        mounted() {
            this.getPlans();
        }
    }

</script>

<style lang="scss" scoped>
    @import '~styles/admin';
    @import '~styles/resetA';
</style>