<template>
    <div>
        <AdminHeader menu="stat"></AdminHeader>
        <div id="wrap" class="user_statistics empty">
            <h2>유저 통계</h2>
            <form onsubmit="return false">
                <fieldset>
                    <legend>search_filter</legend>
                    <label for="no">회원번호</label>
                    <input type="text" id="no" v-model="userSearchParam.userNo" placeholder="회원번호를 입력하세요.">
                    <label for="name">이름(닉네임)</label>
                    <input type="text" id="name" v-model="userSearchParam.userNm" placeholder="회원 이름(닉네임)을 입력하세요.">
                    <label for="email">E mail<span>(ID)</span></label>
                    <input type="email" id="email" v-model="userSearchParam.userId" placeholder="Email(ID)를 입력하세요.">
                    <label for="contact">연락처</label>
                    <input type="number" id="contact" v-model="userSearchParam.cellPhone" placeholder="연락처를 입력하세요.">
                    <hr>
                    <input style="cursor: pointer;" type="submit" @click="getTimelineList" value="유저 통계 조회">
                </fieldset>
            </form>
            <!-- 조회 실패는 class empty 추가 -->
            <!-- 초기 화면은 class initial 추가 -->
            <div :class="'user_statistics_contents '+loadingState">
                <form onsubmit="return false">
                    <div class="admin-select">
                        <div :class="'admin-selected '+(timeline == null || timeline.length == 0 ? '' : 'select-arrow-active')" @click="showSelect()">
                            {{selectOption}}
                        </div>
                        <div :class="'admin-items '+(selectHide ? 'select-hide' : '')" v-if="timeline != null && timeline.length > 0">
                            <div class="same-as-selected" @click="showSelect(0, '전체 기간')">전체 기간</div>
                            <template v-for="(item, index) in timeline">
                                <div @click="showSelect(item, (index+1)+'회 결제 기간')">{{index+1}}회 결제 기간</div>
                            </template>
                        </div>
                    </div>
                    <div class="tabs">
                        <button style="cursor: pointer;" :class="'tablinks convert '+(tabType === 'conv' ? 'active' : '')" @click="tabType = 'conv'" id="defaultOpen">변환 이용량</button>
                        <button style="cursor: pointer;" :class="'tablinks download '+(tabType === 'down' ? 'active' : '')" @click="tabType = 'down'" >다운로드 이용량</button>
                    </div>

                    <div class="content">
                        <div id="tab1" data-tab-content class="items tabcontent" :style="'display: '+(tabType === 'conv' ? 'block' : 'none')+';'">
                            <div class="information">
                                <ul>
                                    <template v-if="chartData != null">
                                        <li><span class="label">기간</span><span v-text="chartData.planStartAt+' ~ '+chartData.planEndAt"></span></li>
                                        <li><span class="label">플랜</span><span v-text="chartData.planNm"></span></li>
                                        <li><span class="label">기간 내 변환 글자수</span><span v-text="chartData.totConversionLength"></span></li>
                                        <li><span class="label">기간 내 다운로드 글자 수</span><span v-text="chartData.totDownloadLength"></span></li>
                                    </template>
                                    <template v-else>
                                        <li><span class="label">기간</span><span>-</span></li>
                                        <li><span class="label">플랜</span><span>-</span></li>
                                        <li><span class="label">기간 내 변환 글자수</span><span>-</span></li>
                                        <li><span class="label">기간 내 다운로드 글자 수</span><span>-</span></li>
                                    </template>
                                </ul>
                            </div>
                            <div class="empty">
                                <img src="~@/assets/images/ico-empty-68-px.png" alt="빈상자" />
                                <p>조회된 내용이 없습니다.</p>
                            </div>
                            <div id="chart_wrap_convert" class="chart" style="height: 100%;">
                                <barChart :chart-data="conversionData" :options="chartOptions"></barChart>
                            </div>
                        </div>
                        <div id="tab2" data-tab-content class="items tabcontent" :style="'display: '+(tabType === 'down' ? 'block' : 'none')+';'">
                            <div class="information">
                                <ul>
                                    <template v-if="chartData != null">
                                        <li><span class="label">기간</span><span v-text="chartData.planStartAt+' ~ '+chartData.planEndAt"></span></li>
                                        <li><span class="label">플랜</span><span v-text="chartData.planNm"></span></li>
                                        <li><span class="label">기간 내 변환 글자수</span><span v-text="chartData.totConversionLength"></span></li>
                                        <li><span class="label">기간 내 다운로드 글자 수</span><span v-text="chartData.totDownloadLength"></span></li>
                                    </template>
                                    <template v-else>
                                        <li><span class="label">기간</span><span>-</span></li>
                                        <li><span class="label">플랜</span><span>-</span></li>
                                        <li><span class="label">기간 내 변환 글자수</span><span>-</span></li>
                                        <li><span class="label">기간 내 다운로드 글자 수</span><span>-</span></li>
                                    </template>
                                </ul>
                            </div>
                            <div class="empty">
                                <img src="~@/assets/images/ico-empty-68-px.png" alt="빈상자" />
                                <p>조회된 내용이 없습니다.</p>
                            </div>
                            <div id="chart_wrap_download" class="chart" style="height: 100%;">
                                <barChart :chart-data="downloadData" :options="chartOptions"></barChart>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <footer>
            <p>&copy; Minds Lab.</p>
        </footer>
    </div>
</template>

<script>

    import AdminHeader from "@/components/admin/header/Header";
    import CharacterStretchLoading from '@/components/character/CharacterStretchLoading';
    import {RepositoryFactory} from "@/repositories/RepositoryFactory";

    import BarChart from '@/utils/chartUtils';
    import _ from 'lodash';

    const AdminRepository = RepositoryFactory.get('admin');

    export default {
        name: "User",
        components: {
            AdminHeader, CharacterStretchLoading, BarChart
        },
        filters:{
            comma(val){
                return (Number(val) > 0 ? '+' : '')+String(val).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }
        },
        data() {
            return {
                userSearchParam: {
                    userNo: null,
                    userId: '',
                    userNm: '',
                    cellPhone: '',
                },
                timelineParam: {
                    userNo : null,
                    timelineNo : null,
                },
                selectOption: null,
                selectHide: true,
                selectValue: null,
                timeline: null,
                chartData: null,
                tabType: 'conv',
                loadingState: 'initial',
                conversionData: null,
                downloadData: null,
                chartOptions: {
                    responsive: true,
                    legend: {
                            display: false
                    },
                    tooltips: {
                        enabled: false
                    },
                    scales: {
                        xAxes: [{
                            gridLines: {
                                drawBorder: false,
                            },
                        }]
                    },
                }
            }
        },
        watch: {
            selectValue(val) {
                this.chartData = null;
                this.timelineParam.timelineNo = null;
                if(val != null){
                    this.timelineParam.timelineNo = val;
                    AdminRepository.getUsertimelineChart(Object.keys(this.timelineParam).map(k => `${encodeURIComponent(k)}=${encodeURIComponent(this.timelineParam[k])}`).join('&')).then((result) => {
                        if(result.data.statisticsStatus === 'SUCCESS'){
                            this.chartData = result.data;
                            this.fillData(this.chartData);
                        }else{
                            alert(result.data.message);
                        }
                    });
                }
            }
        },
        methods: {
            showSelect(val, text) {
                this.selectValue = null;
                if(val != undefined){
                    this.selectValue = val;
                    this.selectOption = text;
                    this.selectHide = true;
                }else{
                    if(this.timeline != null && this.timeline.length > 0){
                        this.selectHide = false;
                    }else{
                        this.selectHide = true;
                    }
                }
            },
            getTimelineList() {
                if(
                    this.userSearchParam.userNo == null &&
                    this.userSearchParam.userId == '' &&
                    this.userSearchParam.userNm == '' &&
                    this.userSearchParam.cellPhone == ''
                ){
                    alert('최소 한개의 검색조건이 필요합니다.');
                    return;
                }
                this.timeline = [];
                this.selectOption = null;
                this.selectHide = true;
                this.timelineParam.userNo = null;
                this.timelineParam.timelineNo = null;
                // FIXME 해당 부분에서 this.chartData = null; 했을시 chartData가 갱신되지 않는 문제가 있음. 확인필요. 현재는 데이터를 덮어씌우도록 조치함
                AdminRepository.getUsertimelineList(Object.keys(this.userSearchParam).map(k => `${encodeURIComponent(k)}=${encodeURIComponent(this.userSearchParam[k])}`).join('&')).then((result) => {
                    if(result.data.statisticsStatus === 'SUCCESS'){
                        this.showSelect(0, '전체 기간');
                        this.loadingState = '';
                        this.timeline = result.data.timeline;
                        this.timelineParam.userNo = result.data.userNo;
                    }else{
                        alert(result.data.message);
                        this.loadingState = 'empty';
                    }
                });
            },
            fillData (chartData) {
                const conversionData = _.orderBy(chartData.conversionChartData, ['ptg'],['desc']);
                const downloadData = _.orderBy(chartData.downloadChartData, ['ptg'],['desc']);
                this.conversionData = {
                    labels: _.map(conversionData, 'characterNm'),
                    datasets: [
                        {
                            label: _.map(conversionData, 'length'),
                            backgroundColor: ['#5ab4c9', '#1daffd'],
                            data: _.map(conversionData, 'ptg')
                        },
                    ]
                }
                this.downloadData = {
                    labels: _.map(downloadData, 'characterNm'),
                    datasets: [
                        {
                            label: _.map(downloadData, 'length'),
                            backgroundColor: ['#5ab4c9', '#1daffd'],
                            data: _.map(downloadData, 'ptg')
                        },
                    ]
                }
            },
        },
        mounted() {

        }
    }

</script>

<style lang="scss" scoped>
    @import '~styles/admin';
    @import '~styles/resetA';
</style>