<template>
    <div>
        <AdminHeader menu="stat"></AdminHeader>
        <div id="wrap" class="voice_font_statistics">
            <h2>Voice Font 통계</h2>
            <div class="table voice_font_statistics">
                <ul class="thead">
                    <li class="voice_font_statistics_rank">Rank</li>
                    <li class="voice_font_statistics_image">캐릭터 이미지</li>
                    <li class="voice_font_statistics_name">명칭</li>
                    <li class="voice_font_statistics_total_convert">누적 TTS 변환량(%)</li>
                    <li class="voice_font_statistics_total_download">누적 TTS 다운로드량(%)</li>
                    <li class="voice_font_statistics_today_convert">금월 TTS 변환량(%)</li>
                    <li class="voice_font_statistics_today_download">금월 TTS 다운로드량(%)</li>
                    <li class="voice_font_statistics_upload">업로드 날짜</li>
                    <li class="voice_font_statistics_detail">상세조회</li>
                </ul>
                <div class="tbody" v-if="data != null">
                    <ul v-for="(item, index) in data.content" class="tbody_tr">
                        <li class="voice_font_statistics_rank">
                            {{(data.totalElements - data.numberOfElements) * data.number + index + 1}}
                        </li>
                        <li class="voice_font_statistics_image">
                            <div :class="item.classNm+'-72'"></div>
                        </li>
                        <li class="voice_font_statistics_name">{{item.characterNm}}</li>
                        <li class="voice_font_statistics_total_convert"><span class="figure">{{item.conversionLength.toLocaleString()}}</span><span
                            class="percent">&nbsp;({{Math.round(item.conversionPtg)}}%)</span></li>
                        <li class="voice_font_statistics_total_download"><span class="figure">{{item.downloadLength.toLocaleString()}}</span><span
                            class="percent">&nbsp;({{Math.round(item.downloadPtg)}}%)</span></li>
                        <li class="voice_font_statistics_today_convert"><span class="figure">{{item.monthConversionLength.toLocaleString()}}</span><span
                            class="percent">&nbsp;({{Math.round(item.monthConversionPtg)}}%)</span></li>
                        <li class="voice_font_statistics_today_download"><span class="figure">{{item.monthDownloadLength.toLocaleString()}}</span><span
                            class="percent">&nbsp;({{Math.round(item.monthDownloadPtg)}}%)</span></li>
                        <li class="voice_font_statistics_upload">{{item.createdAt}}</li>
                        <li class="voice_font_statistics_detail"><router-link :to="'/admin/statistics/voice/'+item.characterId">조회</router-link></li>
                    </ul>
                </div>
            </div>
            <div class="paging">
                <ul v-if="data != null">
                    <li :class="'prev'+(!data.first ? ' active' : '')"><a style="cursor: pointer" @click="!data.first ? pageRequestParam.page = pageRequestParam.page-1 : null"><i class="icon-ico-paging-arrow-prev-36px"></i></a></li>
                    <li v-for="i in data.totalPages" :class="i === pageRequestParam.page ? 'active' : ''">
                        <a style="cursor: pointer" @click="pageRequestParam.page = i">{{i}}</a>
                    </li>
                    <li :class="'next'+(!data.last ? ' active' : '')"><a style="cursor: pointer" @click="!data.last ? pageRequestParam.page = pageRequestParam.page+1 : null"><i class="icon-ico-paging-arrow-next-36px"></i></a></li>
                </ul>
            </div>
        </div>
        <footer>
            <p>&copy; Minds Lab.</p>
        </footer>
    </div>
</template>

<script>

import AdminHeader from "@/components/admin/header/Header";
import {RepositoryFactory} from "@/repositories/RepositoryFactory";

const AdminRepository = RepositoryFactory.get('admin');

    export default {
        name: "Voice",
        components: {
            AdminHeader
        },
        filters:{
            comma(val){
                return (Number(val) > 0 ? '+' : '')+String(val).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }
        },
        data() {
            return {
                pageRequestParam: {
                    page: 1,
                    size: 10,
                },
                data: null,
            }
        },
        watch: {
            'pageRequestParam.page': function (value){
                this.getVoiceFontStatisticsDataPage()
            }
        },
        methods: {
            async getVoiceFontStatisticsDataPage() {
                const {data: result} = await AdminRepository.getVoiceFontStatisticsDataPage(Object.keys(this.pageRequestParam).map(k => `${encodeURIComponent(k)}=${encodeURIComponent(this.pageRequestParam[k])}`).join('&'))
                if(result.statisticsStatus !== 'SUCCESS'){
                    alert(result.message);
                }else{
                    this.data = result.voiceFontStatisticsDataPage;
                }
            },
            getRownumState(page, totalElements, pageSize){
                this.rowNumState.rowNum = totalElements < (totalElements - (page * pageSize)) ? 0 : (totalElements - ((page - 1) * pageSize))
                console.log(this.rowNumState.rowNum);
            },
        },
        mounted() {
            this.getVoiceFontStatisticsDataPage();
        }
    }

</script>

<style lang="scss" scoped>
    @import '~styles/admin';
    @import '~styles/resetA';
    #wrap .table li {
        padding: 0 0px;
        box-sizing: border-box;
    }
</style>