<template>
    <div>
        <AdminHeader menu="stat"></AdminHeader>
        <div id="wrap" class="voice_font_statistics_detail">
            <h2>Voice Font 통계 > 상세조회</h2>
            <div class="information" v-if="data.vFCharacterData != null">
                <div :class="'information_image'+(' '+data.vFCharacterData.avatarClassNm+'-72')"></div>
                <div class="information_write">
                    <ul>
                        <li>
                            <ul>
                                <li><span class="label">폰트명</span><span v-text="data.vFCharacterData.characterNm">-</span></li>
                                <li class="revenue_no"><span class="label">소속</span><span class="revenue_no" v-text="data.vFCharacterData.agency != null ? data.vFCharacterData.agency : '-'">-</span></li>
                            </ul>
                            <ul>
                                <li><span class="label">모델 업로드 날짜</span><span v-text="data.vFCharacterData.createdAt">-</span></li>
                                <li><span class="label">TTS Request 명</span><span v-text="data.vFCharacterData.voiceFontNm">-</span></li>
                                <li><span class="label">녹음자</span><span v-text="data.vFCharacterData.recorder != null ? data.vFCharacterData.recorder : '-'">-</span></li>
                            </ul>
                            <ul>
                                <li class="revenue revenue_no"><span class="label">수익 분배 대상</span><span class="revenue_no" v-text="data.vFCharacterData.distYn != null ? data.vFCharacterData.distYn : '-'">-</span></li>
                                <li><span class="label">계약자</span><span v-text="data.vFCharacterData.contractor != null ? data.vFCharacterData.contractor : '-'">-</span></li>
                                <li class="revenue_no"><span class="label">입금계좌</span><span class="revenue_no" v-text="data.vFCharacterData.depositBank != null ? (findBankNm(data.vFCharacterData.depositBank)+' '+data.vFCharacterData.depositAccount) : '-'">-</span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <hr>
                    <ul>
                        <li v-if="data.totalStatisticsData != null">
                            <ul class="information_total">
                                <li><span class="label">누적 변환량</span><span>{{data.totalStatisticsData.conversionLength.toLocaleString()}}</span><span class="percent">({{data.totalStatisticsData.conversionPtg.toFixed(2)}}%)</span></li>
                                <li><span class="label">누적 다운로드량</span><span>{{data.totalStatisticsData.downloadLength.toLocaleString()}}</span><span class="percent">({{data.totalStatisticsData.downloadPtg.toFixed(2)}}%)</span></li>
                                <li class="revenue_no"><span class="label">누적 배분 금액</span><span class="revenue_no">999,999,999</span></li>
                            </ul>
                            <ul class="information_month">
                                <li><span class="label">당월 변환량</span><span v-text="data.totalStatisticsData.monthConversionLength.toLocaleString()">-</span><span class="percent" v-text="'('+(data.totalStatisticsData.monthConversionPtg.toFixed(2))+'%)'">(-%)</span></li>
                                <li><span class="label">당월 다운로드량</span><span v-text="data.totalStatisticsData.monthDownloadLength.toLocaleString()">-</span><span class="percent" v-text="'('+(data.totalStatisticsData.monthDownloadPtg.toFixed(2))+'%)'">(-%)</span></li>
                                <li class="revenue_no"><span class="label">당월 배분 예상금액</span><span class="revenue_no">999,999,999</span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <button class="button_modify" @click="showModifyModal">수정</button>
            </div>
            <form onsubmit="return false">
                <div class="admin-select">
                    <div class="admin-selected"
                         @click="setYear()"
                         v-text="data.yearList != null && data.yearList.length > 0 ? data.yearList[0] : '조회된 데이터가 없습니다.'">
                    </div>
                    <div :class="'admin-items'+(yearActive ? '' : ' select-hide')">
                        <div v-for="(v, i) in data.yearList" @click="setYear(v)">{{v}}</div>
                    </div>
                </div>
                <div class="table voice_font_statistics_detail">
                    <ul class="thead">
                        <li>월</li>
                        <li>변환량</li>
                        <li>다운로드량</li>
                        <li>수익분배 금액</li>
                        <li>수익분배 완료 여부</li>
                        <li>완료자</li>
                    </ul>
                    <div class="tbody">
                        <template v-if="data.monthStatisticsData != null" v-for="(item, index) in data.monthStatisticsData">
                            <ul class="tbody_tr">
                                <li><span>{{item.mm}}</span></li>
                                <li><span>{{item.conversionLength.toLocaleString()}}</span><span>&nbsp;({{item.conversionPtg.toFixed(2)}}%)</span></li>
                                <li><span>{{item.downloadLength.toLocaleString()}}</span><span>&nbsp;({{item.downloadPtg.toFixed(2)}}%)</span></li>
                                <li><span>000,000,000 원</span></li>
                                <li><span><button>완료 표시하기</button></span></li>
                                <li><span>lkm@mindslab.ai</span></li>
                            </ul>
                        </template>
                    </div>
                </div>
            </form>
        </div>
        <footer>
            <p>&copy; Minds Lab.</p>
        </footer>
        <div v-if="data.vFCharacterData != null" id="detail_information_modify" class="modal" :style="modifyStatus ? 'display: block;' : 'display: none;'">
            <div class="modal_bg"></div>

            <div class="modal_contents">
                <i class="icon-ico-cancel-24px modal_close" @click="modifyStatus = false;"></i>
                <h4>상세정보수정</h4>
                <div class="contents_area">
                    <form onsubmit="return false">
                        <div :class="'information_image '+data.vFCharacterData.avatarClassNm+'-72'"></div>
                        <label for="font_name">폰트명</label>
                        <input type="text" id="font_name" v-model="data.vFCharacterData.characterNm" readonly />
                        <label for="company">소속</label>
                        <input type="text" id="company" v-model="data.vFCharacterData.agency" readonly />
                        <label for="upload_date">모델 업로드 날짜</label>
                        <input type="date" id="upload_date" v-model="data.vFCharacterData.createdAt" />
                        <label for="tts_request_name">TTS Request 명</label>
                        <input type="text" id="tts_request_name" v-model="data.vFCharacterData.voiceFontNm" />
                        <label for="recorder">녹음자</label>
                        <input type="text" id="recorder" v-model="data.vFCharacterData.recorder">
                        <label>수익 분배 대상</label>
                        <div class="revenue-select">
                            <div class="revenue-selected" @click="setDistYn()">
                                <template v-if="data.vFCharacterData.distYn === 'Y'">
                                    해당 (Y)
                                </template>
                                <template v-else>
                                    미해당 (N)
                                </template>
                            </div>
                            <div :class="'admin-items'+(revenueActive ? '' : ' select-hide')">
                                <div @click="setDistYn('Y')">해당 (Y)</div>
                                <div @click="setDistYn('N')">미해당 (N)</div>
                            </div>
                        </div>
                        <label for="contractor">계약자</label>
                        <input type="text" id="contractor" v-model="data.vFCharacterData.contractor" />
                        <label>입금 계좌 은행</label>
                        <div class="admin-select" :style="data.vFCharacterData.distYn !== 'Y' ? 'background-color: rgb(227, 232, 235);' : ''">
                            <div class="admin-selected"
                                 @click="setBank()" v-text="data.vFCharacterData.depositBank != null ? findBankNm(data.vFCharacterData.depositBank) : '선택해주세요.'">
                            </div>
                            <div :class="'admin-items'+(bankActive ? '' : ' select-hide')">
                                <div v-for="(v, i) in data.code" @click="setBank(v.detailCode)">{{v.detailNm}}</div>
                            </div>
                        </div>
                        <label for="bank_number">입금 계좌 번호</label>
                        <input type="text" id="bank_number" :readonly="data.vFCharacterData.distYn !== 'Y' ? true : false" v-model="data.vFCharacterData.depositAccount" />
                    </form>
                    <div class="buttons">
                        <button class="cancel" @click="modifyStatus = false;">취소</button>
                        <button type="submit" @click="setVFCharacterData">변경 사항 저장</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import AdminHeader from "@/components/admin/header/Header";
import {RepositoryFactory} from "@/repositories/RepositoryFactory";

import _ from 'lodash';

const AdminRepository = RepositoryFactory.get('admin');
const CodeRepository = RepositoryFactory.get('code');

    export default {
        name: "VoiceDetail",
        components: {
            AdminHeader
        },
        filters:{
            comma(val){
                return (Number(val) > 0 ? '+' : '')+String(val).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }
        },
        data() {
            return {
                data: {
                    vFCharacterData : null,
                    monthStatisticsData : null,
                    totalStatisticsData : null,
                    yearList : null,
                    code : null,
                },
                param: {
                    year: 0,
                },
                month: String(new Date().getMonth()+1),
                modifyStatus: false,
                revenueActive: false,
                bankActive: false,
                yearActive: false,
            }
        },
        methods: {
            async getVFCharacterData() {
                const {data: result} = await AdminRepository.getVFCharacterData(this.$router.currentRoute.params.characterId);
                if(result.statisticsStatus !== 'SUCCESS'){
                    alert(result.message);
                }else{
                    this.data.vFCharacterData = result.data;
                    this.data.monthStatisticsData = result.monthStatisticsData;
                    this.data.totalStatisticsData = result.totalStatisticsData;
                    this.data.yearList = result.yearList;
                    this.data.vFCharacterData.createdAt = this.data.vFCharacterData.createdAt.substring(0, 10);
                }
            },
            async getCodeDetailByGroupCode(){
                const {data: result} = await CodeRepository.getCodeDetailByGroupCode('BANK_CODE');
                if(result.codeStatus !== 'SUCCESS'){
                    alert(result.message);
                }else{
                    this.data.code = result.data;
                }
            },
            showModifyModal() {
                this.getVFCharacterData();
                this.modifyStatus = true;
            },
            setDistYn(val){
                if(val == undefined){
                    this.revenueActive = true;
                    this.bankActive = false;
                }else{
                    this.revenueActive = false;
                    this.data.vFCharacterData.distYn = val;
                }
            },
            setBank(val){
                if(val == undefined && this.data.vFCharacterData.distYn === 'Y'){
                    this.revenueActive = false;
                    this.bankActive = true;
                }else{
                    this.bankActive = false;
                    this.data.vFCharacterData.depositBank = val;
                }
            },
            async setYear(val){
                if(val == undefined && this.data.yearList.length > 0){
                    this.yearActive = true;
                }else{
                    this.param.year = val;
                    const {data: result} = await AdminRepository.getVFCharacterDataList(this.$router.currentRoute.params.characterId, this.param.year);
                    if(result.statisticsStatus !== 'SUCCESS'){
                        alert(result.message);
                    }else{
                        this.data.monthStatisticsData = result.monthStatisticsData;
                    }
                    this.yearActive = false;
                }
            },
            findBankNm(val){
                return _.find(this.data.code, {detailCode: val}).detailNm;
            },
            findArray(data, prop){
                console.log(_.find(data, prop));
                return _.find(data, prop);
            },
            async setVFCharacterData(){
                this.data.vFCharacterData.createdAt = this.data.vFCharacterData.createdAt+' 00:00:00';
                const {data: result} = await AdminRepository.setVFCharacterData(this.$router.currentRoute.params.characterId, this.data.vFCharacterData);
                alert(result.message);
                this.getVFCharacterData();
            }
        },
        mounted() {
            this.getCodeDetailByGroupCode().then(()=>this.getVFCharacterData());
        }
    }

</script>

<style lang="scss" scoped>
    @import '~styles/admin';
    @import '~styles/resetA';
</style>