<template>
    <div id="wrap">
        <div class="container sign_up">
            <h1 class="logo">
                <a href="javascript:void(0)"></a>
            </h1>
            <p>Sign Up,</p>
            <form @submit.prevent="submitSignUp">
                <fieldset>
                <legend>sign up</legend>
                <label for="email" :class="$v.userId.$error	? 'error' : ''">E Mail<span>(ID)</span><strong> *</strong></label>
                <input type="email" id="email" v-model.trim="$v.userId.$model" placeholder="이메일을 입력해주세요." maxlength="200">
                <p class="error">이메일을 입력해주세요.</p>
                <!-- <button value="이메일 인증받기" id="button_certification" type="button">이메일 인증받기</button> -->
                <!-- <p>이메일 인증이 완료되었습니다.</p> -->
                
                <label for="password" :class="$v.userPw.$error	? 'error' : ''">Password<strong> *</strong></label>
                <input type="password" id="password" v-model.trim="$v.userPw.$model" placeholder="비밀번호를 입력해주세요." maxlength="20">
                <p class="password error">영문, 숫자, 특수문자를 포함하여 8자 이상 입력하세요.</p>

                <label for="password_confirm" :class="$v.userPwRepeat.$error	? 'error' : ''">Password Confirm<strong> *</strong></label>
                <input type="password" id="password_confirm" v-model.trim="$v.userPwRepeat.$model" placeholder="비밀번호를 다시한번 입력해주세요." maxlength="20">
                <p class="password error">비밀번호가 일치하지 않습니다. 다시 입력해주세요.</p>

                <label for="name" :class="$v.userNm.$error	? 'error' : ''">Name(Nick name)<strong> *</strong></label>
                <input type="name" v-model.trim="$v.userNm.$model" placeholder="이름(별명)을 입력해주세요." maxlength="10" >
                <p class="error">이름을 입력 입력해주세요.</p>

                <label for="contact_info" :class="$v.cellphone.$error	? 'error' : ''">Contact Info.<strong> *</strong></label>
                <input type="number" v-model.trim="$v.cellphone.$model" placeholder="연락 가능한 전화번호를 '-'(하이픈)없이 입력해주세요." maxlength="20">
                <p class="error">연락처를 입력 입력해주세요.</p>

                <label for="company">Company</label>
                <input type="text" v-model.trim="companyNm" placeholder="회사/소속을 입력해주세요." maxlength="20">

                <button type="submit" value="Sign Up" class="button_submit">
                    <p>Sign Up</p>
                    <div class="icon_bg_68 bg_sign_up_blue">
                    <i class="icon-ico-check-signup-24px"></i>
                    </div>
                </button>
                </fieldset>
            </form>
        </div>
        <AVAFooter />
    </div>
</template>

<script>

    import Vue from 'vue';
    import { mapState, mapGetters, mapActions } from 'vuex';

    import Vuelidate from 'vuelidate'
    Vue.use(Vuelidate)

    import { required, minLength, maxLength, email, sameAs} from 'vuelidate/lib/validators'

    const passwordPolicy = (value) => {
        var re = {  
            alpha: /[A-Z]/gi,
            numeric: /[0-9]/g,
            special: /[\W_]/g
        };

        var alpha = (value.match(re['alpha']) || []).length > 0 ? 1 : 0; 
        var numeric = (value.match(re['numeric']) || []).length > 0 ? 1 : 0; 
        var special = (value.match(re['special']) || []).length > 0 ? 1 : 0;

        return alpha + numeric + special == 3;
    }

    import AVAFooter from '@/components/layout/AVAFooter.vue';
    export default {
        components: {
            AVAFooter,
        },
        data() {
            return {
                userId: '',
                userPw: '',
                userPwRepeat: '',
                userNm: '',
                cellphone: '',
                companyNm: '',
            }
        },
        validations: {
            userId: {
                required,
                email,
                minLength: minLength(5),
            },
            userPw: {
                required,
                minLength: minLength(8),
                passwordPolicy,
            },
            userPwRepeat: {
                sameAsPassword: sameAs('userPw'),
                required,
            },
            userNm: {
                required,
            },
            cellphone: {
                required,
                maxLength: maxLength(20),
            }
        },
        methods: {
            ...mapActions('user', {
                signUp: 'signUp'
            }),
            submitSignUp() {
                this.$v.$touch()
                if (this.$v.$invalid == false) {
                    let self = this;
                    this.signUp(this.$data).then((processMessage) => {
                        this.$gtag.customMap({
                            'dimension1': 'method',
                            'dimension2': 'viewName',
                        })
                        this.$gtag.event(
                            'signUp',
                            {
                                method: 'self',
                                viewName: 'UserSignInView',
                                event_callback: function(){
                                    self.$router.push({ name: 'UserSignInView' });
                                    alert(processMessage);
                                },
                            },
                        )
                    }).catch((reason)=>{
                         alert(reason);
                    });
                }
            }
        },
    }
</script>

<style lang="scss" scoped>
@import '~styles/base';
@import '~styles/reset';
@import '~styles/layout';
@import '~styles/sub';
</style>