<template>
    <div id="wrap">
        <div class="container">
            <div class="sign_in">
                <h1 class="logo">
                    <a href="javascript:void(0)"></a>
                </h1>
                <p>Welcome,</p>
                <form @submit.prevent="submitLogin">
                    <fieldset>
                    <legend>sign in</legend>
                    <label for="email" :class="$v.userId.$error	? 'error' : ''">E Mail<span>(ID)</span></label>
                    <input type="email" placeholder="이메일을 입력해주세요." v-model.trim="$v.userId.$model">
                    <p class="error" >이메일 주소가 형식에 맞지 않습니다.</p>

                    <label for="password" :class="$v.userPw.$error	? 'error' : ''">Password</label>
                    <input type="password" placeholder="비밀번호를 입력해주세요." v-model.trim="$v.userPw.$model">
                    <p class="error">비밀번호를 입력해주세요.</p>

                    <!-- <input type="checkbox" id="always_login" name="always_login">
                    <label for="always_login">로그인상태 유지</label>

                    <a href="#" class="forgot_password">비밀번호를 잊으셨나요?</a> -->
                    <!-- 향후 inline style 제거 필요(margin-top:76px;)-->
                    <button type="submit" value="Log in" class="button_submit" style="margin-top:76px;">
                        <p>Log in</p>
                        <div class="icon_bg_68 bg_blue_green">
                            <i class="icon-ico-arrow-login-24px"></i>
                        </div>
                    </button>
                    </fieldset>
                </form>
            </div>
            <div class="video">
                <img src="@/assets/images/ava.png" alt="지금 바로 AVA를 이용해보세요!" />
                <video width="480px" height="270px" autoplay loop controls muted>
                    <source src="@/assets/video/promotion_video.mp4" type="video/mp4">
                </video>
                <a href="javascript:void(0)" @click="btnSignUp">
                    <button  class="button_submit">
                        <p>아직 회원이 아니신가요?</p>
                        <div class="icon_bg_68 bg_sign_up_blue">
                            <span>Sign up</span>
                        </div>
                    </button>
                </a>
            </div>
        </div>
        <AVAFooter />
    </div>
</template>


<script>
    import Vue from 'vue';
    import { mapState, mapGetters, mapActions } from 'vuex';

    import Vuelidate from 'vuelidate'
    Vue.use(Vuelidate)

    import { required, minLength, maxLength, email} from 'vuelidate/lib/validators'

    import AVAFooter from '@/components/layout/AVAFooter.vue';
    export default {
        components: {
            AVAFooter,
        },
        data() {
            return {
                userId: '',
                userPw: '',
            }
        },
        validations: {
            userId: {
                required,
                email,
                minLength: minLength(5)
            },
            userPw: {
                required
            },
        },
        methods: {
            ...mapActions('user', {
                signIn: 'signIn'
            }),
            btnSignUp() {
                this.$router.push({name: "UserSignUpView"})
            },
            submitLogin() {
                this.$v.$touch()
                if (this.$v.$invalid) {
                    
                } else {
                    this.signIn({'userId': this.userId, 'userPw': this.userPw}).then((processMessage) => {
                        let self = this;
                        this.$gtag.customMap({
                            'dimension1': 'method',
                            'dimension2': 'userId',
                        })
                        this.$gtag.event(
                            'signIn',
                            {
                                method: 'self',
                                userId: this.$data.userId,
                                event_callback: function(){

                                },
                            }
                        )
                        self.$router.push({ name: 'MainHomeView' });
                    }).catch((reason)=>{
                        alert(reason);
                    })
                }
            }
        },
    }
</script>

<style lang="scss" scoped>
@import '~styles/base';
@import '~styles/reset';
@import '~styles/layout';
@import '~styles/sub';
</style>