<template>
  <div>
    <AdminHeader menu="qna"></AdminHeader>
    <PopupManagementView/>
    <div id="wrap" class="question">
      <form @submit.prevent="goPage(1)">
        <fieldset>
          <legend>search_filter</legend>
          <label for="question_number">문의 번호</label>
          <input type="text" id="question_number" v-model="filterInquiryNo" placeholder="문의 번호를 입력하세요.">
          <label for="name">이름(닉네임)</label>
          <input type="text" id="name" v-model="filterName" placeholder="회원 이름(닉네임)을 입력하세요.">
          <label for="email">E mail(ID)</label>
          <input type="email" id="email" v-model="filterEmail" placeholder="Email(ID)를 입력하세요.">
          <label for="question_kinds">문의 유형</label>
          <select v-model="filterInquiryType" name="question_kinds" id="question_kinds" class="admin-select">
            <option value="">전체</option>
            <option value="일반">일반</option>
            <option value="결제">결제</option>
            <option value="버그">버그</option>
          </select>
          <label for="answer">답변 여부</label>
          <select v-model="filterInquiryStatus" name="answer" id="answer" class="admin-select">
            <option value="">전체</option>
            <option value="true">완료</option>
            <option value="false">미완료</option>
          </select>
          <label for="question_reply_admin">답변자</label>
          <input v-model="filterAnswerEmail" type="email" id="question_reply_admin" placeholder="답변자 이메일을 입력하세요.">
          <input type="submit" value="문의 조회">
        </fieldset>
      </form>
      <h2>문의정보</h2>
      <div class="table question empty">
        <ul class="thead">
          <li class="question_nunber">문의 번호<img src='~@/assets/images/ico-up-down-24-px.png' alt="정렬"></li>
          <li class="question_kinds">문의 유형</li>
          <li class="name">이름(닉네임)</li>
          <li class="email">E mail(ID)</li>
          <li class="contact">연락처</li>
          <li class="question_title">문의 제목</li>
          <li class="question_time">문의 시간</li>
          <li class="question_reply_time">답변 시간</li>
          <li class="question_reply_admin">답변자</li>
        </ul>
        <!-- tbody class에 empty추가하시면 empty 화면 보실수 있습니다. -->
        <div class="tbody">
          <ul class="tbody_empty_tr">
            <li>
              <img src="~@/assets/images/ico-empty-68-px.png" alt="빈상자" />
              <p>불러올 내용이 없습니다.</p>
            </li>
          </ul>
          <ul class="tbody_tr" v-for="inquiry in inquiries" v-bind:class="{ incomplete: !inquiry.inquiryStatus }">
            <a @click="inquiryDetailPopup(inquiry.inquiryNo)">
              <li class="question_nunber">{{ inquiry.inquiryNo }}</li>
              <li class="question_kinds">{{ inquiry.inquiryType }}</li>
              <li class="name">{{ inquiry.userNm }}</li>
              <li class="email">{{ inquiry.userId }}</li>
              <li class="contact">{{ inquiry.userCellPhone }}</li>
              <li class="question_title">{{ inquiry.inquiryTitle }}</li>
              <li class="question_time">{{ inquiry.questionDate }}</li>
              <li class="question_reply_time" v-if="inquiry.inquiryStatus">{{ inquiry.answerDate }}</li>
              <li class="question_reply_time" v-else></li>
              <li class="question_reply_admin" v-if="inquiry.inquiryStatus">{{ inquiry.answeredEmail }}</li>
              <li class="question_reply_admin" v-else></li>
            </a>
          </ul>
        </div>
      </div>
      <AVAPagination v-model="currentPage" :records="total" :perPage="10" @notify:pageChanged="handlerNotifyPageChanged" />
      <footer>
        <p>&copy; Minds Lab.</p>
      </footer>
    </div>
  </div>
</template>

<script>
    import {mapState, mapActions} from 'vuex';

    import {RepositoryFactory} from '@/repositories/RepositoryFactory';
    import AdminHeader from "@/components/admin/header/Header";
    import AVAPagination from '@/components/common/AVAPagination';

    import PopupManagementView from '@/components/popup/PopupManagementView';

    const AdminRepository = RepositoryFactory.get('admin');

    export default {
        name: "InquiryManageView",
        components: {
            AdminHeader,
            AVAPagination,

            PopupManagementView,
        },
        data() {
            return {
                inquiries: [],

                filterInquiryNo: null,
                filterName: null,
                filterEmail: null,
                filterInquiryType: null,
                filterInquiryStatus: null,
                filterAnswerEmail: null,

                currentPage: 1,
                total: 0,
            }
        },
        methods: {
            ...mapActions('base', {
              setModal: 'setModal'
            }),
            inquiryDetailPopup(inquiryNo) {
              // alert("아직 준비중인 기능입니다.");
              this.setModal({name: "AdminInquiryDetailPopupView", parameters: { inquiryNo: inquiryNo }});
            },
            handlerNotifyPageChanged(pageNum) {
              console.log(pageNum)
              this.currentPage  = pageNum
              this.goPage(this.currentPage)
            },
            goPage(pageNo) {
                AdminRepository.getInquiryList(pageNo, this.filterInquiryNo, this.filterName, this.filterEmail, this.filterInquiryType, this.filterInquiryStatus, this.filterAnswerEmail).then((res) => {
                    if(res.status == 200) {
                        let {data, paging}  = res.data;
                        this.inquiries = data || [];
                        this.total = paging.totalElements;
                    }
                })
            },
        },
        created() {
          this.goPage(this.currentPage);
        }
    }
</script>

<style lang="scss" scoped>
    @import '~styles/admin';
    @import '~styles/resetA';
</style>