<template>
    <div>
        <component v-bind:is="modalState.name" :parameters="modalState.parameters" v-for="(modalState, index) in modalStates" :key="index" />
    </div>
</template>

<script>
    import {mapState} from 'vuex';

    //account 관련
    import MyAccountModifyPopupView from '@/components/popup/partials/account/MyAccountModifyPopupView';
    import MyAccountPasswordModifyPopupView from '@/components/popup/partials/account/MyAccountPasswordModifyPopupView';
    import LoggedOutPopupView from '@/components/popup/partials/account/LoggedOutPopupView';

    //voice font 관련
    import CharacterMultipleChangePopupView from '@/components/popup/partials/characterChange/CharacterMultipleChangePopupView';
    import CharacterSingleChangePopupView from '@/components/popup/partials/characterChange/CharacterSingleChangePopupView';

    // job 관련
    import JobNewFilePopupView from '@/components/popup/partials/job/JobNewFilePopupView';
    import JobImportPopupView from '@/components/popup/partials/job/JobImportPopupView';
    import JobSaveFilePopupView from '@/components/popup/partials/job/JobSaveFilePopupView';
    import JobSaveAsFilePopupView from '@/components/popup/partials/job/JobSaveAsFilePopupView';
    import SlangCheckPopupView from '@/components/popup/partials/job/SlangCheckPopupView';
    import JobDeletePopupView from '@/components/popup/partials/job/JobDeletePopupView';

    // 다운로드 관련
    import JobResultDownloadPopupView from '@/components/popup/partials/download/JobResultDownloadPopupView';

    // 결제 관련
    import AutoPaymentCancelPopupView from '@/components/popup/partials/payment/AutoPaymentCancelPopupView';

    // 관리자 페이지 - 문의관리 관련
    import AdminInquiryDetailPopupView from "@/components/popup/partials/admin/inquiry/AdminInquiryDetailPopupView";

    export default {
        components: {
            MyAccountModifyPopupView,
            MyAccountPasswordModifyPopupView,
            LoggedOutPopupView,

            CharacterMultipleChangePopupView,
            CharacterSingleChangePopupView,

            JobNewFilePopupView,
            JobImportPopupView,
            JobSaveFilePopupView,
            JobSaveAsFilePopupView,
            SlangCheckPopupView,
            JobDeletePopupView,

            JobResultDownloadPopupView,

            AutoPaymentCancelPopupView,

            AdminInquiryDetailPopupView,
        },
        computed: {
            ...mapState('base', {
                modalStates: 'modalStates'
            }),
        },
    }
</script>

<style lang="scss" scoped>
@import '~styles/base';
@import '~styles/reset';
@import '~styles/layout';
@import '~styles/main';
@import '~styles/sub';
</style>