<template>
    <div v-show="showModal">
        <input type="hidden" id="basicSignature" :value="billingFormData.basicSignature">
        <input type="hidden" id="businessSignature" :value="billingFormData.businessSignature">

        <!-- 무조건 returnUrl을 사용 도메인과 매칭시켜야됩니다. -->
        <form id="billingForm" name="" method="POST">

            <!-- ***** 필 수 ***** -->
            <input type="hidden" name="version" value="1.0">
            <input type="hidden" name="mid" :value="billingFormData.mid"> <!--mindslab01-->
            <input type="hidden" id="billingGoodName" name="goodname" :value="billingFormData.businessName">
            <input type="hidden" name="oid" :value="billingFormData.oid"> <!--mindslab01_Date-->
            <input type="hidden" id="billingPrice" name="price" :value="billingFormData.businessPrice">
            <input type="hidden" name="currency" value="WON">
            <input type="hidden" name="buyername" :value="billingFormData.name">
            <input type="hidden" name="buyertel" :value="billingFormData.phoneNumber">    <!-- phone 번호 확인 필요 -->
            <input type="hidden" name="buyeremail" :value="billingFormData.userId">
            <input type="hidden" name="timestamp" :value="billingFormData.timestamp">
            <input type="hidden" id="billingSignature" name="signature" :value="billingFormData.businessSignature">
            <input type="hidden" name="returnUrl"
                   :value="`${billingFormData.siteDomain}/payment/${billingFormData.method}?email=${this.$store.state.loginUser}`">
            <input type="hidden" name="mKey" :value="billingFormData.mkey">

            <!-- ***** 기본옵션 ***** -->
            <input type="hidden" name="gopaymethod" value="Card">
            <input type="hidden" name="offerPeriod" :value="`${billingFormData.dateTo}-${billingFormData.dateFrom}`">
            <!--20200930-20201030-->
            <input type="hidden" name="acceptmethod" value="BILLAUTH(card)">
            <!-- 	<input   id="billPrint_msg" name="billPrint_msg" value="고객님의 매월 결제일은 24일 입니다." > -->

            <!-- ***** 표시옵션 ***** -->
            <input type="hidden" name="languageView" value="ko">
            <input type="hidden" name="charset" value="UTF-8">
            <input type="hidden" name="payViewType" valu="overlay">
            <input type="hidden" name="closeUrl" :value="`${billingFormData.siteDomain}/payment/close`">

            <!-- ***** 추가옵션 ***** -->
            <!-- 	<input  name="merchantData" value="" > -->
            <!--            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />-->
        </form>

    </div>
</template>

<script>
export default {
    name: "BillingPopupView",
    props: {
        showModal: false,
        billingFormData: null
    },
    computed: {},
    methods: {}
}

</script>

<style lang="scss" scoped>
@import '~styles/base';
@import '~styles/reset';
@import '~styles/layout';
@import '~styles/main';
@import '~styles/sub';
</style>