<template>
    <div id="top_banner" v-if="this.banner_today_hide">
      <div class="top_banner_contents">
        <div class="event"></div>
        <div class="text_20000"></div>
        <p class="today_close_box">
          <input type="checkbox" id="today_close" v-model="banner_today_hide_cb">
          <label for="today_close">오늘 하루 보지 않기</label>
        </p>
        <a href="javascript:void(0);" title="닫기" class="top_banner_close" @click="bannerClose"></a>
      </div>
    </div>
</template>

<script>
    import cookie from '@/utils/cookies';
    export default {
        data() {
            return {
                banner_today_hide: true,
                banner_today_hide_cb: false
            }
        },
        methods: {
            bannerClose() {
                if(this.banner_today_hide_cb) {
                    var cookieExpire = new Date();
                    cookieExpire.setHours(cookieExpire.getHours() + 24);
                    cookie.setCookie("top_banner","done", cookieExpire);
                }
                this.banner_today_hide = false;
            }
        },
        created () {
            let _top_banner = cookie.getCookie("top_banner") || "";
            this.banner_today_hide = _top_banner.indexOf("done") == -1;
        },
    }
</script>

<style lang="scss" scoped>
@import '~styles/base';
@import '~styles/reset';
@import '~styles/layout';
@import '~styles/main';
@import '~styles/sub';
</style>