<template>
    <div class="container main">
        <MainBannerView v-if="false" />
        <nav id="nav">
            <NavLogoView />
            <NavMyInfoView />
            <NavSideMenuView />
        </nav>
        <!-- voice font List area -->
        <CharacterList />
        <ScriptMinMapView />
        <ScriptMainView />
        <AVAToasts
            :show-progress="true"
            :rtl="true"
            :max-messages="7"
            :time-out="5000" 
            :closeable="true"
        ></AVAToasts>
        <PopupManagementView />
    </div>
</template>

<script>
    import Vue from 'vue';
    import { mapState, mapGetters, mapActions } from 'vuex';

    import AVAToasts from '@/components/common/AVAToasts';

    import MainBannerView from './MainBannerView';
    import NavLogoView from '@/components/nav/NavLogoView';
    import NavMyInfoView from '@/components/nav/NavMyInfoView';
    import NavSideMenuView from '@/components/nav/NavSideMenuView';
    import CharacterList from '@/components/character/CharacterList';
    import ScriptMinMapView from './partials/ScriptMinMapView';
    import ScriptMainView from './partials/ScriptMainView';

    import PopupManagementView from '@/components/popup/PopupManagementView';
    
    import {RepositoryFactory} from '@/repositories/RepositoryFactory';
    const CharacterRepository = RepositoryFactory.get('character');

    export default {
        components: { 
            AVAToasts,

            MainBannerView,
            NavLogoView,
            NavMyInfoView, 
            NavSideMenuView, 
            CharacterList,
            ScriptMinMapView,
            ScriptMainView,

            PopupManagementView,
            
            
        },
        computed: {
            ...mapState('job', {
                jobScripts: 'jobScripts',
            }),
        },
        methods: {
            ...mapActions('character', {
                setCharacters: 'setCharacters',     // 보이스폰트 리스트 저장
                setLastCharacter: 'setLastCharacter', // 가장 나중에 선택된 보이스폰트
            }),
            ...mapActions('job', {
                clearJobBasicInfo: 'clearJobBasicInfo',
                insertAtJobScript: 'insertAtJobScript' 
            }),
            ...mapActions('user', {
                login: 'login'
            }),
            goHomeClicked() {
                this.$router.push({ name: 'MainHomeView' });
            }
        },
        async created () {
            const vm = this;
            try {
                this.clearJobBasicInfo(); // JOB ID, TITLE 초기화
                const [dailyCharacter, characterList] = await Promise.all([CharacterRepository.dailyCharacter(), CharacterRepository.list()]);
                this.setCharacters(characterList.data); // 화자 리스트 Store 저장
                this.setLastCharacter(dailyCharacter.data);
                if(!this.jobScripts.length)
                    this.insertAtJobScript({index:0, fake:true}) // 초기 Dummy Script를 위한 세팅
            }catch(e) { }
            
        },
    }
</script>

<style lang="scss" scoped>
@import '~styles/base';
@import '~styles/reset';
@import '~styles/layout';
@import '~styles/main';
@import '~styles/sub';
</style>
