<template>
    <div>
        <button @click="testClicked">signIn 테스트</button> <br/>
        <button @click="test2Clicked">signOut 테스트</button> <br/>
        <button @click="test3Clicked">클릭 테스트</button>
    </div>
</template>

<script>
    import Vue from 'vue';
    import { mapState, mapGetters, mapActions } from 'vuex';
    import {RepositoryFactory} from '@/repositories/RepositoryFactory';
    const CharacterRepository = RepositoryFactory.get('character');
    const JobRepository = RepositoryFactory.get('job');
    
    export default {
        data() {
            return {
                userId: "test@test.net",
                userPw: "1234",
            }
        },
        methods: {
            ...mapActions('user', {
                signIn: 'signIn',
                signOut: 'signOut',
            }),
            testClicked() {
                this.signIn({'userId': this.userId, 'userPw': this.userPw}).then(()=>{
                        console.log("signIn OK")
                    }).catch(reason=>{
                        console.log(reason)
                    })
            },
            test2Clicked(){
                this.signOut().then(()=>{
                    console.log("signOut OK")
                }).catch(reason=>{
                    console.log(reason)
                })

            },test3Clicked(){
                JobRepository.getJobContent("111").then(res=> {
                    console.log(res);
                }).catch(error =>{
                    console.log(error);
                })
            }
        },
    }
</script>

<style lang="scss" scoped>
@import '~styles/base';
@import '~styles/reset';
@import '~styles/layout';
@import '~styles/main';
@import '~styles/sub';
</style>