<template>
    <div>
        <AdminHeader menu="user"></AdminHeader>
        <div id="wrap" class="member_detail">
            <div class="member information">
                <ul>
                    <li class="member_number" :class="activeUserClassAttr">{{user.userNo}}</li>
                    <li class="member_name">{{user.userNm}}</li>
                    <li class="member_status" :class="activeUserClassAttr">{{user.active ? "회원" : "탈퇴"}}</li>
                    <li class="plan">
                        <ul>
                            <li class="label">Plan</li>
                            <li>{{user.active ? user.currPlanNm : "-"}}</li>
                        </ul>
                    </li>

                    <li class="sign_up_date" v-if="user.active">
                        <ul>
                            <li class="label">가입일자</li>
                            <li>{{user.registeredDate}}</li>
                        </ul>
                    </li>
                    <li class="withdrawal_date withdraw" v-else>
                        <ul>
                            <li class="label">탈퇴일자</li>
                            <li>-</li>
                        </ul>
                    </li>
                </ul>
                <ul>
                    <li class="email">
                        <ul>
                            <li class="label">E mail(ID)</li>
                            <li>{{user.userId}}</li>
                        </ul>
                    </li>
                    <li class="company">
                        <ul>
                            <li class="label">Company</li>
                            <li>{{user.companyNm ? user.companyNm : "-"}}</li>
                        </ul>
                    </li>
                    <li class="contact_us">
                        <ul>
                            <li class="label">연락처</li>
                            <li>{{user.phoneNum}}</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <h2>결제정보</h2>
            <div class="table pay">
                <ul class="thead">
                    <li class="pay_no">No.</li>
                    <li class="pay_plan">plan</li>
                    <li class="pay_money">금액(₩)</li>
                    <li class="pay_card_company">카드사</li>
                    <li class="pay_card_number">카드번호</li>
                    <li class="pay_approval_date">승인일자</li>
                    <li class="pay_sortation">구분</li>
                    <li class="pay_cancel_date">결제취소(취소일자)</li>
                    <li class="comment">비고</li>
                </ul>
                <!-- tbody class에 empty추가하시면 empty 화면 보실수 있습니다. -->
                <div class="tbody" :class="emptyPayHistoryClassAttr">
                    <ul class="tbody_empty_tr">
                        <li>
                            <img src="~@/assets/images/ico-empty-68-px.png" alt="빈상자"/>
                            <p>불러올 내용이 없습니다.</p>
                        </li>
                    </ul>
                    <ul class="tbody_tr" v-for="(pay, idx) in payHistory">
                        <li class="pay_no">{{pay.payNo}}</li>
                        <li class="pay_plan">{{pay.planNm}}</li>
                        <li class="pay_money">{{pay.price}}</li>
                        <li class="pay_card_company">{{pay.cardCompany}}</li>
                        <li class="pay_card_number">{{pay.cardNo}}</li>
                        <li class="pay_approval_date" :class="nullValueClassAttr(pay.applDate)">
                            {{pay.applDate ? pay.applDate : "-"}}
                        </li>
                        <li class="pay_sortation">{{pay.payType}}</li>
                        <li class="pay_cancel_date cancel_result" v-if="pay.cancelDate">{{pay.cancelDate}}</li>
                        <li class="pay_cancel_date" v-else>
                            <a href="javascript:void(0)" @click="cancelPay(pay.payNo, idx)">결제취소</a>
                        </li>
                        <li class="comment "><a href="javascript:void(0)">보기</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <h2>구독정보</h2>
            <div class="table subscribe">
                <ul class="thead">
                    <li class="subscribe_no">No.</li>
                    <li class="subscribe_plan">plan</li>
                    <li class="subscribe_this_month_words">전 플랜 이월 총 글자수<br/><span>(소멸예정일)</span></li>
                    <li class="subscribe_1month_ago_words">전 플랜 이월 사용 글자수<br/><span>(소멸예정일)</span></li>
                    <li class="subscribe_used_words">당월 사용 글자수 / 당월 총 글자수</li>
                    <li class="subscribe_2month_ago_words">총 남은 글자수</li>
                    <li class="subscribe_term">구독 기간</li>
                    <li class="subscribe_real_end_date">실제 구독 종료일</li>
                    <li class="comment">비고</li>
                </ul>
                <!-- tbody class에 empty추가하시면 empty 화면 보실수 있습니다. -->
                <div class="tbody" :class="emptyUserTimelineClassAttr">
                    <ul class="tbody_empty_tr">
                        <li>
                            <img src="~@/assets/images/ico-empty-68-px.png" alt="빈상자"/>
                            <p>불러올 내용이 없습니다.</p>
                        </li>
                    </ul>
                    <ul class="tbody_tr" v-for="(timeline, index) in userTimeline" >
                        <li class="subscribe_no">{{timeline.userPlanNo}}</li>
                        <li class="subscribe_plan">{{timeline.planNm}}</li>
                        <li class="subscribe_1month_ago_words">{{timeline.prevCharLeftCount}}</li>
                        <li class="subscribe_2month_ago_words">{{timeline.prevCharUsedCount}}</li>
                        <li class="subscribe_used_words"><span class="used">{{timeline.currCharUsedCount}}</span> <span>/</span> <span
                            class="totally">{{timeline.currCharLeftCount}}</span></li>
                        <li class="subscribe_2month_ago_words">{{timeline.totPlanMaxLimit}}</li>
                        <li class="subscribe_term">{{ formatDate(timeline.planStartAt) }} ~ {{ formatDate(timeline.planEndAt) }}</li>
                        <li class="subscribe_real_end_date">{{ formatDate(timeline.actualPlanEndAt) }}</li>
                        <li class="comment"><a href="#">보기</a></li>
                    </ul>
                </div>
            </div>
            <div id="payment_cancel" class="modal">
                <div class="modal_bg"></div>
                <div class="modal_contents">
                    <h4>결제를 취소하시겠습니까?</h4>
                    <p>결제취소 적용 시,</p>
                    <ul>
                        <li class="list_style"></li>
                        <li>해당 건의 전액이 환불됩니다. <em>환불 사유가 적합한지 다시 한번 검토</em>해주세요.</li>
                        <li class="list_style"></li>
                        <li>결제취소 건에 대하여 비고란에 <em>자동으로 관리자 ID 및 시간이 기록</em>됩니다.</li>
                        <li class="list_style"></li>
                        <li>결제취소 <em>사유 및 처리내용</em>에 대하여 반드시 내용을 기입해주세요.</li>
                    </ul>
                    <button>결제취소</button>
                    <button class="cancel">취소</button>
                </div>
            </div>
            <!--    <div id="comment_detail" class="modal">-->
            <!--      <div class="modal_bg"></div>-->
            <!--      <div class="modal_contents">-->
            <!--        <div class="modal_close"></div>-->
            <!--        <h4>비고 내역 상세보기</h4>-->
            <!--        &lt;!&ndash; lists class에 empty 추가시 empty 화면 나타남 &ndash;&gt;-->
            <!--        <ul class="lists ">-->
            <!--          <li class="empty_list">-->
            <!--            <img src="~@/assets/images/ico-empty-68-px.png" alt="빈상자" />-->
            <!--            <p>불러올 내용이 없습니다.</p>-->
            <!--          </li>-->
            <!--          <li class="list">-->
            <!--            <ul>-->
            <!--              <li class="writer_infomation"><span class="email">lkm@maindslab.ai</span><span>2020.01.21 17:13:35</span>-->
            <!--              </li>-->
            <!--              <li class="list_comment">-->
            <!--                얼음 끓는 수 교향악이다. 온갖 얼마나 것이다.보라, 인간의 사막이다. 청춘은 풀이 소리다.이것은 하였으며, 그림자는 청춘이 못할 이것이다. 생생하며, 넣는 심장의 피고 청춘의 없으면, 때문이다. 안고, 밝은 긴지라 교향악이다.-->
            <!--              </li>-->
            <!--            </ul>-->
            <!--          </li>-->
            <!--          <li class="list">-->
            <!--            <ul>-->
            <!--              <li class="writer_infomation"><span class="email">lkm@maindslab.ai</span><span>2020.01.21 17:13:35</span>-->
            <!--              </li>-->
            <!--              <li class="list_comment">-->
            <!--                &lt;관리자 환불&gt;-->
            <!--              </li>-->
            <!--            </ul>-->
            <!--          </li>-->
            <!--          <li class="list">-->
            <!--            <ul>-->
            <!--              <li class="writer_infomation"><span class="email">lkm@maindslab.ai</span><span>2020.01.21 17:13:35</span>-->
            <!--              </li>-->
            <!--              <li class="list_comment">-->
            <!--                얼음 끓는 수 교향악이다. 온갖 얼마나 것이다.보라, 인간의 사막이다. 청춘은 풀이 소리다.이것은 하였으며, 그림자는 청춘이 못할 이것이다. 생생하며, 넣는 심장의 피고 청춘의 없으면, 때문이다. 안고, 밝은 긴지라 교향악이다.-->
            <!--              </li>-->
            <!--            </ul>-->
            <!--          </li>-->
            <!--          <li class="list">-->
            <!--            <ul>-->
            <!--              <li class="writer_infomation"><span class="email">lkm@maindslab.ai</span><span>2020.01.21 17:13:35</span>-->
            <!--              </li>-->
            <!--              <li class="list_comment">-->
            <!--                얼음 끓는 수 교향악이다. 온갖 얼마나 것이다.보라, 인간의 사막이다. 청춘은 풀이 소리다.이것은 하였으며, 그림자는 청춘이 못할 이것이다. 생생하며, 넣는 심장의 피고 청춘의 없으면, 때문이다. 안고, 밝은 긴지라 교향악이다.-->
            <!--              </li>-->
            <!--            </ul>-->
            <!--          </li>-->
            <!--          <li class="list">-->
            <!--            <ul>-->
            <!--              <li class="writer_infomation"><span class="email">lkm@maindslab.ai</span><span>2020.01.21 17:13:35</span>-->
            <!--              </li>-->
            <!--              <li class="list_comment">-->
            <!--                얼음 끓는 수 교향악이다. 온갖 얼마나 것이다.보라, 인간의 사막이다. 청춘은 풀이 소리다.이것은 하였으며, 그림자는 청춘이 못할 이것이다. 생생하며, 넣는 심장의 피고 청춘의 없으면, 때문이다. 안고, 밝은 긴지라 교향악이다.-->
            <!--              </li>-->
            <!--            </ul>-->
            <!--          </li>-->
            <!--          <li class="list">-->
            <!--            <ul>-->
            <!--              <li class="writer_infomation"><span class="email">lkm@maindslab.ai</span><span>2020.01.21 17:13:35</span>-->
            <!--              </li>-->
            <!--              <li class="list_comment">-->
            <!--                얼음 끓는 수 교향악이다. 온갖 얼마나 것이다.보라, 인간의 사막이다. 청춘은 풀이 소리다.이것은 하였으며, 그림자는 청춘이 못할 이것이다. 생생하며, 넣는 심장의 피고 청춘의 없으면, 때문이다. 안고, 밝은 긴지라 교향악이다.-->
            <!--              </li>-->
            <!--            </ul>-->
            <!--          </li>-->
            <!--          <li class="list">-->
            <!--            <ul>-->
            <!--              <li class="writer_infomation"><span class="email">lkm@maindslab.ai</span><span>2020.01.21 17:13:35</span>-->
            <!--              </li>-->
            <!--              <li class="list_comment">-->
            <!--                얼음 끓는 수 교향악이다. 온갖 얼마나 것이다.보라, 인간의 사막이다. 청춘은 풀이 소리다.이것은 하였으며, 그림자는 청춘이 못할 이것이다. 생생하며, 넣는 심장의 피고 청춘의 없으면, 때문이다. 안고, 밝은 긴지라 교향악이다.-->
            <!--              </li>-->
            <!--            </ul>-->
            <!--          </li>-->
            <!--        </ul>-->
            <!--        <div class="write">-->
            <!--          <p class="writer_infomation">작성자 <span class="email">lkm@mindslab.ai</span></p>-->
            <!--          <textarea rows="2" placeholder="내용을 입력해주세요."></textarea>-->
            <!--        </div>-->
            <!--        <button>등록</button>-->
            <!--      </div>-->
            <!--    </div>-->
        </div>
        <footer>
            <p>&copy; Minds Lab.</p>
        </footer>
    </div>
</template>

<script>
    import AdminHeader from "@/components/admin/header/Header";
    import {RepositoryFactory} from "@/repositories/RepositoryFactory";
    import adminRepository from "@/repositories/adminRepository";
    import moment from 'moment';


    const AdminRepository = RepositoryFactory.get('admin');
    const PaymentRepository = RepositoryFactory.get('payment')

    export default {
        name: "UserDetailView",
        components: {
            AdminHeader,
        },
        data() {
            return {
                user: {},
                userTimeline: [],
                payHistory: []
            }
        },
        props: {
            userNo: {
                required: true
            }
        },
        computed: {
            activeUserClassAttr() {
                return {withdraw_status: !this.user.active}
            },
            emptyPayHistoryClassAttr(){
                return {empty : this.payHistory.length == 0}
            },
            emptyUserTimelineClassAttr(){
                // debugger
                return {empty : this.userTimeline.length == 0}
            }
        },
        methods: {
            goAdminMainClicked() {
                this.$router.push({name: 'UserListView'});
            },
            goAdminStatClicked() {
                alert('아직 준비중인 기능입니다.');
            },
            goAdminInquiryClicked() {
                alert('아직 준비중인 기능입니다.');
            },
            goAdminAnnounceClicked() {
                alert('아직 준비중인 기능입니다.');
            },
            async cancelPay(payNo, idx) {
                try {
                    const {data} = await PaymentRepository.cancelPayment(payNo, "관리자처리")

                    if (data.resultCode != "00") {
                        alert(`오류 [${data.resultCode}]: ${data.resultMsg}`)
                    } else {
                        alert("성공")
                        this.payHistory[idx].cancelDate = data.cancelDate
                    }
                } catch (err) {
                    alert(`오류 [${data.resultCode}]: ${data.resultMsg}`)
                }
            },
            setData(userInfo, payHistory, userTimeline) {
                this.user = userInfo
                this.payHistory = payHistory
                this.userTimeline = userTimeline
            },
            nullValueClassAttr(val) {
                return {null: val}
            },
            formatDate(date){
                if (date) {
                    return moment(String(date)).format('YYYY-MM-DD')
                }
            },
        },
        async beforeRouteEnter(to, from, next) {
            try {
                const {data: userInfo} = await adminRepository.getUserInfo(to.params.userNo)
                const {data: payHistory} = await adminRepository.getUserPayHistory(to.params.userNo)
                const {data: userTimeline} = await adminRepository.getUserTimeline(to.params.userNo)
                next(vm => vm.setData(userInfo, payHistory, userTimeline))
            } catch (err) {

            }
        }
    }
</script>

<style lang="scss" scoped>
    @import '~styles/admin';
    @import '~styles/resetA';

</style>