<template>
    <div>
        <AdminHeader menu="user"></AdminHeader>
        <div id="wrap">
            <form @submit.prevent="goPage(1)">
                <fieldset>
                    <legend>search_filter</legend>
                    <label for="name">이름(닉네임)</label>
                    <input type="text" id="name" v-model="filterName" placeholder="회원 이름(닉네임)을 입력하세요.">
                    <label for="email">E mail(ID)</label>
                    <input type="email" id="email" v-model="filterEmail" placeholder="Email(ID)를 입력하세요.">
                    <label for="contact">연락처</label>
                    <input type="number" id="contact" v-model="filterNumber" placeholder="연락처를 입력하세요.">
                    <label for="company">Company</label>
                    <input type="text" id="company" v-model="filterCompany" placeholder="회사/소속을 입력하세요.">
                    <label for="plan">Plan</label>
                    <select v-model="filterPlan" name="plan" id="plan" class="admin-select">
                        <option value="">ALL</option>
                        <option value="1">LITE</option>
                        <option value="2">STANDARD</option>
                        <option value="3">BUSINESS</option>
                        <option value="4">무료회원</option>
                    </select>
                    <input type="submit" value="회원조회">
                </fieldset>
            </form>

            <div class="table member_managing">
                <ul class="thead">
                    <li class="no">No.</li>
                    <li class="name">이름(닉네임)</li>
                    <li class="email">E mail(ID)</li>
                    <li class="contact">연락처</li>
                    <li class="company">Company</li>
                    <li class="plan">Plan</li>
                </ul>
                <ul class="tbody_tr" v-for="user in users">
                    <a @click="goUserDetailClicked(user.userNo)">
                        <li class="no">{{ user.userNo }}</li>
                        <li class="name">{{ user.userNm }}</li>
                        <li class="email">{{ user.userEmail }}</li>
                        <li class="contact">{{ user.userCellPhone }}</li>
                        <li class="company">{{ user.companyNm }}</li>
                        <li class="plan">{{ isSubscribedUser(user.plans) ? user.plans[0].planNm : "-" }}</li>
                    </a>
                </ul>
            </div>
            <AVAPagination v-model="currentPage" :records="total" :perPage="10" @notify:pageChanged="handlerNotifyPageChanged" />
        </div>
        <footer>
            <p>&copy; Minds Lab.</p>
        </footer>
    </div>
</template>

<script>

    import {RepositoryFactory} from "@/repositories/RepositoryFactory";
    import AdminHeader from "@/components/admin/header/Header";
    import AVAPagination from '@/components/common/AVAPagination';

    const PlanRepository = RepositoryFactory.get('plan');
    const ManageRepository = RepositoryFactory.get('manage')

    export default {
        name: "UserListView",
        components: {
            AdminHeader,
            AVAPagination,
        },
        data() {
            return {
                plans: [],
                options: [],
                users: [],
                filterName: null,
                filterEmail: null,
                filterNumber: null,
                filterCompany: null,
                filterPlan: null,

                currentPage: 1,
                total: 0,
            }
        },
        methods: {
            async getPlans() {
                const {data: plans} = await PlanRepository.getList()
                this.plans = plans.filter(plan => plan.planNo <= 4)
                let dropdownOption = [];
                this.plans.forEach(index => {
                    dropdownOption.push({value: index.planNo, text: index.planNm})
                })
                this.options = dropdownOption;
            },
            isSubscribedUser(plans) {
                return plans.length > 0;
            },
            goAdminMainClicked() {
                this.$router.push({name: 'UserListView'});
            },
            goAdminInquiryClicked() {
                alert('아직 준비중인 기능입니다.');
            },
            goAdminAnnounceClicked() {
                alert('아직 준비중인 기능입니다.');
            },
            goUserDetailClicked(userNo) {
                this.$router.push({
                    name: 'UserDetailView',
                    params: {userNo}
                })
                // alert('아직 준비중인 기능입니다.');
            },
            handlerNotifyPageChanged(pageNum) {
                console.log(pageNum)
                this.currentPage  = pageNum
                this.goPage(this.currentPage)
            },
            goPage(pageNo) {
                ManageRepository.manage_user_list(pageNo, this.filterName, this.filterEmail, this.filterNumber, this.filterCompany, this.filterPlan).then((res) => {
                if(res.status == 200) {
                  let {data, paging}  = res.data;
                  this.users = data || [];
                  this.total = paging.totalElements;
                }
              })
            },
        },
        created() {
            this.getPlans()
            this.goPage(this.currentPage);
        }
    }
</script>

<style lang="scss" scoped>
    @import '~styles/admin';
    @import '~styles/resetA';
</style>