<template>
    <footer class="sign_up_footer">
    <ul>
        <li><em>&copy;Minds Lab.</em> 대표 유태준</li>
        <li>사업자 등록번호 314-86-55446</li>
        <li>    
        <address>경기도 성남시 분당구 대왕판교로 664번길 49 6층</address>
        </li>
        <li><a href="//mindslab.ai/">회사소개</a></li>
        <li><a href="javascript:void(0)" @click="goPolicyService">이용약관</a></li>
        <li><a href="javascript:void(0)" @click="goPolicyPrivacy">개인정보처리방침</a></li>
    </ul>
    </footer>
</template>

<script>
    export default {
        methods: {
            goPolicyService() {
                this.$router.push({ name: 'PolicyServiceView' });
            },
            goPolicyPrivacy() {
                this.$router.push({ name: 'PolicyPrivacyView' });
            }
        },   
    }
</script>

<style lang="scss" scoped>
    @import '~styles/sub';
    @import '~styles/layout';
    @import '~styles/reset';
</style>