<template>
    <header>
        <h1><router-link to="/admin/users"></router-link></h1>
        <ul class="gnb">
            <li :class="menu === 'user' ? 'active' : ''"><router-link to="/admin/users">회원관리</router-link></li>
            <li :class="menu === 'stat' ? 'active' : ''"><router-link to="/admin/statistics">통계</router-link>
                <ul class="lnb">
                    <li><router-link to="/admin/statistics/user">유저 통계</router-link></li>
                    <li><router-link to="/admin/statistics/voice">Voice Font 통계</router-link></li>
                </ul>
            </li>
          <li :class="menu === 'qna' ? 'active' : ''"><router-link to="/admin/inquiries">문의</router-link></li>
            <li :class="menu === 'notice' ? 'active' : ''"><a @click="goAdminAnnounceClicked">공지사항</a></li>
        </ul>
    </header>
</template>

<script>
export default {
    props: {
        menu: {
            type: String,
        },
    },
    data() {
        return {

        }
    },
    methods: {
        goAdminAnnounceClicked() {
            alert('아직 준비중인 기능입니다.');
        },
    },
}
</script>

<style lang="scss" scoped>
    @import '~styles/admin';
    @import '~styles/resetA';
</style>