<template>
    <section id="mini_map">
      <h3 class="font_14_b">Mini Map</h3>
      <ul>
        <ScriptMinMapItem 
            v-for="(item, index) in jobScripts"
            :label="item.orderSeq"
            :key="index">
        </ScriptMinMapItem>
      </ul>
    </section>
</template>

<script>
    import Vue from "vue";
    import {mapState, mapGetters, mapActions} from 'vuex';

    import ScriptMinMapItem from './ScriptMinMapItem';
    export default {
        components: {
            ScriptMinMapItem,
        },
        computed: {
            ...mapState('job', {
                jobScripts: 'jobScripts',
            }),
        },       
    }
</script>

<style lang="scss" scoped>
@import '~styles/base';
@import '~styles/reset';
@import '~styles/layout';
@import '~styles/main';
@import '~styles/sub';
</style>