<template>
    <li class="script">
        <ul>
            <li class="index">
                <i class="icon-ico-handle-24px"></i>
                <span class="font_10_r ">Script <em>{{this.label | numberPad}}</em></span>
                
                <AVAAudioSeekTime :duration="jobScript.ttsPlayTime"></AVAAudioSeekTime>
                <div class="function_buttons">
                    <i id="audio_play_button" class="icon-ico-play-speaker-16px icon_bg_24 bg_purple tooltip" @click="audioPlayClicked"><span class="tooltip_text">한칸재생</span></i>
                    <i class="icon-ico-copy-16px icon_bg_24 bg_blue tooltip" @click="copyToClipboardClicked"><span class="tooltip_text">복사하기</span></i>
                    <i class="icon-ico-delete-16px icon_bg_24 bg_sky_blue tooltip" @click="removeJobScriptClicked"><span class="tooltip_text">한줄삭제</span></i>
                </div>
            </li>
            <li class="conversation">
                <div class="character-spinner-circle character-spinner" v-if="this.isConverting(this.index)"></div>
                <div :class="['avatar', `${character.avatarClassNm}-56`]">
                    <CharacterStretchLoading v-if="this.isPlayEnable(this.index) && this.getIsPlaying(this.index)" ></CharacterStretchLoading>
                </div>
                <button class="font_10_b" @click="changeCharacterClicked"><span>{{character.characterNm}}</span></button>
                <AVATextarea
                    cols="30" rows="10" placeholder="내용을 입력해주세요." 
                    ref="edit"
                    :class="incProf ? 'warning' : ''"
                    :value="this.jobScript.scriptText"
                    @textOnChanged="handlerTextOnChanged">
                </AVATextarea>
            </li>
        </ul>
        <div class="add" @click="addJobScriptClicked"></div>
    </li>
</template>

<script>
    import Vue from "vue";
    import {mapState, mapGetters, mapActions} from 'vuex';

    import AVATextarea from '@/components/common/AVATextarea';
    import AVAAudioSeekTime from '@/components/common/AVAAudioSeekTime';
    import CharacterStretchLoading from '@/components/character/CharacterStretchLoading';

    import {RepositoryFactory} from '@/repositories/RepositoryFactory';
    const JobRepository = RepositoryFactory.get('job');
    const userRepository = RepositoryFactory.get('user');

    import {EventBus} from '@/utils/bus';

    export default {
        components: {
            AVATextarea, AVAAudioSeekTime, CharacterStretchLoading, 
        },
        props: {
            label: {
                type: Number,
                default: ''
            },
            jobScript: {
                type: Object,
                default: {}
            },
            index: {
                type: Number,
                default: 0,
            }
        },
        data() {
            return {
                incProf: false,
            }
        },
        computed: {
            ...mapState('character', {
                characterMap: 'characterMap',
            }),
            //job module store
            ...mapState('job', {
                jobId: 'jobId',               // JOB ID
                jobScripts: 'jobScripts'
            }),
            ...mapState('user', {
                userInfo: 'userInfo',
            }),
            ...mapGetters('player', {
                findConvertableJobScriptIndex: 'findConvertableJobScriptIndex',
                getIsPlaying: 'getIsPlaying',
                isConverting: 'isConverting',
                isPlayEnable: 'isPlayEnable',
            }),
            ...mapGetters('user', {
                getProfanityAgreed: 'getProfanityAgreed',
            }),
            characterId() {
                return this.jobScript.characterId;
            },
            character() {
               return this.characterMap[this.characterId];
            },
            
        },
        methods: {
            ...mapActions('base', {
                setModal: 'setModal',
            }),
            ...mapActions('user', {
                setProfanityAgree: 'setProfanityAgree',
            }),
            ...mapActions('job', {
                insertAtJobScript: 'insertAtJobScript',
                removeAtJobScript: 'removeAtJobScript',
                updateAtJobScriptText: 'updateAtJobScriptText',           // 변경 텍스트 업데이트 처리 - Action caller
                detectMoreConvertScripts: 'detectMoreConvertScripts'
            }),
            ...mapActions('player', {
                forceChangeTrack: 'forceChangeTrack',
                forceTrackStop: 'forceTrackStop',
            }),
            handlerTextOnChanged(value) {
                this.updateAtJobScriptText({ 'index' : this.index, 'text' : value }).then(async(jobScript)=> {
                    jobScript.checkProfanity = this.getProfanityAgreed();
                    let {data, acceptSlangResponsibility} = await JobRepository.updateJobScript(this.jobId, jobScript.scriptId, jobScript);
                    if(data.invalidSlangWord){
                        this.incProf = true;
                        if(!jobScript.checkProfanity){
                            userRepository.profanityCheck().then((v) => {
                                if(!v.data.agree){
                                    this.setModal({name:'SlangCheckPopupView', parameters: { slangCheck : data }});
                                    //EventBus.$emit("slangCheck", data);
                                    //this.setModal('SlangCheckPopupView');
                                }else{
                                    this.setProfanityAgree(true);
                                }
                            });
                        }
                    }else{
                        this.incProf = false;
                    }
                });
            },
            changeCharacterClicked() {
                this.setModal({name:'CharacterSingleChangePopupView', parameters: { changeScriptIndex : this.index }})
            },
            audioPlayClicked() {
                this.forceChangeTrack({ cursor: this.index, needForConvert: true, endPlay: false });
            },
            copyToClipboardClicked() {
                let targetTextareaEle$ = this.$refs.edit.$el;
                if(targetTextareaEle$.value == "") {
                    this.$toast.warning("복사할 스크립트가 없습니다.");
                    return;
                }
                try {
                    targetTextareaEle$.select()
                    var ClipboardState = document.execCommand('copy');
                    if(ClipboardState === "unsuccessful") {
                        this.$toast.warning("복사 실패했습니다.");
                    }else {
                        this.$toast.success("복사 되었습니다.")
                    }
                } catch (err) { }
            },
            removeJobScriptClicked() {
                if(this.jobScripts.length == 1) {
                    this.$toast.warning("더 이상 삭제할 수 없습니다.");
                    return;
                }
                this.removeAtJobScript(this.index);
            },
            addJobScriptClicked() {
                this.insertAtJobScript({index:this.index + 1, characterId: this.characterId})
            }
        },
    }
</script>

<style lang="scss" scoped>
@import '~styles/base';
@import '~styles/reset';
@import '~styles/layout';
@import '~styles/main';
@import '~styles/sub';
</style>