<template>
    <li>
        <a href="#" v-scroll-to="`#script-${$options.filters.numberPad(this.label)}`">Script <em>{{label | numberPad}}</em></a>
    </li>
</template>

<script>
    import Vue from "vue";
    export default {
        props: {
            label: {
                type: Number,
                default: ''
            },
        },
        computed: {
            label_with_format() {
                return filters.numberPad(this.label)
            }
        },
    }
</script>

<style lang="scss" scoped>
@import '~styles/base';
@import '~styles/reset';
@import '~styles/layout';
@import '~styles/main';
@import '~styles/sub';
</style>