<template>
  <AVAModal
            @popup:notifyClosed="handlerNotifyClosed"
            :isClose="true">
    <h4 slot="title">정말 구독을 취소하시겠습니까?</h4>
    <section slot="content">
      <div id="auto_payment_cancel">
        <ul>
          <li class="list_style"></li>
          <li>정기결제 7일 이내에 취소한 분에 한해서 사용량에 비례한 환불이 진행되며 카드사 상황에 따라 3~4일이 소요될 수 있습니다. 이때 환불액은 (마지막 정기결제된 금액 * 남은 글자
            수/제공 글자 수) 으로 산정됩니다.</li>
          <li class="list_style"></li>
          <li>7일 이후 구독 취소에 대해서는 환불이 불가능하며 구독중인 플랜은 해당 월의 결제 유효기간이 끝나는 시점까지 지속되며, 해당 기간이 끝나면 무료 회원으로 전환됩니다.</li>
        </ul>
        <button @click="planCancel">구독취소</button>
      </div>
    </section>
  </AVAModal>
</template>

<script>
import Vue from "vue";
import {mapState, mapGetters, mapActions} from 'vuex';

import AVAModal from '@/components/common/AVAModal';
import {RepositoryFactory} from "@/repositories/RepositoryFactory";

const PaymentRepository = RepositoryFactory.get('payment')
export default {
  name: "AutoPaymentCancelPopupView",
  components: {
    AVAModal,
  },
  methods: {
    ...mapActions('base', {
      removeModal: 'removeModal',
    }),
    handlerNotifyClosed() {
      this.removeModal(this);
    },
    planCancel() {
      this.removeModal(this);
      PaymentRepository.planCancel().then(res => {
        let data = res.data;
        console.log(data.msg);
        this.$toast.success(data.detailMsg);
      }) .catch(error => {
        console.log(error.msg);
        this.$toast.error("구독 취소 요청 오류");
      })
    }
  },
}
</script>

<style lang="scss" scoped>
@import '~styles/base';
@import '~styles/reset';
@import '~styles/layout';
@import '~styles/main';
@import '~styles/sub';
</style>