<template>
  <AVAModal
      @popup:notifyClosed="handlerNotifyClosed"
      :isClose="true">
    <section slot="content">
      <div id="question_detail" class="modal">
        <div class="modal_contents">
          <h4>문의 상세보기</h4>
          <!-- 미완료 상태일때 class incomplete  추가 -->
          <div class="question_member_info" v-bind:class="{ incomplete: !inquiryDetail.inquiryStatus }">
            <ul>
              <li>
                <ul>
                  <li><span class="label">문의유형</span><span>{{ inquiryDetail.inquiryType }}</span></li>
                  <li><span class="label">문의자</span><span>{{ inquiryDetail.userNm }}</span></li>
                  <li><span class="label">연락처</span><span>{{ inquiryDetail.userCellPhone }}</span></li>
                </ul>
              </li>
              <li>
                <ul>
                  <li><span class="label">Email</span><span>{{ inquiryDetail.userId }}</span></li>
                </ul>
              </li>
              <li>
                <ul>
                  <li><span class="label">문의 시간</span><span>{{ inquiryDetail.questionDate }}</span></li>
                  <li class="question_reply_time"><span class="label">답변 시간</span><span>{{ inquiryDetail.answerDate }}</span></li>
                </ul>
              </li>
              <li>
                <ul>
                  <li class="question_reply_admin"><span class="label">답변자</span><span>{{ inquiryDetail.answeredEmail }}</span></li>
                  <li><span class="label">문의 시점 플랜</span><span>{{ inquiryDetail.userPlanNm }}</span></li>
                </ul>
              </li>
            </ul>
          </div>
          <h5>문의내용</h5>
          <div class="question_content">
            <p class="title">{{ inquiryDetail.inquiryTitle }}</p>
            <div class="contents">
              {{ inquiryDetail.inquiryQuestion }}
            </div>
          </div>

          <!-- 미완료 상태일때 class incomplete  추가 -->
          <form v-bind:class="{ incomplete: !inquiryDetail.inquiryStatus }">
            <h5>답변내용</h5>
            <p><span class="label">작성자</span><span>{{ adminEmail }}</span></p>
            <div class="answer_content">
              <textarea v-model="editAnswer" cols="30" rows="10" placeholder="내용을 입력해주세요.">{{ inquiryDetail.inquiryAnswer }}</textarea>
            </div>
            <button type="submit" @click="replyInquiry">등록</button>
            <button id="reply_modify" class="complete reply_modify" @click="replyInquiry">답변 수정</button>
            <button class="complete" @click="handlerNotifyClosed">확인</button>
          </form>
        </div>
      </div>
    </section>
  </AVAModal>
</template>

<script>
import {mapState, mapActions} from 'vuex';

import AVAModal from '@/components/common/AVAModal';

import {RepositoryFactory} from "@/repositories/RepositoryFactory";

const AdminRepository = RepositoryFactory.get('admin')
export default {
  name: "AdminInquiryDetailPopupView",
  components: {
    AVAModal,
  },
  props: {
    parameters: {
      type: Object,
      default: {}
    },
  },
  data() {
    return {
      inquiryNo: null,
      inquiryDetail: {},
      adminEmail: '',
      editAnswer: '',
    }
  },
  computed: {
    ...mapState('user', {
      userInfo: 'userInfo',
    })
  },
  methods: {
    ...mapActions('base', {
      removeModal: 'removeModal',
    }),
    handlerNotifyClosed() {
      this.removeModal(this);
    },
    getInquiryDetail(inquiryNo) {
      AdminRepository.getInquiryDetail(inquiryNo).then(res => {
        if(res.status == 200) {
          let data = res.data;
          console.log(data.msg);
          this.inquiryDetail = data;
        }
      })
    },
    replyInquiry() {
      let paramObj = {
        inquiryNo: this.inquiryNo,
        inquiryAnswer: this.editAnswer,
      }
      AdminRepository.replyInquiry(paramObj).then(res => {
        if(res.status == 200) {
          let data = res.data;
          console.log(data);
          alert("문의 답변이 성공적으로 등록되었습니다.");
          this.getInquiryDetail(this.inquiryNo);
        }
      })
    }
  },
  created() {
    this.inquiryNo = this.parameters.inquiryNo;
    this.adminEmail = this.userInfo.userId;
    this.getInquiryDetail(this.inquiryNo);
  }
}
</script>

<style lang="scss" scoped>
@import '~styles/resetA';

.modal_contents > h4 {
  font-size: 20px;
  font-weight: 700;
  color: #414853;
  margin-bottom: 24px;
}
.modal_contents button {
  width: 288px;
  height: 48px;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #1db6cc;
  color: #1db6cc;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  margin: 24px auto 0;
  display: block;
}

.modal_contents button:hover {
  background-color: #1db6cc;
  color: #fff;
}

.modal_contents button {
  width: 288px;
  height: 48px;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #1db6cc;
  color: #1db6cc;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  margin: 24px auto 0;
  display: block;
}

.modal_contents button:hover {
  background-color: #1db6cc;
  color: #fff;
}
#question_detail .modal_contents { width: 648px;}
#question_detail .modal_contents .question_member_info {  border: 1px solid #e4e8eb; border-radius: 4px; padding: 24px 24px 12px; margin-bottom: 24px;}
#question_detail .modal_contents .question_member_info ul>li { display: inline-block;}
#question_detail .modal_contents .question_member_info ul li ul {margin-bottom: 12px;}
#question_detail .modal_contents .question_member_info ul li ul li { margin-right: 24px;}
#question_detail .modal_contents .question_member_info ul li span { font-size: 14px;}
#question_detail .modal_contents .question_member_info ul li span.label { font-weight: 400; color: #a8b0bc; margin-right: 12px;}
#question_detail .modal_contents .question_content .title{ font-size: 14px; font-weight: 700; margin-bottom: 8px;}
#question_detail .modal_contents .question_content .contents { width: 100%; font-weight: 400; font-size: 14px; line-height: 24px; height: 92px; overflow-y: scroll;}
#question_detail .modal_contents h5 { font-size: 14px; font-weight: 700; margin-bottom: 12px; text-align: left;}
#question_detail .modal_contents .question_content { padding: 16px; border-radius: 4px; border: 1px solid #e4e8eb; height: 152px; box-sizing: border-box; margin-bottom: 24px;}
#question_detail .modal_contents .answer_content textarea { width: 100%; height: 128px; padding: 16px; font-size: 14px;}
#question_detail .modal_contents .question_member_info.incomplete li.question_reply_time span + span,
#question_detail .modal_contents .question_member_info.incomplete li.question_reply_admin span + span { display: none; }
#question_detail .modal_contents .question_member_info.incomplete li.question_reply_time span::after { margin-left: 12px; content: '미완료'; color: #d94452; font-weight: 700;}
#question_detail .modal_contents .question_member_info.incomplete li.question_reply_admin span::after { margin-left: 12px; content: '-'; color: #414853; }
#question_detail .modal_contents form {margin-top: 0; position: relative; text-align: center;}
#question_detail .modal_contents form p {position: absolute; top: 4px; right: 0;}
#question_detail .modal_contents form p .label {font-weight: 400; color: #616c78; margin-right: 12px;}
#question_detail .modal_contents form button[type='submit'] {display: none;}
#question_detail .modal_contents form button.reply_modify {width: 134px; margin-right: 24px;}
#question_detail .modal_contents form button.complete {display: inline-block;}
#question_detail .modal_contents form.incomplete button.complete {display: none;}
#question_detail .modal_contents form.incomplete button[type='submit'] {display: block;}
</style>