<template>
    <AVAModal  
        @popup:notifyClosed="handlerNotifyClosed" 
        :isClose="true" :modalAddClass="['modal_character_change']">
        <h4 slot="title">캐릭터 변경</h4>
        <section slot="content">
            <p>모든 <em>{{characterNm}}</em> 캐릭터가 <em>선택한 캐릭터</em>로 변경됩니다.</p>
            <div class="list_wrap">
                <CharacterChangePopupItem 
                    v-for="(item, index) in characters"
                    :character="item"
                    :key="index"
                    :currentCharacterId="oldCharacterId"
                    :newCharacterId="newCharacterId"
                    @notify:playVoiceSample="handlerNotifyPlayVoiceSample"
                    @notify:selectCharacter="handlerNotifySelectCharacter"
                    @notify:changeCharacter="handlerNotifyChangeCharacter"
                ></CharacterChangePopupItem>
            </div>
            <button @click="selectedClicked">선택 완료</button>
        </section>
    </AVAModal>
</template>

<script>
    import Vue from "vue";
    import {mapState, mapGetters, mapActions} from 'vuex';

    import AVAModal from '@/components/common/AVAModal';
    import CharacterChangePopupItem from './CharacterChangePopupItem';

    import {EventBus} from '@/utils/bus';

    export default {
        name: 'CharacterMultipleChangePopupView',
        components: {
            AVAModal,
            CharacterChangePopupItem,
        },
        props: {
            parameters: {
                type: Object,
                default: {}
            },
        },
        data() {
            return {
                audio: new Audio(),
                oldCharacterId: '',
                newCharacterId: '',
            }
        },
        computed: {
            ...mapState('character', {
                characters : 'characters'
            }),
            ...mapState('job', {
                jobScripts : 'jobScripts'
            }),
            ...mapGetters('character', {
                getCharacter : 'getCharacter',
            }),
            character() {
                return this.getCharacter(this.oldCharacterId) || {};
            },
            characterNm() {
                if(this.character.hasOwnProperty("characterNm")) {
                    return this.character.characterNm;
                }
                return "";
            }
        },
        methods: {
            ...mapActions('base', {
                removeModal: 'removeModal',
            }),
            ...mapActions('job', {
                setReallocationScripts: 'setReallocationScripts',
            }),
            handlerNotifyClosed() {
                this.removeModal(this);
            },
            selectedClicked() {
                let indexes = this.jobScripts.map((script, idx) => script.characterId == this.oldCharacterId ? idx : '').filter(String);
                this.setReallocationScripts({ 'targetScriptIndexs': indexes, 'characterId' : this.newCharacterId});
                this.removeModal(this);
            },

            handlerNotifyPlayVoiceSample(sampleUrl) {
                this.audio.pause();
                this.audio.src = sampleUrl;
                this.audio.load();
                this.audio.play();
            },
            processToChangeCaracter(targetCharacterId) {
                let indexes = this.jobScripts.map((script, idx) => script.characterId == this.oldCharacterId ? idx : '').filter(String);
                this.setReallocationScripts({ 'targetScriptIndexs': indexes, 'characterId' : targetCharacterId});
            },
            handlerNotifySelectCharacter(id) {
                this.newCharacterId = id;
            },
            handlerNotifyChangeCharacter(id) {
                this.newCharacterId = id;
                this.processToChangeCaracter(id);
                this.removeModal(this);
            },
        },
        created () {
            
            this.oldCharacterId =  this.parameters.changeBaseCharacterId;
            this.newCharacterId = '';
            // EventBus.$on("changeBaseCharacterId", baseCharacterId=>{
            //     this.oldCharacterId = baseCharacterId;
            //     this.newCharacterId = '';
            // })
        }
    }
</script>

<style lang="scss" scoped>
@import '~styles/base';
@import '~styles/reset';
@import '~styles/layout';
@import '~styles/main';
@import '~styles/sub';
</style>