<template>
    <AVAModal
        @popup:notifyClosed="handlerNotifyClosed" 
        :isClose="true" :modalAddClass="['modal_character_change', 'modal_speaker_change']">
        <h4 slot="title">화자 변경</h4>
        <section slot="content">
            <p>해당 스크립트의 화자가 선택한 캐릭터로 변경됩니다.</p>
            <div class="list_wrap">
                <CharacterChangePopupItem 
                v-for="(item, index) in characters"
                :character="item"
                :key="index"
                :currentCharacterId="currentCharacterId"
                @notify:playVoiceSample="handlerNotifyPlayVoiceSample"
                @notify:changeCharacter="handlerNotifyChangeCharacter"
                ></CharacterChangePopupItem>
            </div>
        </section>
    </AVAModal>
</template>

<script>
    import Vue from "vue";
    import {mapState, mapGetters, mapActions} from 'vuex';

    import AVAModal from '@/components/common/AVAModal';
    import CharacterChangePopupItem from './CharacterChangePopupItem';

    import {EventBus} from '@/utils/bus';

    export default {
        name: 'CharacterSingleChangePopupView',
        components: {
            AVAModal,
            CharacterChangePopupItem,
        },
        props: {
            parameters: {
                type: Object,
                default: {}
            },
        },
        data() {
            return {
                audio: new Audio(),
                targetScriptIndex: -1,
            }
        },
        computed: {
            ...mapState('character', {
                characters : 'characters'
            }),
            ...mapState('job', {
                jobScripts : 'jobScripts'
            }),
            currentCharacterId() {
                if(this.targetScriptIndex > -1) {
                    return this.jobScripts[this.targetScriptIndex].characterId;
                }
                return "";
            }
        },
        methods: {
            ...mapActions('base', {
                removeModal: 'removeModal',
            }),
            ...mapActions('job', {
                setReallocationScripts: 'setReallocationScripts',
            }),
            handlerNotifyClosed() {
                this.removeModal(this);
            },
            handlerNotifyPlayVoiceSample(sampleUrl) {
                this.audio.pause();
                this.audio.src = sampleUrl;
                this.audio.load();
                this.audio.play();
            },
            handlerNotifyChangeCharacter(id) {
                this.newCharacterId = id;
                this.setReallocationScripts({ 'targetScriptIndexs': this.targetScriptIndex, 'characterId' : id});
                this.removeModal(this);
            }
        },
        created () {
            this.targetScriptIndex = this.parameters.changeScriptIndex
        }
    }
</script>

<style lang="scss" scoped>
@import '~styles/base';
@import '~styles/reset';
@import '~styles/layout';
@import '~styles/main';
@import '~styles/sub';
</style>