<template>
    <div>
        <input type="radio" name="characters" 
            :id="[`pop_${characterClass}`]" :disabled="(this.hasCurrentCharacter) ? 'disabled' : null" 
            :checked="selectedValue"
            @change="handlerSelectedCharacter">
        <label :for="[`pop_${characterClass}`]" :class="labelClasses">
            <div :class="['avatar', `${characterClass}-72`]">
                <div class="icon_bg_24 bg_blue_green" v-if="hasVoiceSample" @click.stop.prevent="sampleAudioClicked">
                <i class="icon-ico-speaker-16px"></i>
                </div>
            </div>
            <ul class="avatar_detail_info">
                <li><em>{{characterName}}</em></li>
                <li><em>{{characterLangSkill}}</em> {{characterFeature}}</li>
                <li><a href="javascript:void(0)" @click.stop.prevent="changeCharacterClicked"><em>캐릭터 선택</em></a></li>
            </ul>
        </label>
    </div>
</template>

<script>
    import Vue from "vue";
    import {mapState, mapGetters, mapActions} from 'vuex';

    export default {
        props: {
            character: {
                type: Object,
                required: true,
            },
            currentCharacterId: {
                type: String,
                required: false,
                default: '',
            },
            newCharacterId: {
                type: String,
                required: false,
                default: '',
            }
        },
        data() {
            return {
                selectedValue: '',
            }
        },
        computed: {
            characterClass() {
                if(this.character.avatarClassNm == null) {
                    return "avatar-sample"
                }
                return this.character.avatarClassNm
            },
            characterId() {
                return this.character.characterId;
            },
            characterLangSkill() {
                return this.character.characterLang || ""
            },
            characterName() {
                return this.character.characterNm || ""
            },
            characterFeature() {
                return this.character.characterFeature || "";
            },
            hasCurrentCharacter() {
                return this.currentCharacterId == this.characterId
            },
            labelClasses() {
                return {
                    'current' : this.hasCurrentCharacter
                }
            },
        },methods: {
            changeCharacterClicked(e) {
                this.$emit("notify:changeCharacter", this.character.characterId);
            },
            hasVoiceSample() {
                return this.character.voiceSampleUrl !== '' && this.character.voiceSampleUrl !== undefined && this.character.voiceSampleUrl !== null;
            },
            sampleAudioClicked() {
                var expUrl = /^http[s]?\:\/\//i;
                let isUrlPath = expUrl.test(this.character.voiceSampleUrl)
                if(isUrlPath) {
                    this.$emit('notify:playVoiceSample', this.character.voiceSampleUrl);
                } else {
                    this.$emit('notify:playVoiceSample', require(`@/assets/voiceSample/${this.character.voiceSampleUrl}`));
                }
            },
            handlerSelectedCharacter(event) {
                this.selectedValue = event.target.value;
                this.$emit("notify:selectCharacter", this.character.characterId);
            }
        },
        watch: {
            newCharacterId: {
                deep: true,
                async handler(newValue, oldValue) {
                    if(newValue == ''){
                        this.selectedValue = null;
                    }
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
@import '~styles/base';
@import '~styles/reset';
@import '~styles/layout';
@import '~styles/main';
@import '~styles/sub';
</style>