<template>
    <div class="audio_player">
        <span class="start_time">00:00</span>
        <div class="time_line_bg">
            <div class="time_line"></div>
        </div>
        <span class="end_time" v-text="updateDurationTime()">00:00</span>
    </div>
</template>

<script>
    export default {
        props: {
            duration: {
                type: Number,
                default: 0
            },
        },
        methods: {
            updateDurationTime() {
                let adjDuration = (this.duration || 0).toFixed(0);
                let durmins = Math.floor(adjDuration / 60);
                let dursecs = Math.floor(adjDuration - durmins * 60);
                if(dursecs < 10){ dursecs = "0"+dursecs; }
                if(durmins < 10){ durmins = "0"+durmins; }
                return durmins+":"+dursecs;
            }
        }
    }
</script>

<style lang="scss" scoped>
@import '~styles/base';
@import '~styles/reset';
@import '~styles/layout';
@import '~styles/main';
@import '~styles/sub';
</style>