<template>
  
</template>

<script>
import {mapState} from "vuex";

export default {
    props : {
        dataSource: {
            type : Array,
            required: false
        },
        usedNotifyPlay: {
            type: Boolean,
            required: false,
            default: true,
        },
        usedNotifyPause: {
            type: Boolean,
            required: false,
            default: false,
        },
        usedNotifyEnded: {
            type: Boolean,
            required: false,
            default: true,
        },
        usedNotifyVolumechange: {
            type: Boolean,
            required: false,
            default: false,
        },
        usedNotifyTimeUpdate: {
            type: Boolean,
            required: false,
            default: false,
        }
    },
    data() {
        return {
            audio: new Audio(),
            
            curtime: 0,
            curtimeText: '00:00',
            durtimeText: '00:00',

            paused: false,
            playing: false,
            playCursor: -1,     // 현재 재생 커서 위치
            listenMode:1,       // 0:한곡 재생, 1:전체곡 재생
            loopMode: false,    // 반복 재생여부

            audioSrc: '',       // 재생 음원 경로
            volume: 0.5,        // 볼륨 정보
            speed: '',          // 스피드 정보
            sleep: 0,           // 재생 sleep 정보
            playbackRate: 1.0,
        }
    },
    computed: {
        hasDataSource() {
            return this.dataSource.length;
        },
        hasPrev() {
            return this.playCursor - 1 > 0;
        },
        hasNext() {
            return this.dataSource.length > this.playCursor + 1;
        },
        ...mapState('user', {
            userInfo: 'userInfo',
        }),
    },
    methods: {
        updateSeekTime() {
            const audio = this.audio;
            let nt = audio.currentTime * (100 / audio.duration);
            let curmins = Math.floor(audio.currentTime / 60);
            let cursecs = Math.floor(audio.currentTime - curmins * 60);
            let durmins = Math.floor(audio.duration / 60);
            let dursecs = Math.floor(audio.duration - durmins * 60);
            if(cursecs < 10){ cursecs = "0"+cursecs; }
            if(dursecs < 10){ dursecs = "0"+dursecs; }
            if(curmins < 10){ curmins = "0"+curmins; }
            if(durmins < 10){ durmins = "0"+durmins; }
            return [curmins+":"+cursecs, durmins+":"+dursecs]
        },

        getAudioTrack(index) {
            return this.dataSource[index]; 
        },
        convertDataURIToBinaryFF(dataURI) { 
            var raw = window.atob(dataURI);
            return Uint8Array.from(Array.prototype.map.call(raw,function(x) { 
                    return x.charCodeAt(0); 
                })); 
        },
        updateCurrentSetting(trackInfo) {
            const settings = trackInfo.settings || {};
            this.audioSrc = trackInfo.ttsUrl || '';

            var binary = this.convertDataURIToBinaryFF(trackInfo.ttsResource);
            var blob=new Blob([binary], {type : 'audio/wav'});
            this.audioSrc = URL.createObjectURL(blob);

            this.volume = settings.volume || 0.5;
            this.speed = settings.speed || 1.0;
            this.sleep = settings.sleep || 0;
        },
        clearAudio() {
            this.audioSrc =  '';
            this.volume = 0.5;
            this.speed = 1.0,
            this.sleep = 0;

            this.curtime = 0
            this.paused = false;
        },
        actionStopTrackEnd() {
            this.audio.pause();
            this.clearAudio();
        },
        actionStopTrack() {
            this.audio.pause();
            this.clearAudio();
            this.playCursor = -1;
        },
        actionAudioPause() {
            this.audio.pause();
            this.paused = true;
            this.curtime = this.audio.curtime;
        },
        actionAudioPauseToPlay() {
            this.audio.curtime = this.curtime;
            this.audio.play();
            this.paused = false;
        },
        actionAudioPlay(playCursor) {
            this.playCursor = playCursor;
            if(this.volume) {
                this.audio.volume = this.volume;
            }
            if(this.speed) {
                this.audio.playbackRate = this.speed;
            }
            if(this.audioSrc) {
                this.audio.src = this.audioSrc;
                this.audio.load();
                this.audio.play();
            }
        },
        async isPlaybackStatus(playCursor) {
            this.$emit('notify:play', playCursor);

            const sleep = (ms) => { return new Promise(resolve => setTimeout(resolve, ms)); };
            let reTry = 1;
            const reTryMax = 5;
            let candTrackCursor = playCursor
            let needNextTrack = false;
            let reason = "";
            while (reTry <= reTryMax ) {
                let  {scriptText, ttsState} = this.getAudioTrack(candTrackCursor);
                if(scriptText.length === 0) {
                    candTrackCursor++;
                    needNextTrack = true
                    reason = "empty";
                    break;
                }
                if(ttsState == 'S') {
                    break;
                } else {
                    if (reTry >= reTryMax) {
                        candTrackCursor++;
                        needNextTrack = true
                        reason = "retry over";
                        break;
                    }
                }
                if (reTry > reTryMax) {
                    console.log('%c reTry 호출 초과 :' + reTryMax , 'background: yellow; color: red');
                } else {
                    console.log('%c reTry 호출 시도 :' + reTry , 'background: red; color: black');
                }
                reTry++;
                await sleep(2000);
            }

            return new Promise((resolve, reject) => {
                if(needNextTrack) {
                    reject({candTrackCursor, needNextTrack, reason})
                }else {
                    resolve({candTrackCursor, needNextTrack})
                }
            });
        },
        actionPlayTrack(playCursor) {
            const vm = this;
            this.isPlaybackStatus(playCursor).then(({candTrackCursor, needNextTrack})=>{
                const trackInfo = vm.getAudioTrack(candTrackCursor);
                vm.clearAudio();
                vm.updateCurrentSetting(trackInfo);
                vm.actionAudioPlay(candTrackCursor);
                this.$gtag.customMap({
                    'dimension1': 'userId',
                    'dimension2': 'characterId',
                    'dimension3': 'scriptId',
                })
                this.$gtag.event(
                    'playScriptOnce',
                    {
                        userId: this.userInfo.userId,
                        characterId: trackInfo.characterId,
                        scriptId: trackInfo.scriptId,
                    }
                )
            }).catch(({candTrackCursor, needNextTrack, reason}) => {
                if(this.listenMode) {
                    vm.actionPlayTrack(candTrackCursor);
                }else {
                    if(reason == "empty") {
                        alert("빈 문자열을 TTS 요청 할수 없습니다.")
                    }
                }
            });
            
        },
        getAudioStateData() {
            return {
                playCursor: this.playCursor,
                curtime: this.curtime,
                playing: this.playing,
                paused: this.paused,
                listenMode: this.listenMode,
                loopMode: this.loopMode,
                audioSrc: this.audioSrc,
                volume: this.volume,
                speed: this.speed,
                sleep: this.sleep,
                hasNext: this.hasNext,
            }
        },
        setListenMode(endPlay = true) {
            this.listenMode = endPlay ? 1 : 0;
        },
        actionSleep(milliseconds) {
            return new Promise(resolve => setTimeout(resolve, milliseconds))
        }
    },
    created () {
        const vm = this;
        const audio = this.audio;
        audio.addEventListener("play", function () {
            if(vm.usedNotifyPlay) {
                vm.$emit('notify:play', vm.playCursor);
            }
            vm.playing = true;
        }, false);

        audio.addEventListener("pause", function () {
            if(vm.usedNotifyPause) {
                vm.$emit('notify:pause', vm.playCursor);
            }
            vm.playing = false;
        }, false);

        audio.addEventListener("ended", function () {
            if(vm.usedNotifyEnded) {
                vm.$emit('notify:ended', vm.getAudioStateData());
            }
            vm.playing = false;
        });
        audio.addEventListener("volumechange", function () {
            if(vm.usedNotifyVolumechange) {
                vm.$emit('notify:volumechange', audio.volume);
            }
        }, false);
        audio.addEventListener("timeupdate", function(){ 
            if(vm.usedNotifyTimeUpdate) {
                var timeInfo = vm.updateSeekTime();
                vm.curtimeText = timeInfo[0] || "00:00";
                vm.durtimeText = timeInfo[1] || "00:00";
                vm.$emit('notify:timeupdate', {'curtimeText': vm.curtimeText, 'durtimeText': vm.durtimeText});
            }
         }, false);

         vm.$emit('notify:audioInitialization', vm.getAudioStateData());
    },
}
</script>