<template>
    <Pagination v-if="records > 0" v-model="pageNum" :records="records" :perPage="perPage" @paginate="pageChanged" :options="options" />
</template>

<script>
    import Pagination from 'vue-pagination-2';
    import AVAPaginationImpl from './AVAPaginationImpl';
    export default {
        name:'AVAPagination',
        components: {
            Pagination,
        },
        data() {
            return {
                pageNum: 1,
                options: { 
                    template: AVAPaginationImpl
                },
            }
        },
        props: {
            page: {
                type: Number,
                default: 1
            },
            records: {
                type: Number,
                default: 0
            },
            perPage: {
                type: Number,
                default: 10
            }
        },
        watch: {
            page(pageNum) {
                this.pageNum = pageNum
            }
        },
        methods: {
            pageChanged(pageNum) {
                this.pageNum  = pageNum
                this.$emit('notify:pageChanged', pageNum)
            },
        },
    }
</script>

<style lang="scss" scoped>
@import '~styles/base';
@import '~styles/reset';
@import '~styles/layout';
@import '~styles/main';
@import '~styles/sub';
</style>