<template>
    <div class="paging">
        <ul>
            <li>
                <a href="javascript:void(0)" :class="this.pageGroupClasses('prev')" @click="prev">
                    <i class="icon-ico-paging-arrow-prev-36px"></i>
                </a>
            </li>
            <li v-for="page in pages" :key="page" :class="{'active': currentPage === page}">
                <a href="javascript:void(0)" @click="setPage(page)" :class="{'active': currentPage === page}">{{page}}</a>
            </li>
            <li>
                <a href="javascript:void(0)" :class="this.pageGroupClasses('next')" @click="next">
                    <i class="icon-ico-paging-arrow-next-36px"></i>
                </a>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        computed: {
            base() {
                return this.$attrs.props;
            },
            pages() {
                return this.base.pages;
            },
            currentPage() {
                return this.base.page;
            },
        },
        methods: {
            pageGroupClasses(gbn) {
                let chunkProps = 'prev' == gbn ? this.base.prevChunkProps : this.base.nextChunkProps 
                return {
                    'active': !chunkProps.disabled,
                    'inactive': chunkProps.disabled,
                }
            },
            setPage(pageNum) {
                this.base.setPage(pageNum)
            },
            prev(){
                this.base.setPrevChunk()
            },
            next() {
                this.base.setNextChunk();
            }
        }
    }
</script>
<style lang="scss" scoped>
@import '~styles/base';
@import '~styles/reset';
@import '~styles/layout';
@import '~styles/main';
@import '~styles/sub';
 .paging { margin: 72px 0 48px; text-align: center }
 .paging ul li { display: inline-block; width: 36px; height: 36px; text-align: center; vertical-align: middle; }
 .paging ul li a { display: block; font-size: 12px; font-weight: 400; color: #616c78; width: 100%; height: 100%; padding: 9px 5px; box-sizing: border-box; font-size: 12px; }
 .paging ul li a>i::before { display: block; transform: translateY(-18%); }
 .paging ul li a.inactive>i::before { color: #a8b0bc; }
 .paging ul li a.active,
 .paging ul li a.active>i::before,
 .paging ul li a.active { display: block; font-weight: 700; color: #414853; }
 .paging ul { content: ''; clear: both; }
</style>