<template>
  <div aria-live="polite" aria-atomic="true" class="toast">
    <TransitionGroup name="toast" tag="div" appear>
      <div
        v-for="item in messages"
        :key="item.id"
        :class="['toast_item', 'show', item.type]"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
        @mouseover="pauseProgress(item)"
        @mouseout="resumeProgress(item)">
        <div class="toast_icon"></div>
        <p class="toast_text">{{ item.message }}</p>
        <div v-if="item.closeable" class="toast_close" data-dismiss="toast" aria-label="Close" @click="remove(item)"></div>
      </div>
    </TransitionGroup>
  </div>
</template>

<script>
import { EventBus } from '@/utils/bus';

export default {
  props: {
    showProgress: {
      type: Boolean,
      default: true
    },
    rtl: {
      type: Boolean,
      default: false
    },
    maxMessages: {
      type: Number,
      default: 5
    },
    timeOut: {
      type: Number,
      default: 3000
    },
    closeable: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      messages: [],
      count: 0
    };
  },
  created() {
    EventBus.$on("toast-message", this.handleMessageEvent);
  },
  methods: {

    handleMessageEvent(payload) {
      if (payload.message) {
        this.addMessage(payload.message, payload.type, payload.options);
      }
    },

    addMessage(message, type, options = {}) {
      // message object data
      var messageData = {
        id: this.count++,
        message: message,
        type: type,
        showProgress: this.showProgress,
        timeOut: this.timeOut,
        closeable: this.closeable,
        rtl: this.rtl,
        progress: 0,
        paused: false,
        animationFrame: null
      };

      messageData = Object.assign({}, messageData, options);

      this.messages.unshift(messageData);

      if (this.messages.length > this.maxMessages) {
        this.messages.splice(this.maxMessages);
      }

      if (messageData.timeOut > 0) {
        this.startTimeout(messageData);
      }
    },

   
    startTimeout(messageData, startFrom = 0) {
      const self = this;

      const startTime = performance.now();
      const start = () => {
        messageData.animationFrame = requestAnimationFrame(timestamp => {
          const timeElapsed = timestamp + startFrom - startTime;

          if (!self.exists(messageData) || messageData.paused) {
            cancelAnimationFrame(messageData.animationFrame);
            return;
          } else if (timeElapsed < messageData.timeOut) {
            const progress = timeElapsed / messageData.timeOut;
            messageData.progress = progress;
            start();
          } else {
            messageData.progress = 1;
            cancelAnimationFrame(messageData.animationFrame);
            self.remove(messageData);
            return;
          }
        });
      };

      start();
    },

    pauseProgress(messageData) {
      if (messageData.timeOut <= 0) return;
      messageData.paused = true;
    },

    resumeProgress(messageData) {
      if (messageData.timeOut <= 0) return;

      messageData.paused = false;
      this.startTimeout(
        messageData,
        messageData.timeOut * messageData.progress
      );
    },

    remove(messageData) {
      const index = this.messages.findIndex(
        message => message.id === messageData.id
      );

      this.messages.splice(index, 1);
    },

    exists(messageData) {
      const index = this.messages.findIndex(
        message => message.id === messageData.id
      );

      if (index === -1) {
        return false;
      }

      return true;
    }
  }
};
</script>
<style lang="scss" scoped>
@import '~styles/base';
@import '~styles/reset';
@import '~styles/layout';
@import '~styles/main';
@import '~styles/sub';
</style>