<template>
    <textarea @input="handlerTextOnChanged" v-model="val" maxlength="150"></textarea>
</template>

<script>
    import {debounce} from '@/utils/eventUtils';
    export default {
        data () {
            return {
                val: '',
                debounce: null
            }
        },
        props: {
            value: {
                type: String,
                default: ''
            },
        },
        watch: {
            value(val) {
                this.val = val
            }
        },
        methods: {
            handlerTextOnChanged(event) {
                clearTimeout(this.debounce)
                 this.debounce = setTimeout(() => {
                    this.$emit('textOnChanged', event.target.value);
                }, 300)
            }
        },
        async created () {
            if (!String.prototype.TTSTrim) {
                String.prototype.TTSTrim = function () {
                    return this.replace(/^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g, '');
                };
            }
            const vm = this;
            this.val = this.value
            // this.$watch('val', debounce(function() {
            //     vm.$emit('textOnChanged', vm.val)
            // },500));
        }
    }
</script>

<style lang="scss" scoped>
@import '~styles/base';
@import '~styles/reset';
@import '~styles/layout';
@import '~styles/main';
@import '~styles/sub';
</style>