<template>
    <div id="container" class="cont_term">
        <!-- .contents -->
        <div class="contents">
            <!-- .stn stn_list -->
            <div class="stn">
                <!-- .cont_box -->
                <div class="cont_box">
                    <!--.terms_box-->
                    <div class="terms_box">
                        <h1>이용약관</h1>
                        <span>제 1장 총칙</span><br>
                        <strong>제 1조 (목적)</strong><br>
                        본 약관은 주식회사 마인즈랩(이하 “회사”라고 합니다.)이 제공하는 AVA(AI Virtual Avatar) 서비스(이하 “서비스”라 합니다)의 이용조건 및 절차, 요금에 관한 사항과 기타 이용에 필요한 제반 사항 규정을 목적으로 합니다.<br><br>

                        <strong>제2조 (약관의 효력 및 변경)</strong><br>
                        ① 본 약관은 서비스의 홈페이지(ava.maum.ai)에 게시하여 공지하며, 이에 동의한 고객과 회사간에 본 약관 제5조에 따라 서비스 이용계약을 체결함으로써 효력이 발생합니다.<br>
                        ② 회사는 필요하다고 인정하는 경우에는 본 약관을 변경할 수 있으며, 또한 법률 또는 정부의 명령•지시•권고나 법원의 판결 또는 회사 및 별도 사업자의 관련 정책 변경 등으로 인한 필요에 따라 서비스의 전부 또는 일부를 변경 또는 중지할 수 있습니다. 이 경우 회사는 적용일자 7일 전부터 본 조 제1항의 방법으로 공지해야 하며, 이용자에게 불리하게 약관을 변경하는 경우 30일 이상의 유예기간을 두고 공지하도록 합니다.<br>
                        ③ 회사가 전항에 따라 개정약관을 공지하면서 고객에게 적용예정일까지 회사에게 거부의사를 표시하지 않으면 동의의 의사표시가 표명된 것으로 본다는 것을 명확하게 공지하였음에도 고객이 명시적으로 거부의 의사표시를 하지 아니한 경우 고객이 개정약관에 동의한 것으로 봅니다.<br>
                        ④ 고객은 변경된 약관 사항에 동의하지 않는 경우, 서비스 이용계약을 해지할 수 있습니다.
                        <br><br>

                        <strong>제3조 (약관 외 준칙)</strong><br>
                        본 약관에 명시되지 않은 사항에 대해서는 관계법령 및 회사가 제공하는 부가서비스에 관한 별도의 약관, 이용규정 또는 세부 이용지침 등의 규정에 따릅니다.
                        <br><br>

                        <strong>제4조 (용어의 정의)</strong><br>
                        본 약관에서 사용하는 용어의 정의는 다음과 같습니다.
                        ① 고객: 서비스를 이용하기 위해 회사에 서비스 이용신청을 하고 회사와 이용계약을 체결한 개인 또는 법인<br>
                        ② 유료 서비스: 서비스에서 고객이 Lite, Standard, Business 총 3가지의 요금을 지급하고 각 요금제(이하 “플랜”)에 맞는 기능을 제공받는 서비스<br>
                        ③ 자동결제 서비스: 각 요금제(이하 “플랜”)에 따라 고객이 30일마다 일정 금액을 결제하고 이용할 수 있는 30일 의무사용서비스<br>
                        ④ 요금납입책임자: 본 약관에 의해 제공하는 서비스의 이용요금을 1차적으로 납입할 책임이 있는 자<br>
                        ⑤ 이메일 계정 : 고객의 식별과 고객의 서비스 이용을 위해 고객이 입력한 이메일 계정<br>
                        ⑥ 비밀번호: 고객의 정보보호를 위해 고객이 설정한 문자와 숫자의 조합<br>
                        ⑦ 스팸메일: 수신자의 수신거부 의사에 반하거나 수신 동의 없이 대량으로 전송되는 영리목적의 광고성 전자우편
                        <br><br>


                        <span>제2장 서비스 이용계약</span><br>
                        <strong>제5조 (계약의 성립)</strong><br>
                        서비스 이용계약은 서비스 이용을 원하는 고객이 회사 소정 양식의 신청서를 작성하여 제출하거나 서비스 사이트(ava.maum.ai)의 가입절차에 따라 온라인 양식에 필수입력사항을 기재한 후에 본 약관의 내용에 동의하는 것을 포함한 이용신청을 하고 회사가 이용신청을 승낙함으로써 성립됩니다.<br><br>

                        <strong>제6조 (이용신청)</strong><br>
                        ① 회사는 서비스 이용을 원하는 고객에게 본 약관을 공지하고, 고객의 동의를 받아 이용신청 처리를 합니다.<br>
                        ② 고객은 다음 각호의 서류를 직접 또는 팩스나 온라인 등 회사가 인정하는 방식으로 회사에 제출해야 합니다.<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;1. 서비스 이용 신청서 (소정양식)<br>
                        ③ 이용신청고객이 미성년자 또는 한정치산자인 경우에는 부모 또는 법정대리인의 동의를 받아 부모 또는 법정대리인을 서비스 이용신청자로 하여 이용계약을 신청하여야 합니다.<br>
                        ④ 타인의 명의를 도용하여 신청한 이용고객은 서비스 이용이 중지되며, 관계법령에 따라 처벌 받을 수 있습니다.<br>


                        <strong>제7조 (이용신청의 승낙)</strong><br>
                        ① 회사는 이용신청 고객에 대하여 업무상 또는 기술상 특별한 사유가 없는 한 접수순서에 따라 서비스 이용을 승낙합니다.<br>
                        ② 이용신청을 승낙한 후 회사는 3영업일 이내에 이용신청고객에게 다음 각호의 사항을 전화, 이메일 등의 방법으로 통지합니다.<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;1. 서비스 개통 예정일<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;2. 요금 등에 관한 사항<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;3. 고객의 권익보호 및 의무 등에 관한 사항<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;4. 기타 서비스 이용에 관해 중요하거나 필요하다고 인정하는 사항<br>
                        ③ 본 조 제2항에도 불구하고 웹사이트를 통해 서비스를 신청하고 개통할 수 있는 서비스에 대해서는 회사는 이용신청 승낙 이후의 통지를 생략하고 서비스의 개통이 완료된 후 서비스 개통완료 사실과 고객고유번호를 고객에게 통지할 수 있습니다.
                        <br><br>
                        <strong>제8조 (이용신청 승낙의 제한)</strong><br>
                        ① 회사는 다음의 각 호에 해당하는 경우 이용신청에 대한 승낙을 거절할 수 있습니다.<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;1. 실명이 아니거나 또는 타인의 명의를 사용하여 신청한 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;2. 고객정보를 허위로 기재한 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;3. 은행연합회 등 신용정보집중기관에 연체정보가 등록되어 있는 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;4. 법령, 공공의 안녕질서 및 미풍양속을 해할 우려가 있는 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;5. 악성 프로그램 및 버그를 이용하거나 시스템 취약점을 악용하는 등 부정한 방법을 서비스에 사용한 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;6. 부정한 용도로 서비스를 이용하고자 하는 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;7. 부모 또는 법정대리인의 동의 없이 미성년자가 서비스를 신청한 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;8. 본 약관에 의하여 이전에 이용신청을 거절당한 적이 있는 경우, 단 회사의 심사를 통해 재승낙을 얻은 경우에는 예외로 함<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;9. 기타 이용신청고객의 귀책사유로 승낙이 곤란한 경우<br>
                        ② 회사는 다음의 각 호에 해당하는 경우 이용신청에 대한 승낙을 유보할 수 있습니다.<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;1. 천재지변으로 인한 설비의 장애 상태가 발생한 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;2. 서비스를 제공함에 따라 회사의 전체 서비스 품질 유지에 곤란하다고 판단되는 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;3. 고객이 요금을 체납한 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;4. 서비스를 제공하기 위한 설비의 여유가 없거나 기술상 서비스 제공이 곤란한 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;5. 회사의 운영상, 사업상 위해 요소 또는 위해 우려가 있는 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;6. 음란물 또는 이적물의 배포, 전시 및 타인의 저작권을 침해하거나, 침해할 가능성이 있는 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;7. 음성 주체의 허락없이 그 사람의 목소리를 녹음하는 등 타인의 권리나 사생활을 침해하거나, 침해할 가능성이 있는 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;8. 서비스 해지 또는 변경 당일에 서비스 이용을 재 신청 또는 변경하는 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;9. 기타 회사의 사정으로 이용승낙이 곤란한 경우<br>
                        ③ 회사는 이용계약이 성립된 후 본 조 제1항 각 호 또는 제2항 각 호에 따른 사유가 발견된 경우 이용승낙을 철회할 수 있습니다.<br>
                        ④ 회사는 본 조 제1항, 제2항, 제3항에 의해 이용승낙이 거절, 유보, 철회된 경우 이를 즉시 이용신청고객이 기재한 연락처로 통지하여야 합니다. 이용신청고객의 부정확한 기재사항으로 인한 연락처의 불명 때문에 통지하지 못하였을 경우 회사는 그에 대한 책임이 없으며, 이용신청고객은 문의를 통해 확인할 의무가 있습니다. <br><br>

                        <strong>제9조 (유료서비스 이용에 관한 철회권)</strong><br>
                        회사로부터 유료서비스를 구매한 고객은 구독 취소 또는 환불을 요구 할 수 있습니다. 구독 취소 및 환불은 다음의 규정에 의하여 진행됩니다.<br>
                        ① 유료서비스를 구매한 사용자는 구독 취소를 요청할 수 있으며 다음의 규정에 의하여 구독 취소가 진행됩니다.<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;1. 구독취소가 요청된 사용자는 가장 마지막에 결제한 정기결제의 이용기간까지 결제된 플랜을 이용 가능합니다.<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;2. 구독취소가 요청된 사용자는 그 다음 정기결제가 이루어지지 않으며 이용기간 만료시, 무료계정으로 전환됩니다.<br>
                        ② 유료서비스를 구매한 사용자는 환불을 요청할 수 있으며 다음의 규정에 의하여 환불이 진행됩니다.<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;i.사용자가 환불을 요청한 날짜에 유료서비스에 대한 다음결제일까지의 잔여일수를 측정.<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;ii. ( 마지막 정기 결제 금액 ) * ( 잔여일 / 30 일 ) 의 금액을 측정.<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;iii. 해당 금액을 고객에게 7 영업일 이내에 지불.<br>

                        <strong>제10조 (계약의 변경)</strong><br>
                        ①고객은 다음의 각 호에 해당하는 사유가 발생한 경우 즉시 계약변경신청서 또는 온라인상에서 정보를 변경 제출함으로써 회사에 통지하여야 합니다.<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;1. 고객 및 요금납입책임자의 상호, 성명, 주소 또는 연락처의 변경<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;2. 고객의 정보 변경<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;3. 서비스 내용(계약 종류(정기결제 서비스의 플랜 등), 계약기간 등)의 변경<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;4. 요금납부방식의 변경<br>
                        ② 자동결제서비스의 경우 서비스 기간 내 동일 또는 다른 플랜에 대한 추가 이용신청은 불가능하며, 다른 플랜으로의 변경신청만이 가능합니다. 변경된 플랜은 즉시 적용 또는 변경신청시의 의무사용 기간 만료 이후 적용이 가능합니다.<br>
                        ③ 서비스 내용 변경시 절차는 이용신청시 절차에 준하며, 회사의 동의 하에 고객의 이용신청절차 일부는 생략될 수 있습니다<br><br>

                        <strong>제11조 (계약의 갱신)</strong><br>
                        회사와 고객은 합의하여 서비스 이용계약의 기간을 정할 수 있으며 고객이 계약기간 만료일 전에 이용계약의 해지 의사표시를 하지 않으면 기존 이용계약과 동일한 조건으로 이용계약이 갱신된 것으로 봅니다.<br><br>

                        <strong>제12조 (고객의 지위 승계)</strong><br>
                        상속, 합병, 분할, 영업양수 및 기타 회사가 필요하다고 인정하는 사유로 본 서비스 이용권리의 승계를 하고자 하는 고객은 사업자등록증사본과 이용권리승계를 입증할 수 있는 관련 서류를 첨부하여 회사에 신청해야 합니다.<br><br>

                        <strong>제13조 (계약의 해지 및 통보)</strong><br>
                        ① 고객이 계약을 해지하고자 하는 경우에는 고객 본인이 직접 온라인, 팩스, 이메일 등의 방법으로 회사에 해지신청을 해야 합니다. 단, 자동결제 서비스의 경우 해지신청일이 포함된 서비스 이용기간의 만료일 이후 계약이 해지됩니다. 회사는 고객의 계약 해지요구에 따라 시스템에서 고객의 정보 및 자료를 삭제하기 전에 고객의 해지요구를 확인하기 위해 해지서류를 요청할 수 있습니다.<br>
                        ② 회사는 다음의 경우 직권으로 계약을 해지할 수 있습니다.<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;1. 고객이 타인의 명의를 사용하거나, 허위서류를 첨부한 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;2. 고객이 정당한 사유 없이 이용실태 확인을 거부 또는 방해하여 위약사항을 은폐한 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;3. 이용정지 개시일로부터 1개월 내에 고객이 그 사유를 해소하지 않은 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;4. 서비스의 일시 중지 만료일로부터 1개월 이내에 고객이 서비스의 재개를 요청하지 않은 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;5. 고객이 회사, 다른 고객 또는 제3자의 지적재산권을 침해하는 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;6. 고객이 음성 주체의 허락없이 그 사람의 음성을 녹음하는 등 타인의 권리나 사생활을 침해하는 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;7. 고객이 시스템 운용에 심각한 장애를 초래하거나 고의로 방해한 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;8. 고객이 제23조 등 본 약관에 규정된 고객의 의무를 위반한 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;9. 타인의 이용자ID, 비밀정보 등 개인정보를 부정하게 사용하는 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;10. 서비스로 제공되는 프로그램에 대해 부적절한 사용, 접속, 복사, 배포, 타 용도로의 설치 등을 행하는 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;11. 서비스 정보를 이용하여 얻은 정보 및 자료를 회사의 사전 승낙 없이 복제 또는 유통시키거나 상업적으로 이용하는 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;12. 전기통신 관련 법령 등 관계 법령에 위반하는 행위를 하는 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;13. 고객의 서비스 요금 체납으로 인한 서비스 정지 후 5일 이내에 납부 불이행이 해결되지 않을 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;14. 고객이 당해 연도에 2회 이상의 이용 제한 또는 정지를 당한 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;15. 기타 고객이 본 약관 및 기타 회사가 정한 이용조건에 위반하는 경우<br>
                        ③ 회사가 본 조에 따라 계약을 해지하고자 하는 경우 고객에게 7일전까지 고객이 제출한 연락처를 통해 해지통지를 하여야 하며, 고객의 부정확한 기재사항으로 인한 연락처의 불명 때문에 통지하지 못하였을 경우 회사는 14일간 서비스 사이트(ava.maum.ai))에 게시함으로써 회사의 해지통지의무를 이행한 것으로 간주합니다.<br>
                        ④ 본 조 제 1항 및 제2항에 의해 이용계약이 해지되는 경우 고객의 시스템으로 할당된 모든 자원이 회수되고 시스템 상에 저장되어 있는 모든 고객 정보 및 자료는 삭제되며 이로 인한 손해배상을 청구할 수 없습니다.<br>
                        ⑤ 본 조 제3항의 통지에도 고객이 3일전까지 의견을 진술하지 않는 경우에는 해지에 이의가 없는 것으로 봅니다.<br><br>

                        <span>제3장 서비스의 개통 및 이용</span><br>
                        <strong>제14조 (서비스의 개통)</strong><br>
                        ① 회사는 특별한 사유가 없는 한 제7조 2항의 서비스 개통 예정일에 서비스를 개통해야 합니다. 통지한 서비스 개통 예정일에 서비스를 개통하지 못하였을 경우에는 즉시 그 사유와 새로 정한 개통예정일을 고객에게 서면(이메일), 전화(SMS) 등으로 통보하여야 합니다.<br>
                        ② 이용신청고객이 서비스의 개통을 연기하고자 하는 경우 개통예정일 2일전까지 회사에 통보하여야 합니다.<br>
                        ③ 회사는 이용신청고객이 서비스를 정상적으로 사용할 수 있도록 한 후 고객에게 개통완료를 통지합니다.<br><br>

                        <strong>제15조 (서비스의 이용)</strong><br>
                        ① 고객은 서비스 이용신청 후 회사의 승낙이 있는 시점부터 서비스를 이용할 수 있습니다. 단, 유료서비스의 경우 결제가 완료된 후 이용이 가능합니다. 서비스의 이용시간은 특별한 사유가 없는 한 1년 365일, 1일 24시간을 원칙으로 합니다.<br>
                        ② 본 조 제1항의 서비스 이용시간에서 회사와 고객이 합의하여 서비스를 제공하지 아니한 날 또는 시간, 정기점검 등의 필요로 회사가 정한 날 또는 시간은 예외로 합니다.<br><br>

                        <strong>제16조 (고객ID 관리)</strong><br>
                        ① 고객이 회원가입시 입력한 구글 이메일 계정은 원칙적으로 변경이 불가하며 부득이한 사유로 인하여 변경하고자 하는 경우에는 해당 ID를 해지하고 재가입해야 합니다.<br>
                        ② 구글이메일 계정은 관리 및 이용은 고객의 책임으로 하며 사용상의 과실 또는 제3자에 의한 부정사용 등으로 발생하는 모든 불이익에 대한 책임 또한 고객에게 있습니다.<br><br>

                        <strong>제17조 (서비스의 이용제한 및 이용정지)</strong><br>
                        ① 회사는 국가비상사태, 서비스 설비의 장애 또는 서비스 이용의 폭주, 기간통신사업자의 서비스 장애 등으로 서비스 이용에 지장이 있는 때에는 서비스의 전부 또는 일부를 제한하거나 정지할 수 있습니다.<br>
                        ② 회사는 고객의 서비스 이용 내용이 다음 각호의 1이상에 해당할 경우 서비스 이용의 전부 또는 일부를 제한하거나 정지할 수 있으며, 그 이후에도 계속 개선되지 않을 경우 서비스 이용계약을 해지할 수 있습니다.<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;1. 고객이 제23조 규정에 의한 고객의 의무를 이행하지 않은 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;2. 국내법에 위반되는 자료를 채팅상담으로 제공 받거나 제공하는 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;3. 회사가 서비스 사이트에서 공지한 서비스운영관련 정책에 반하는 내용을 타인에게 공개하거나, 서비스 하는 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;4. 고객의 부도, 파산, 회생신청, 보전신청 및 고객의 주요재산에 대한 압류, 가압류 등으로 서비스 이용계약의 유지가 어려울 것으로 판단되는 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;5. 고객이 회사, 다른 고객 또는 제3자의 지적재산권을 침해한 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;6. 고객이 음성 주체의 허락없이 그 사람의 음성을 녹음하는 등 타인의 권리를 침해하는 경우 <br>
                        &nbsp; &nbsp;&nbsp; &nbsp;7. 정보통신윤리위원회 등 외부기관의 시정요구가 있거나 불법선거운동과 관련하여 선거관리위원회의 유권해석을 받은 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;8. 타인의 ID, 비밀번호와 법인 또는 개인의 정보를 부정하게 사용하는 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;9. 시스템 운용이나 네트워크 보안 등에 심각한 장애를 초래하거나 고의로 침투 및 방해하는 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;10. 회사의 승인 없이 서비스 또는 그 일부를 제3자에게 재판매, 공유(서비스 혹은 시스템에 접근, 이용하게 하는 행위 포함) 또는 배포하는 행위<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;11. 고객이 이용요금을 납부일로부터 30일 이상 연체한 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;12. 고객이 기타 관계법령 및 본 약관을 포함하여 기타 회사가 정한 이용조건에 위반하는 경우<br><br>

                        <strong>제18조 (이용제한, 이용정지 절차 및 해제 방법)</strong><br>
                        ① 회사는 제17조의 규정에 의해 이용제한 또는 이용정지를 하고자 하는 경우에는 그 사유, 일시 및 기간을 정하여 이메일 또는 전화 등의 방법에 의해 해당 고객 또는 그 대리인에게 24시간 전까지 통지합니다. 다만, 긴급히 이용을 제한하거나 정지할 필요가 있다고 인정하는 경우에는 그러하지 아니합니다.<br>
                        ② 본 조 1항에 의해 이용제한 또는 이용정지 통지 받은 고객은 이에 대해 이의가 있는 경우 이의 신청을 할 수 있으며, 회사는 이의 신청에 대해 그 확인을 위한 기간까지 이용제한 또는 이용정지를 일시 연기할 수 있습니다.<br>
                        ③ 회사는 이용제한 또는 이용정지 기간 중, 그 이용제한 및 이용정지 사유가 해소된 것이 확인된 경우에는 이용제한 및 이용정지를 즉시 해제하고, 해당 고객에게 통지합니다.<br>
                        ④ 이용정지에 의한 서비스 중단 시 회사는 고객에게 할당된 서비스 계정(혹은 시스템)을 회수할 수 있습니다. 서비스 계정의 회수는 이용정지 시점부터 3일 경과 후 임의로 수행함으로 이로 인해 고객에게 발생한 손실에 대해 고객은 손해배상을 청구할 수 없습니다.<br><br>

                        <strong>제19조 (서비스 이용의 휴지)</strong><br>
                        회사는 시스템 개선공사, 장비증설, 정기점검, 시설 관리 및 운용 등의 불가피한 사유로 서비스를 제공할 수 없을 경우에는 고객에게 사전 통지하고 서비스의 이용을 휴지할 수 있으며 그 사유가 해소되면 즉시 고객의 서비스 이용을 가능하게 합니다.<br><br>

                        <span>제4장 서비스 유지보수 및 장애처리</span><br>
                        <strong>제20조 (서버 등 장비의 유지 및 보수)</strong><br>
                        ① 회사는 고객에게 서비스를 제공하기 위해 필수적인 서버 등의 장비에 대해 항상 고객들이 이용하기에 적절한 수준으로 유지 및 보수할 책임이 있습니다.<br>
                        ② 고객은 시스템 보안을 위해 필요한 조치(패치 작업, 보안 조치 등)를 다하여야 합니다.<br><br>

                        <strong>제21조 (보안상 긴급상황)</strong><br>
                        ① 보안상 심각하고 시급을 요하는 프로그램의 결함이나 장애 혹은 그에 준하는 사건발생 시, 회사에서 고객의 해당 부분을 일괄적으로 패치작업을 할 수 있습니다.<br>
                        ② 보안상 심각하고 시급을 요하는 경우 회사는 고객의 인증관련 정보를 응급 변경할 수 있습니다.<br>
                        ③ 본 조 제1항 및 제2항의 긴급상황 대처 전 회사는 공지나 이메일을 통해 고객에게 이를 알려야 합니다. 만약 상황이 긴급하여 이를 알리기 어려움이 있다면, 회사는 조치를 끝낸 후라도 이를 공지나 이메일을 통해 고객에게 알려야 합니다.<br><br>

                        <span>제5장 계약 당사자의 의무</span><br>
                        <strong>제22조 (회사의 의무)</strong><br>
                        ① 회사는 특별한 사정이 없는 한 고객이 신청한 서비스 개통희망일 또는 본 약관에서 지정한 기간 내에 서비스를 이용할 수 있도록 하며, 계속적, 안정적으로 서비스를 제공할 의무가 있습니다. 다만, 개통희망일에 개통이 불가능할 경우에는 개통희망일 이전에 그 사실을 전화, 이메일, 우편 등의 방법으로 고객에게 통보합니다.<br>
                        ② 회사는 ‘정보통신망 이용촉진 및 정보보호 등에 관한 법률’에 의거 서비스 제공과 관련하여 취득한 고객의 정보를 고객의 사전 승낙 없이 타인에게 누설 또는 배포할 수 없으며 상업적 목적으로 사용할 수 없습니다. 다만, 관계법령에 의한 수사상의 목적으로 관계기관으로부터 요구 받은 경우나 정보통신윤리위원회의 요청이 있는 경우 또는 회사가 정한 기간 동안 이용요금을 체납하여 고객의 동의를 얻어 신용정보사업자 또는 신용정보집중기관에 제공하는 경우는 예외로 합니다.<br>
                        ③ 회사는 이용계약의 체결, 계약사항의 변경 및 해지 등 고객과의 계약관련 절차 및 내용 등에 있어 필요한 최선의 편의를 제공하도록 노력합니다.<br>
                        ④ 회사는 고객이 제기하는 의견이나 불만이 정당하다고 인정할 경우에는 즉시 처리하여야 합니다. 다만, 즉시 처리가 곤란한 경우에는 고객에게 그 사유와 처리일정을 이메일, 게시판, 전화 등으로 통보해야 합니다.<br><br>

                        <strong>제23조 (고객의 의무)</strong><br>
                        ① 고객은 본 약관 및 관계법령에서 규정하는 사항을 준수해야 하며, 기타 회사의 업무수행에 현저한 지장을 초래하는 행위를 하여서는 안됩니다.<br>
                        ② 고객은 서비스 이용에 대한 대가로서 본 약관에서 정한 요금을 지정된 일자에 요금납입책임자와 연대하여 납입할 의무가 있습니다.<br>
                        ③ 서비스 이용요금의 체납으로 인해 발생되는 모든 문제에 대한 책임은 고객에게 있습니다. 단, 회사의 과실이나, 회사에서 인정한 사유에 의한 경우는 그러하지 않습니다.<br>
                        ④ 고객은 고객이 사용하는 계정 등을 통한 바이러스 프로그램 또는 외부의 불법적인 침입으로부터 고객의 정보를 보호하여야 합니다.<br>
                        ⑤ 고객은 주소, 연락처, 사업자등록번호 등 계약사항이 변경된 경우에는 이를 회사에 즉시 알려야 하며 이를 소홀히 하여 발생된 불이익은 고객의 책임으로 합니다.<br>
                        ⑥ 고객은 회사의 승인 없이 계정 또는 도메인의 타 업체 이전 등 본인의 의사로 가능한 내용을 진행할 수 있습니다. 다만, 설치비 및 이용요금의 체납 등 약관에 정해진 고객의 의무를 다하지 못하거나 회사에서 제공하는 솔루션, 서비스를 반출하는 경우에는 회사의 승인이 있어야 합니다.<br>
                        ⑦ 서비스와 관련한 고객의 정보 및 자료에 대한 관리, 보존 책임은 전적으로 고객에게 있습니다. 이를 위해 고객은 고객의 필요에 따라 자체적으로 고객의 정보 및 자료에 대한 암호화 방법을 사용하여야 하고 주기적으로 독립적인 별도 저장소에 고객의 정보 및 자료를 백업하며 기타 최신 보안패치나 업데이트를 항상 적용하여야 합니다.<br>
                        ⑧ 본 서비스를 이용하여 고객이 다른 고객 또는 제3자에게 별도의 서비스를 제공하는 경우, 그 별도의 서비스와 관련된 모든 정보 및 자료(예를 들면 데이터파일, 문서텍스트, 컴퓨터 소프트웨어, 음악, 오디오 파일 또는 기타 사운드, 사진, 비디오 또는 기타 이미지 등)와 관련된 분쟁에 대해서는 서비스를 제공하는 고객 또는 해당 정보가 유래하게 된 사람의 책임이며 특정 정보 및 자료로 인해 회사에 클레임이 제기되는 경우 고객은 회사를 면책하여야 합니다.<br><br>

                        <span>제6장 서비스 이용요금</span><br>
                        <strong>제24조 (이용요금의 종류)</strong><br>
                        ① 서비스 이용과 관련하여, 고객은 30일마다 신용카드 정기결제를 하는 방식으로 이용요금을 납부하여야 합니다. <br><br>

                        ② 요금관련 세부 사항 및 변경 사항은 서비스 사이트에 게시합니다.<br><br>

                        <strong>제25조 (이용요금의 계산방법)</strong><br>
                        ① 정기결제 서비스 이용료 계산은 구입한 시점으로부터 30일 이용요금으로 합니다.<br>
                        ② 제 1 항에서 이용기간이 30 일 미만이더라도 30 일에 해당하는 이용료를 계산합니다.<br>
                        ③ 서비스 일시 중지 기간 동안의 이용요금은 본 약관 18조의 내용을 따릅니다.<br>
                        ④ 모든 이용요금은 부가가치세 별도입니다.<br><br>

                        <strong>제26조 (이용요금의 납입방식)</strong><br>
                        ① 회사는 서비스 이용시 신용카드 결제 방식으로 과금하며, 고객은 유효한 신용카드 결제 방식으로 요금을 납입하여야 합니다. <br>
                        ② 요금납입책임자가 국가기관, 지방자치단체, 주한 외국기관이거나 회사가 인정할 경우에는 중앙불(상급기관이나 주된 사업소 등에서 일괄하여 지불하는 것)로 납입할 수 있습니다.<br>
                        ③ 고객이 타인의 이름으로 이용요금을 입금하는 경우, 고객은 이에 대해 회사에 통지할 의무가 있습니다. 타인 명의로 입금한 사실을 통지하지 않아 발생한 서비스 중단 또는 불이익에 대해서는 고객이 책임집니다.<br><br>

                        <strong>제27조 (이용요금의 납입의무)</strong><br>
                        ① 요금납입책임자는 요금의 납입 청구를 받은 때에 회사가 지정한 납입 기일까지 회사 가 지정하는 방법으로 청구된 요금을 납입하여야 합니다.<br>
                        ② 요금의 납입책임은 계약을 체결한 고객이 지는 것을 원칙으로 합니다.<br><br>

                        <strong>제28조 (요금의 이의신청)</strong><br>
                        ① 요금납입책임자는 청구된 요금에 이의가 있는 경우 청구일로부터 3월 이내에 이의신청을 할 수 있습니다.<br>
                        ② 회사는 본 조 제1항의 이의신청 접수 후 10일 이내에 처리결과를 고객에게 통지해야 하며, 부득이한 사유로 기간 내에 처리하지 못한 경우에는 처리기간을 재 지정하여 요금납입책임자 또는 고객에게 통지합니다.<br><br>

                        <strong>제29조 (요금의 감면 및 할인)</strong><br>
                        ① 회사는 별도로 협의된 고객 또는 재판매업자 등에 대해 초기비용 또는 월 이용요금의 일부를 감면 또는 할인할 수 있으며, 이 경우 적용방법은 회사와 고객이 합의하여 정합니다.<br>
                        ② 요금감면 및 할인대상자는 그 자격이 변동된 경우 회사에 통지하여야 합니다.<br>
                        ③ 감면 또는 할인 대상 기준에 부적합한 자가 감면이나 할인을 받은 것으로 판명될 경우에는 감면액 또는 할인액을 환수합니다.<br><br>

                        <strong>제30조 (체납요금의 징수)</strong><br>
                        ① 요금납입책임자가 요금을 체납할 경우 회사는 체납이 발생한 즉시, 독촉 등의 납입최고를 할 수 있습니다. 이 경우 독촉장을 발부할 수 있으며 납입 기일을 다시 지정합니다.<br>
                        ② 본 조 제1항의 납입최고는 최초납기일로부터 6월 이내에 해야 하며 그렇지 못한 경우에는 체납처분을 하지 않습니다. 다만 그 사유가 천재지변, 고객 또는 요금납입책임자의 책임인 경우에는 해당되지 않습니다.<br>
                        ③ 회사는 요금납입책임자가 요금을 체납한 경우 최초납기일의 다음날을 기준으로 하여 요금 체납액의 100분의 2(월 기준)에 상당하는 금액을 체납된 요금에 가산하여 징수합니다.<br><br>

                        <strong>제31조 (면탈요금의 징수)</strong><br>
                        회사는 요금납입책임자가 관계법령이나 약관을 위반하여 요금을 면탈한 경우 그 면탈한 요금의 2배에 해당하는 금액을 징수합니다.<br><br>

                        <strong>제32조 (요금의 반환)</strong><br>
                        ① 회사는 고객이 제9조에 따라 청약을 철회한 경우 3영업일 이내에 이미 지급받은 요금을 환급합니다.<br>
                        ② 회사는 요금납입책임자가 요금을 과납하거나 오납한 경우 이를 반환하거나 차기 요금에서 정산합니다.<br>
                        ③ 회사는 본 조 제1항에 의해 요금을 반환하여야 할 요금납입책임자가 체납이 있을 경우에는 반환하여야 할 요금에서 체납요금을 우선 공제하고 반환합니다.<br><br>

                        <span>제7장 손해배상</span><br>
                        <strong>제33조 (손해배상의 범위)</strong><br>
                        ① 회사는 회사의 책임 있는 사유로 장애가 발생하여 월 가용률(아래 정의)구간을 달성하지 못하거나 장애로 인해 고객이 손해를 입은 경우, 고객이 청구하는 경우에 한하여 본 조 제 2항에 따라 손해를 배상합니다.<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;* 장애시간 : 서비스를 이용하지 못한 사실을 고객이 회사에 통지한 때(고객의 통지 전에 회사가 그러한 사실을 알게 된 경우는 회사가 그러한 사실을 알게 된 때)로부터 회사가 장애 상황을 해소하여 장애 조치가 완료된 때까지의 시간을 측정.(회사가 장애 조치를 완료하였으나 고객의 추가 조치가 지연되어 장애가 연장된 경우, 해당 연장 시간은 장애시간에 포함하지 않음.)<br>
                        ② 손해배상 금액 산정 기준<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;* 월 가용률(%)=100 * [1 – {서비스를 이용한 한 달 동안 회사의 귀책사유로 인한 장애로 서비스를 이용하지 못한 장애시간(분)의 합/서비스를 이용한 한 달(분)}]<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;* 손해배상 금액 산정 기준 : 해당 고객의 최근 3개월(3개월 미만은 해당 기간 적용)간 월 평균 청구 금액<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;가용율 기준	손해배상<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;가용률 99.9% 미만 99.5% 이상	이용 요금의 10%<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;가용률 99.5% 미만 99.0% 이상        	이용 요금의 20%<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;가용률 99.0% 미만	이용 요금의 30%<br>
                        ③ 서비스의 장애가 다음 각호에 의한 것인 경우 회사는 고객에게 손해배상을 하지 않습니다.<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;1. 고객이 직접 구입한 장치, 장비, 회선 등의 불량으로 서비스 장애가 발생한 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;2. 전시, 사변, 천재지변 또는 이에 준하는 국가비상사태, 전국적 또는 국지적인 사고, 정전, 네트워크 장애 등 불가항력적인 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;3. 고객 또는 제3자의 귀책사유로 장애가 발생하거나 고객의 정보 또는 자료가 소실된 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;4. 전기통신서비스의 특성상 불가피한 사유가 있는 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;5. 고객의 정보시스템에 발생한 사고의 확산을 방지하기 위하여 서비스를 중단한 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;6. 서비스의 장애가 타 통신사업자가 제공하는 서비스에 의한 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;7. 서비스 점검이 불가피하거나 정기점검이 필요하여 사전에 공지한 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;8. 서비스를 이용하는 이용자의 시스템에 보안 관리를 소홀히 하여 침해사고가 발생한 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;9. 서비스를 이용하는 이용자의 시스템에 발생한 사고의 확산을 방지하기 위한 서비스 중단의 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;10. 외부의 불법적인 침입을 원인으로 서비스 장애 등이 발생하는 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;11. 이용자의 정보시스템에 발생한 사고의 확산을 방지하기 위한 서비스 중단의 경우<br>
                        &nbsp; &nbsp;&nbsp; &nbsp;12. 이용자에게 무료로 제공하는 서비스를 이용한 경우<br>
                        ④ 서비스 장애, 중지 등에 따른 회사의 배상 책임은 본 조 제 2항에 의한 손해배상에 한정되며, 고객의 추가 비용 발생이나 기대 수익의 손실 등에 대해서는 배상 책임이 없습니다.<br><br>

                        <strong>제34조 (손해배상의 청구)</strong><br>
                        ① 고객이 회사에 손해배상을 청구하는 경우, 고객은 회사에 청구사유, 청구금액 및 산출근거를 기재하여 서면으로 제출해야 합니다.<br>
                        ② 본 조 제1항의 손해배상청구는 그 손해가 발생한 날로부터 6개월 내에 행사하지 않으면 그 청구권이 소멸됩니다.<br><br>

                        <strong>제35조 (고객에 대한 손해배상 청구)</strong><br>
                        고객이 본 약관에서 규정한 사항을 위반하여 회사가 제3자에게 배상을 하거나 회사에 손해를 끼친 경우 회사는 해당 고객에 대해 손해배상(변호사 비용 등 모든 비용)을 청구할 수 있습니다.<br><br>

                        <strong>제36조 (특이사항)</strong><br>
                        ① 본 약관에 포함되지 않은 서비스에 대해 특약이 필요할 경우, 회사와 고객은 별도의 개별 이용계약서를 작성, 서명 날인함으로써 서비스를 제공하고 이용할 수 있습니다.<br>
                        ② 본 약관 및 서비스 이용과 관련하여 회사와 고객간에 분쟁이 발생한 경우 회사와 고객은 상호합의를 통하여 이를 해결하도록 성실히 노력한다.
                        <br><br>
                        &#91;부칙&#93;<br>
                        제 1조 (시행일) ⓛ  본 약관은 2019년 2월 1일부터 시행합니다.
                    </div>
                    <!--//terms_box-->
                </div>
                <!-- //.cont_box -->
            </div>
            <!-- //.stn -->
        </div>
        <!-- //.contents -->
    </div>
    <!-- //#container -->
</template>

<script>
    export default {
        
    }
</script>

<style lang="scss" scoped>
@import '~styles/base';
    @import '~styles/reset';
    @import '~styles/layout';
    @import '~styles/main';
    @import '~styles/sub';
    /*이용약관*/
    .terms_box {width:955px; margin:0 auto 40px; padding: 30px 0 0; font-size: 14px; line-height: 24px;text-align: left;}
    .terms_box h1 { background: #192a39; color: #fff; font-size: 20px; padding: 10px;text-align: center;}
    .terms_box span{font-size: 20px; color: #192a39; display: block; border-bottom: 1px solid #eee; padding: 20px 0;font-weight:500;}
    .terms_box strong {background: #dfdfdf;color: #192a39;display: inline-block;padding: 0 10px;margin: 0 0 5px 0;}
</style>