<template>
    <div class="download">
        <nav id="nav">
            <NavLogoView />
            <NavMyInfoView />
            <NavSideMenuView :visibilitySection1Pages="false"/>
        </nav>
        <section id="contents">
            <div class="container">
                <img src="@/assets/images/maum.png" alt="maum.ai">
                <h2>다운로드 내역</h2>
                <p>
                    이전에 다운로드 받은 파일은 <span>다운로드 받은 후 7일까지 보관</span>되며 글자 수 차감없이 다시 다운로드 받으실 수 있습니다.
                </p>
                <div class="progress_bar_bg">
                    <div class="current_progress" :style="calcProgress"><span class="marker"><em>{{totalCharUseCnt | comma}}</em> / {{totalCharMaxLimit | comma}}</span></div>
                </div>
                    <ul class="remaining_letters">
                        <li><span>남은 글자 수</span></li>
                        <li v-for="(row, index) in this.plans"
                            v-bind:key="`plan-${index}`">
                            &nbsp;[{{row.planNm}}]&nbsp;<em>{{(row.charMaxLimit-row.charUseCnt) | comma }}<span>&nbsp;자</span></em>
                        </li>
                    </ul>
                <table :class="resultClasses">
                    <thead>
                        <th>다운로드 날짜/시간</th>
                        <th>파일 제목</th>
                        <th>재생시간</th>
                        <th>파일형식</th>
                        <th>다운로드 글자수</th>
                        <th>파일 다운로드</th>
                    </thead>
                    <tbody>
                        <tr v-if="!isEmptyContents" v-for="(row, index) in this.contents" 
                            v-bind:key="`script-${index}`" :class="rowClasses(row)" >
                            <td>{{row.downloadAt}}</td>
                            <td class="file_title">
                                <div>{{row.downloadTitle}}</div>
                            </td>
                            <td v-text="exposeTotalDurationSecs(row)"></td>
                            <td >{{row.fileFormat}}</td>
                            <td v-text="exposeDownloadCharCnt(row)"></td>
                            <td><i class="icon-ico-download-24px" v-if="hasFileUrl(row)" @click="btnDownloadFile(row)"></i></td>
                        </tr>
                        <tr v-if="isEmptyContents" class="empty_list">
                            <td colspan=6>
                                <img src="@/assets/images/ico-empty-68-px.png" alt="불러올 내용이 없습니다.">
                                <p>불러올 내용이 없습니다.</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <AVAPagination v-model="currentPage" :records="total" :perPage="perPage" @notify:pageChanged="handlerNotifyPageChanged" />
            </div>
        </section>
    </div>
</template>

<script>
    import axios from 'axios';
    import NavLogoView from '@/components/nav/NavLogoView';
    import NavMyInfoView from '@/components/nav/NavMyInfoView';
    import NavSideMenuView from '@/components/nav/NavSideMenuView';

    //import EllipsisLoader from '@/components/common/AVAEllipsisLoader';
    import AVAPagination from '@/components/common/AVAPagination';

    import {RepositoryFactory} from '@/repositories/RepositoryFactory';
    import {mapState} from "vuex";
    const DownloadRepository = RepositoryFactory.get('download');


    export default {
        components: {
            NavLogoView,
            NavMyInfoView,
            NavSideMenuView,
            AVAPagination,
        },
        data() {
            return {
                currentPage: 1,
                total: 0,
                perPage: 10,
                contents: [],
                totalCharUseCnt: 0,
                totalCharMaxLimit: 0,
                plans:[],
            }
        },
        computed: {
            calcProgress() {
                let percent = 0;
                if(this.totalCharUseCnt) {
                    percent = ((this.totalCharUseCnt / this.totalCharMaxLimit) * 100).toFixed(2)
                }
                return {
                    'width' : `${percent}%`
                } 
            }, 
            leftCharCnt() {
                return this.totalCharMaxLimit - this.totalCharUseCnt
            },
            isEmptyContents() {
                return (this.contents || []).length == 0;
            },
            resultClasses() {
                return {
                    "empty" : this.isEmptyContents
                }
            },
            ...mapState('user', {
                userInfo: 'userInfo',
            }),
        },
        methods: {
            rowClasses(row) {
                return {
                    'inactive' : row.elapsed7Days
                }
            },
            exposeDownloadCharCnt(row) {
                let downloadExpectCharCnt = row.downloadExpectCharCnt || 0;
                let downloadCharCnt = row.downloadCharCnt || 0
                return `${downloadExpectCharCnt}(${downloadCharCnt})`;
            },
            exposeTotalDurationSecs(row) {
                let totalDurationSecs = row.totalDurationSecs || 0;
                let hour = parseInt(totalDurationSecs/3600);
                let min = parseInt((totalDurationSecs%3600)/60);
                let sec = (totalDurationSecs%60).toFixed(1)

                let times = []
                if(hour > 0) {
                    times.push(String(hour).padStart(2,'0'));
                }
                if(hour > 0) {
                    times.push(String(min).padStart(2,'0'));
                }

                times.push(String(sec).padStart(2,'0'));
                
                return times.join(" : ")
            },
            handlerNotifyPageChanged(pageNum) {
                console.log(pageNum)
                this.currentPage  = pageNum
                this.goPage(this.currentPage)
            },
            goPage(pageNum) {
                DownloadRepository.download_list(pageNum).then((res) => {
                    if(res.status == 200) {
                       let {totalCharUseCnt, totalCharMaxLimit, plans, pageContents}  = res.data;
                       this.totalCharUseCnt = totalCharUseCnt;
                       this.totalCharMaxLimit = totalCharMaxLimit;
                       this.plans = plans;
                       this.contents = pageContents['data'];
                       this.total = pageContents['paging'].totalElements;

                       //this.contents = []
                    }
                })
            },
            hasFileUrl(row) {
                return (row.objectUrl || '').length
            },
            btnDownloadFile(row) {
                this.$gtag.customMap({
                    'dimension1': 'userId',
                })
                this.$gtag.event(
                    'downloadScript',
                    {
                        userId: this.userInfo.userId,
                    }
                )
                axios.get(row.objectUrl, { responseType: 'blob' })
                .then(response => {
                    const blob = new Blob([response.data], { type: 'application/zip' })
                    const link = document.createElement('a')
                    link.href = URL.createObjectURL(blob)
                    link.download = row.downloadTitle
                    link.click()
                    URL.revokeObjectURL(link.href)
                }).catch(console.error)
            },
        },created () {
            this.goPage(this.currentPage);
        },
    }
</script>

<style lang="scss" scoped>
@import '~styles/base';
@import '~styles/reset';
@import '~styles/layout';
@import '~styles/main';
@import '~styles/sub';
</style>