<template>
  <body>
    <router-view />
  </body>
</template>

<script>

export default {
      components: {

      },
      mounted() {
          let self = this;
          if(this.$route.query.source){
              this.$gtag.customMap({
                  'dimension1': 'medium',
                  'dimension2': 'source',
                  'dimension3': 'etc1',
                  'dimension4': 'etc2',
              })
              this.$gtag.event(
                  'referral',
                  {
                      medium: this.$route.query.medium,
                      source: this.$route.query.source,
                      etc1: this.$route.query.etc1,
                      etc2: this.$route.query.etc2,
                      event_callback: function(){
                          self.$router.push('/');
                      },
                  }
              )
          }
      }
  }
</script>
<style lang="scss" scoped>
@import '~styles/reset';
</style>

