<template>
    <AVAModal
        @popup:notifyClosed="handlerNotifyClosed" 
        :isClose="true" id="all_delete">
        <h4 slot="title">전체 대본 삭제</h4>
        <section slot="content">
            <p>
            확인을 누르시면 저장하지 않은 대본은 모두 삭제됩니다. 캐릭터는 사라지지 않습니다.
            전체 대본을 삭제할까요?
            </p>
            <button class="cancel" @click="cancelClicked">취소</button>
            <button @click="scriptDeleteClicked">삭제하기</button>
        </section>
    </AVAModal>
</template>

<script>
    import Vue from "vue";
    import {mapState, mapGetters, mapActions} from 'vuex';

    import AVAModal from '@/components/common/AVAModal';

    export default {
        name: 'JobDeletePopupView',
        components: {
            AVAModal,
        },
        methods: {
            ...mapActions('base', {
                removeModal: 'removeModal',
            }),
            ...mapActions('job', {
                clearJobScripts: 'clearJobScripts',
                insertAtJobScript: 'insertAtJobScript' 
            }),
            cancelClicked() {
                this.handlerNotifyClosed();
            },
            handlerNotifyClosed() {
                this.$toast.success("대본 삭제 작업이 취소되었습니다.")

                this.removeModal(this);
            },
            scriptDeleteClicked() {
                this.clearJobScripts(); 
                this.insertAtJobScript({index:0})
                this.$toast.success("전체 대본 삭제 처리 되었습니다.")
                this.removeModal(this);
            }
        },
        
    }
</script>

<style lang="scss" scoped>
@import '~styles/base';
@import '~styles/reset';
@import '~styles/layout';
@import '~styles/main';
@import '~styles/sub';
</style>