<template>
    <AVAModal
        @popup:notifyClosed="handlerNotifyClosed" 
        :isClose="true" id="import">
        <h4 slot="title">불러오기</h4>
        <section slot="content">
            <p>내용을 확인하고 파일을 열어주세요.</p>
            <div class="empty_area" v-if="!hasMyList">
                <img src="@/assets/images/ico-empty-68-px.png" alt="불러올 내용이 없습니다.">
                <p>불러올 내용이 없습니다.</p>
            </div>
            <div class="contents_area" v-if="hasMyList">
                <div class="import_lists">
                    <ul>
                        <li v-for="(item) in myList" :key="`job-${item.id}`"  >
                            <input type="radio" name="import_list" :id="`job-${item.id}`" hidden :value="item.jobId" v-model="selectedJobId" @click.stop="getPreview(item.jobId)" />
                            <label :for="`job-${item.id}`">
                                <span class="date">{{item.updatedAt}}</span>
                                <p class="title">{{item.jobTitle}}</p>
                                <i class="icon-ico-solid-delete-24px" @click.stop.prevent="removeJobClicked(item.jobId)"></i>
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="import_list_contents" v-if="hasJobPreview">
                    <p>{{jobPreview.updatedAt}}</p>
                    <p class="title">{{jobPreview.jobTitle}}</p>
                    <ul class="selected_character_list">
                        <li v-for="(ppVFItem, ppVFItem_index) in this.previewPreferVFList" :key="`preferVFList-${ppVFItem_index}`" :class="`${ppVFItem.avatarClassNm}-36`"></li>
                    </ul>
                    <ul class="selected_script" v-if="hasPreviewJobScriptList">
                        <li class="selected_script_contents">
                            <ul v-for="(pJobScript, pJobScriptIndex) in previewJobScriptList" :key="`previewJobScript-${pJobScriptIndex}`">
                                <li class="character_name">{{pJobScript.characterNm}}</li>
                                <li class="character_script">{{pJobScript.scriptText}}</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <button @click="jobLoadClicked" v-if="hasMyList">확인</button>
        </section>
    </AVAModal>
</template>

<script>
    import Vue from "vue";
    import {mapState, mapGetters, mapActions} from 'vuex';

    import AVAModal from '@/components/common/AVAModal';

    import {RepositoryFactory} from '@/repositories/RepositoryFactory';
    const JobRepository = RepositoryFactory.get('job');

    export default {
        name: 'JobImportPopupView',
        components: {
            AVAModal,
        },
        data() {
            return {
                myList: [],
                recentJobPreview: {},
                selectedJobId: '',
            }
        },
        computed: {
            hasMyList() {
                return (this.myList || []).length > 0
            },
            jobPreview() {
                return this.recentJobPreview || {};
            },
            hasJobPreview() {
                return this.hasMyList && Object.keys(this.jobPreview).length > 0;
            },
            previewPreferVFList() {
                return this.jobPreview.preferVFList || [];
            },
            previewJobScriptList() {
                return this.jobPreview.jobScripts || [];
            },
            hasPreviewJobScriptList() {
                return this.previewJobScriptList.length > 0;
            }
        },
        methods: {
            ...mapActions('base', {
                removeModal: 'removeModal',
            }),
            ...mapActions('job', {
                setJobContent: 'setJobContent',
            }),
            handlerNotifyClosed() {
                this.removeModal(this);
            },
            getPreview(jobId) {
                const vm = this;
                JobRepository.getJobContentPreview(jobId).then(res=> {
                    vm.recentJobPreview = res.data || {}
                }).catch(error =>{
                    vm.$toast.error("미리보기 조회중 오류가 발생하였습니다.");
                });
            },
            removeJobClicked(jobId) {
                const vm = this;
                JobRepository.removeJobContent(jobId).then(res=> {
                    let index = vm.myList.findIndex(row => row.jobId === jobId);
                    vm.myList.splice(index, 1);
                    vm.$toast.success("삭제 되었습니다.")
                    this.$nextTick(function() {
                        if(vm.myList.length > 0) {
                            vm.getPreview(vm.myList[0]['jobId'])
                        }
                    });
                    
                }).catch(error => {
                    vm.$toast.error("삭제 처리중 오류가 발생하였습니다.");
                })
            },
            jobLoadClicked() {
                if(this.selectedJobId == "") {
                    this.$toast.warning("불러오기 대상을 선택 해주세요.");
                }
                const vm = this;
                JobRepository.getJobContent(this.selectedJobId).then(res=> {
                    vm.setJobContent(res.data);
                    vm.removeModal(this);
                    vm.$toast.success("데이터를 불러 왔습니다.");
                })
            }
        },created () {
            const vm = this;
            JobRepository.myJobList().then(res=> {
                let data = res.data;
                vm.myList = data.myList;
                vm.recentJobPreview = data.recentJobPreview || {}
            }).catch(error =>{
                vm.removeModal(this);
                vm.$toast.error("불러오기 처리중 오류가 발생하였습니다.");
                
            })
            
        },
        
    }
</script>

<style lang="scss" scoped>
@import '~styles/base';
@import '~styles/reset';
@import '~styles/layout';
@import '~styles/main';
@import '~styles/sub';
</style>