<template>
    <AVAModal
        @popup:notifyClosed="handlerNotifyClosed" 
        :isClose="true">
        <h4 slot="title">새파일</h4>
        <section slot="content">
            <p>확인을 누르시면 저장하지 않은 내용은 삭제됩니다. <br />새 파일을 열까요?</p>
            <button @click="confirmClicked">확인</button>
        </section>
    </AVAModal>
</template>

<script>
    import Vue from "vue";
    import {mapState, mapGetters, mapActions} from 'vuex';

    import AVAModal from '@/components/common/AVAModal';

    export default {
        name: 'JobNewFilePopupView',
        components: {
            AVAModal,
        },
        methods: {
            ...mapActions('base', {
                removeModal: 'removeModal',
            }),
            ...mapActions('job', {
                clearJobContent: 'clearJobContent',
                insertAtJobScript: 'insertAtJobScript' 
            }),
            handlerNotifyClosed() {
                this.removeModal(this);
            },
            confirmClicked() {
                this.clearJobContent(); 
                this.insertAtJobScript({index:0})
                this.removeModal(this);
            }
        },
        
    }
</script>

<style lang="scss" scoped>
@import '~styles/base';
@import '~styles/reset';
@import '~styles/layout';
@import '~styles/main';
@import '~styles/sub';
</style>