<template>
    <AVAModal
        @popup:notifyClosed="handlerNotifyClosed" 
        :isClose="true">
        <h4 slot="title">다른이름으로 저장하기</h4>
        <section slot="content">
            <p>작업하신 파일을 새 이름으로 저장합니다. 파일 제목을 입력하세요.</p>
            <form @submit.prevent="submitJobSave">
                <label for="save_title" :class="$v.saveAsJobTitle.$error	? 'error' : ''"></label>
                <input type="text" id="save_title" v-model.trim="$v.saveAsJobTitle.$model" placeholder="저장할 제목을 입력해주세요.">
                <p>다른 이름을 입력해주세요.</p>
                <button type="submit">다른이름으로 저장하기</button>
            </form>
        </section>
    </AVAModal>
</template>

<script>
    import Vue from "vue";
    import {mapState, mapGetters, mapActions} from 'vuex';

    import { required } from 'vuelidate/lib/validators';
    import AVAModal from '@/components/common/AVAModal';

    import {RepositoryFactory} from '@/repositories/RepositoryFactory';
    const JobRepository = RepositoryFactory.get('job');

    export default {
        name: 'JobSaveAsFilePopupView',
        components: {
            AVAModal,
        },
        data() {
            return {
                saveAsJobTitle: '',
                jobScriptIds: [],
                deletedJobScriptIds: [],
            }
        },
        validations: {
            saveAsJobTitle: {
                required,
            }
        },
        computed: {
            ...mapState('job', {
                jobId: 'jobId',
                jobTitle: 'jobTitle',
                jobScripts: 'jobScripts',
                deletedJobScripts: 'deletedJobScripts',
            }),
        },
        methods: {
            ...mapActions('base', {
                removeModal: 'removeModal',
            }),
            ...mapActions('job', {
                setJobContent: 'setJobContent',
            }),
            handlerNotifyClosed() {
                this.removeModal(this);
            },
            jobSaveAsClicked() {
                this.removeModal(this);
                alert('다른 작업으로 저장')
            },
            submitJobSave() {
                this.$v.$touch()
                const vm = this;
                if (this.$v.$invalid == false) {
                    if(!(this.jobScriptIds.length || this.deletedJobScriptIds.length)) {
                        this.$toast.info("저장할 대상이 없습니다.");
                        return;
                    }
                    let jobContent = {
                        jobId: this.jobId,
                        jobTitle: this.saveAsJobTitle,
                        scripts: this.jobScriptIds,
                        deletedScripts: this.deletedJobScriptIds,
                        saveAs: true
                    }
                    JobRepository.saveJobContent(this.jobId, jobContent).then(res => {
                        vm.setJobContent(res.data);
                        vm.handlerNotifyClosed();
                        vm.$toast.success("저장 완료 되었습니다.")
                    }).catch(error=> {
                        this.$toast.error("저장중 문제가 발생했습니다.");
                    })
                }
                return;
            }
        },
        created () {
            this.jobScriptIds = this.jobScripts.map(row=>row.scriptId);
            this.deletedJobScriptIds = this.deletedJobScripts.map(row=>row.scriptId)
        },
    }
</script>

<style lang="scss" scoped>
@import '~styles/base';
@import '~styles/reset';
@import '~styles/layout';
@import '~styles/main';
@import '~styles/sub';
</style>