<template>
    <AVAModal :modalAddClass="['warning']">
        <h4 slot="title">WARNING</h4>
        <section slot="content" id="warning">
        <p>
            비속어, 욕설 또는 정치적, 성적인 단어가 포함된 문장을 TTS로 변환하여 부적절한 용도로 이용하는 경우 모든 법적인 책임은 사용자에게 있습니다.
            </br>
            <span>동의 시, 해당 문장들에 대한 데이터가 수집되며 법적 문제 발생 시 증거자료로 활용될 수 있습니다.</span>
            </br>
            <em>동의하시겠습니까?</em>
        </p>
        <button class="cancel" @click="handlerNotifyClosed">닫기</button>
        <button @click="profanityAgreeAndNotifyClosed">동의하기</button>
        <ul>
            <li class="list_style"></li>
            <li>동의하지 않고 창을 닫으실 경우, 문장에 포함된 모든 비속어/욕설/정치적/성적 단어들은 <em>자동으로 삭제</em>됩니다.</li>
            <li class="list_style"></li>
            <li>해당 <em>동의는 1일간 유효</em>하며 1일 이후 재 동의 해주셔야 합니다.</li>
        </ul>
        </section>
    </AVAModal>
</template>

<script>
    import {mapState, mapGetters, mapActions} from 'vuex';

    import AVAModal from '@/components/common/AVAModal';

    import {EventBus} from '@/utils/bus';

    export default {
        name: 'SlangCheckPopupView',
        components: {
            AVAModal,
        },
        props: {
            parameters: {
                type: Object,
                default: {}
            },
        },
        data() {
            return {
                audio: new Audio(),
                data: {},
                text: '',
                invalidKeyword: '',
                invalidCause: '',
            }
        },
        computed: {
            ...mapGetters('base', {
                isModal: 'isModal'
            }),
            ...mapState('job', {
                jobScripts : 'jobScripts'
            }),
            ...mapState('user', {
                userInfo: 'userInfo',
            }),
        },
        methods: {
            ...mapActions('base', {
                removeModal: 'removeModal',
            }),
            ...mapActions('job', {
                updateAtJobScriptText: 'updateAtJobScriptText',
            }),
            ...mapActions('user', {
                profanityAgree: 'profanityAgree',
            }),
            handlerNotifyClosed() {
                const index = this.jobScripts.map((script, idx) => script.scriptId == this.data.scriptId ? idx : '').filter(String);
                this.invalidKeyword.split(',').sort((a, b) => b.length - a.length).forEach((v) => {
                    this.updateAtJobScriptText({ 'index' : index, 'text' : this.data.scriptText.replace(new RegExp(v, "gi"), '') });
                });
                this.removeModal(this);
            },
            profanityAgreeAndNotifyClosed() {
                this.profanityAgree();
                this.removeModal(this);
            },
            renderSLangText() {
                return this.text;
            },
        },
        created () {
            let result = this.parameters.slangCheck;
            this.data = result.data;
            this.text = result.data.scriptText;
            this.invalidCause = result.invalidCause;
            this.invalidKeyword = result.invalidKeyword;
            
            // EventBus.$on("slangCheck", (result)=>{
            //     this.data = result.data;
            //     this.text = result.data.scriptText;
            //     this.invalidCause = result.invalidCause;
            //     this.invalidKeyword = result.invalidKeyword;
            // });
        },
    }
</script>

<style lang="scss" scoped>
@import '~styles/base';
@import '~styles/reset';
@import '~styles/layout';
@import '~styles/main';
@import '~styles/sub';
</style>