/* sign_in, sign_up common */
#wrap>.container { width: 900px; margin: 0 auto; }
.sign_in .logo,
.sign_up .logo { display: block; height: 68px; }
.sign_in .logo a,
.sign_up .logo a { display: block; background: url('~@/assets/images/signature.svg') no-repeat; background-size: 173px; }
.video { display: inline-block; width: 480px; margin-left: 96px; }
.sign_in>p,
.sign_up>p { font-weight: 100; font-size: 40px; color: #c9d0d8; height: 59px; line-height: 64px; }
.button_submit { display: block; width: 100%; text-align: right; border: none; font-size: 20px; font-weight: 700; cursor: pointer; }
.button_submit>p { display: inline-block; padding-right: 24px; font-size: 20px; font-weight: 700; }

/* sign_in */
.sign_in label { display: block; margin-bottom: 10px; }
.sign_in input { display: block; width: 100%; }
.sign_in input[id='password'] { margin-bottom: 24px; }
.sign_in label+input+p { visibility: hidden; margin: 6px 0 12px 16px; }
.sign_in label.error+input { border: 1px solid #c64f56; margin-bottom: 0; }
.sign_in label.error+input+p { visibility: visible; color: #c64f56; }
.sign_in form a:hover { font-weight: 700; }
.sign_in form a.forgot_password { display: inline-block; color: #1db6cc; position: relative; left: 88px; margin-bottom: 52px; }
.sign_in .button_submit { color: #1db6cc; background-color: transparent; }
.sign_in .button_sign_up { color: #1baffd; margin-left: 11px; font-size: 16px; position: relative; } 
.sign_in .button_sign_up:hover::after { content: ''; display: inline-block; width: 62px; height: 1px; background-color: #1baffd; position: absolute; left: -1px; bottom: -1px; }
.sign_in .button_submit>p { color: #1db6cc; }
.sign_in input[id="always_login"] { display: none; }
.sign_in label[for="always_login"] { display: inline-block; font-weight: 400; }
.sign_in label[for="always_login"]:hover { font-weight: 700; }
.sign_in label[for="always_login"]::before { content: ''; display: inline-block; width: 24px; height: 24px; font-weight: 400; background: center / contain url('~@/assets/images/ico-check-gray-24px@2x.png') no-repeat; margin-right: 6px; vertical-align: middle; transform: translateY(-5%); }
.sign_in input[id="always_login"]:checked+label[for="always_login"] { font-weight: 700; }
.sign_in input[id="always_login"]:checked+label[for="always_login"]:before { background: center / contain url('~@/assets/images/ico-check-color-24px@2x.png') no-repeat; } 
.video { padding-top: 176px; }
.video img { margin-bottom: 16px; } 
.video video { width: 480px; border: 1px solid #c9d0d8; box-sizing: border-box; contain: size; }
.video>a { display: block; width: 100%; text-align: right; font-size: 14px; color: #a8b0bc; display: inline-block; margin-top: 44px; }
.video>a button { background-color: transparent; }
.video>a button p { font-size: 16px; color: #a8b0bc; }
.video>a button div { padding: 24px 6px; text-align: center; }
.video>a button div span { font-size: 16px; color: #fff; font-weight: 300; letter-spacing: -0.72px; }

/* sign_up */
.sign_up label { display: inline-block; width: 120px; margin-right: 9px; }
.sign_up input { display: inline-block; width: 320px; margin-bottom: 0; }
.sign_up label+input+p { visibility: visible; height: 18px; margin-left: 148px; margin-bottom: 12px; margin-top: 6px; font-weight: 400; color: #a8b0bc; }
.sign_up label+input+p { visibility: hidden; }
.sign_up label+input[type='password']+p { visibility: visible; }
.sign_up label.error+input+p { visibility: visible; } 
.sign_up label+input+button+p { display: none; }
.sign_up label.error+input { border: 1px solid #c64f56; }
.sign_up label.error+input+p { color: #c64f56; }
.sign_up .button_submit { color: #1baffd; background-color: transparent; cursor: pointer; margin-top: 68px; }
.sign_up #button_certification { display: block; width: 320px; height: 48px; border-radius: 8px; border: 1px solid #1baffd; background: #ffffff; color: #1baffd; margin-left: 132px; margin-top: 12px; margin-bottom: 36px; font-weight: 700; font-size: 14px; }
.sign_up label[for="email"]+input+#button_certification.remove { display: none; } 
.sign_up label[for="email"]+input+#button_certification.remove+p { display: block; color: #1baffd; margin-left: 148px; margin-bottom: 12px; margin-top: 6px; }
.sign_up .button_submit>p { color: #1baffd; } 

/* find_password_confirm */
.find_password_confirm input[type='email'] { margin-bottom: 36px; }

/* find_password_send_email */
p.infomation { font-size: 16px; font-weight: 400; color: #414853; line-height: 24px; margin: 48px 0; height: auto; letter-spacing: -0.72px; }

/* find_password_resend_email */
div.solution { padding: 12px; background-color: #f4f6f8; }
div.solution p { font-size: 16px; font-weight: 700; color: #414853; line-height: 24px; letter-spacing: -0.72px; }
div.solution ul li { font-size: 16px; font-weight: 400; color: #414853; line-height: 24px; letter-spacing: -0.72px; }

/* sub_page common */
#contents .container { width: 960px; margin: 0 auto; text-align: center; }
#contents img { width: 48px; margin-bottom: 6px; }
#contents h2 { font-size: 28px; font-weight: 300; }
#contents h2::after { display: block; content: ''; width: 960px; height: 1px; background-color: #cad0d7; margin: 19px auto 0; }
#contents h2+p { font-size: 16px; margin: 72px auto; font-weight: 500; }

/* payments */
#contents h2+p>a { font-size: 16px; margin: 72px auto; font-weight: 500; color: #1baffd; position: relative; }
#contents h2+p>a::after { position: absolute; content: ''; display: inline-block; width: 164px; height: 1px; bottom: 0; left: 0; background-color: #1baffd; }
#contents li.plan { width: 228px; height: 565px; border-radius: 8px; border: 2px solid #cad0d7; box-sizing: border-box; padding: 24px; font-size: 16px; text-align: left; position: relative; float: left; margin-right: 16px; }
#contents li.plan.lite:hover { border-color: #1db6cc; }
#contents li.plan.standard:hover { border-color: #1baffd; }
#contents li.plan.business:hover { border-color: #0964ff; } 
#contents li.plan.enterprise:hover { border-color: #5d1fff; }
#contents li.plan:last-child { margin-right: 0; }
#contents ul::after { clear: both; display: block; content: ""; }
#contents li.plan h6 { font-size: 24px; font-weight: 700; }
#contents li.plan h6+p { font-size: 10px; }
#contents li.plan h6+p::after { display: block; content: ''; width: 100%; height: 1px; background-color: #c9d0d8; margin-top: 16px; margin-bottom: 24px; }
#contents li.plan p { font-size: 14px; line-height: 24px; margin-bottom: 24px; }
#contents li.plan p em { font-size: 14px; }
#contents li.plan .benefits li { font-size: 14px; margin-bottom: 6px; height: 24px; }
#contents li.plan .price { position: absolute; bottom: 96px; right: 24px; font-size: 24px; font-weight: 700; margin: 0; }
#contents li.plan a { display: inline-block; font-size: 16px; font-weight: 700; padding: 14px 34px; border: 1px solid #1db6cc; color: #1db6cc; background-color: transparent; border-radius: 8px; position: absolute; bottom: 24px; right: 24px; cursor: pointer; }
#contents li.plan.standard a { border-color: #1baffd; color: #1baffd; }
#contents li.plan.business a { border-color: #0964ff; color: #0964ff; }
#contents li.plan.enterprise a { border-color: #5d1fff; color: #5d1fff; }
#contents li.plan.lite:hover a { background-color: #1db6cc; box-shadow: 0 2px 6px 0 rgba(90, 180, 201, 0.4); color: #fff; }
#contents li.plan.standard:hover a { background-color: #1baffd; box-shadow: 0 2px 6px 0 rgba(27, 175, 253, 0.4); color: #fff; }
#contents li.plan.business:hover a { background-color: #0964ff; box-shadow: 0 2px 6px 0 rgba(9, 100, 255, 0.4); color: #fff; }
#contents li.plan.enterprise:hover a { background-color: #5d1fff; box-shadow: 0 2px 6px 0 rgba(93, 31, 255, 0.4); color: #fff; }
#contents li.plan.lite:hover h6+p::after { background-color: #1db6cc; }
#contents li.plan.standard:hover h6+p::after { background-color: #1baffd; }
#contents li.plan.business:hover h6+p::after { background-color: #0964ff; }
#contents li.plan.enterprise:hover h6+p::after { background-color: #5d1fff; }
#contents li.plan.lite:hover .benefits li i::before { color: #1db6cc; } 
#contents li.plan.standard:hover .benefits li i::before { color: #1baffd; } 
#contents li.plan.business:hover .benefits li i::before { color: #0964ff; }
.plan_explanation { text-align: left; font-size: 14px; margin-bottom: 24px; }
.plan_explanation span { font-size: 14px; font-weight: 700; color: #1db6cc; margin-right: 12px; }
.plan_explanation span::before { content: ''; display: inline-block; width: 4px; height: 20px; background: #1db6cc; margin-right: 12px; margin-bottom: 3px; vertical-align: middle; }
.payments #contents .container>ul { padding-bottom: 72px; }

/* payments_management */
#contents p.explanation_text { font-size: 14px; margin: 72px auto 24px; font-weight: 500; letter-spacing: -0.06em; text-align: left; width: 408px; }
p.explanation_text+div { width: 408px; border-radius: 8px; border: 1px solid #5ab4c9; box-sizing: border-box; padding: 24px; font-size: 14px; text-align: left; margin: 0 auto; }
.plan h6 { font-size: 16px; font-weight: 700; margin-bottom: 22px; }
.plan h6 span { font-size: 12px; font-weight: 700; color: #1db6cc; padding: 5px 11px; border: 1px solid #1db6cc; border-radius: 20px; box-sizing: border-box; margin-right: 12px; }
.plan>p { margin: 16px 0; font-size: 14px; }
.plan .plan_content { font-weight: 700; }
.plan .plan_payment_date { margin: 0; }
.explanation_text span { font-size: 14px; font-weight: 700; color: #1db6cc; margin-right: 12px; }
.explanation_text span::before { content: ''; display: inline-block; width: 4px; height: 20px; background: #1db6cc; margin-right: 12px; margin-bottom: 3px; vertical-align: middle; }
#contents p.explanation_text+div.plan+p.explanation_text { margin-top: 48px; } 
.card { position: relative; } 
.card h6.logo { height: 34px; margin: 0; }
.card h6.logo>a { display: block; width: 100%; height: 100%; background: left / contain url('~@/assets/images/signature_nav.png') no-repeat; }
.card .card_company { color: #5ab4c9; padding: 9px 16px; border: 1px solid #5ab4c9; background-color: transparent; border-radius: 4px; position: absolute; top: 24px; right: 24px; cursor: pointer; }
.card .card_company.selected { border: none; color: #414853; font-weight: 700; font-size: 14px; }
.card .card_number { margin: 0; }
.card .card_number input::placeholder { font-size: 14px; font-weight: 700; letter-spacing: 1.4px; }
.card .card_number input { width: 72px; height: 32px; border-radius: 4px; border-color: #c9d0d8; letter-spacing: 1.4px; box-sizing: border-box; display: inline-block; margin: 0 8px; padding: 6px 12px; text-align: center; font-size: 14px; } 
.card button[type="submit"] { padding: 8px 22px; border: 1px solid #1db6cc; border-radius: 4px; font-weight: 700; font-size: 14px; background-color: transparent; color: #1db6cc; margin-top: 40px; margin-left: 263px; cursor: pointer; }
.card button[type="submit"]:hover { background-color: #1db6cc; color: #fff; box-shadow: 0 2px 6px 0 rgba(29, 182, 204, 0.4); }
.auto_payment_cancel { margin: 100px 0 48px; padding: 9px 13px; border-radius: 4px; background-color: #f4f6f8; color: #a8b0bc; cursor: pointer; }

/* download_list */
#contents h2+p>span { font-size: 16px; color: #1db6cc; font-weight: 500; }
#contents h2 p.text { text-align: right; }
#contents table { margin: 0 auto; }
#contents .progress_bar_bg { width: 840px; height: 24px; background-color: #e8f8fa; border-radius: 12px; margin: 0 auto 24px; }
#contents .progress_bar_bg .current_progress { background-color: #1db6cc; width: 10%; height: 100%; border-radius: 12px; position: relative; text-align: right; }
#contents .progress_bar_bg .current_progress .marker { position: absolute; top: -30px; left: 100%; transform: translateX(-50%); display: inline-block; padding: 4px 14px; border-radius: 20px; background-color: #5d1fff; color: #fff; font-size: 10px; font-weight: 200; }
#contents .progress_bar_bg .current_progress .marker em { color: #fff; font-size: 10px; font-weight: 700; }
#contents .progress_bar_bg .current_progress .marker::after { content: ''; width: 0; height: 0; position: absolute; border-left: 4px solid transparent; border-right: 4px solid transparent; border-top: 4px solid #5d1fff; top: 20px; left: 50%; transform: translateX(-50%); }
#contents .remaining_letters li { text-align: right; font-size: 14px; font-weight: 400; margin-bottom: 24px; color: #616c78; }
.remaining_letters li>span { font-size: 14px; font-weight: 700; color: #1db6cc; margin-right: 12px; }
.remaining_letters li>span::before { content: ''; display: inline-block; width: 4px; height: 20px; background: #1db6cc; margin-right: 12px; margin-bottom: 3px; vertical-align: middle; }
.remaining_letters { display: flex; justify-content: flex-end; }
.remaining_letters li>em>span { font-size: 14px; font-weight: 700; color: #616c78; } 
.remaining_letters li::after { content: ' +'; color: #616c78; font-weight: 700; } 
.remaining_letters li:first-child::after,
.remaining_letters li:last-child::after { display: none; }
#contents table { width: 100%; }
#contents table th { height: 52px; background: #f4f6f8; font-size: 14px; color: #414853; font-weight: 700; padding: 16px 22px; box-sizing: border-box; }
#contents table td { height: 48px; font-size: 14px; color: #414853; font-weight: 400; box-sizing: border-box; vertical-align: middle; padding: 14px 25px; }
#contents table td>i::before { color: #1db6cc; cursor: pointer; }
#contents table td.file_title>div { width: 272px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; box-sizing: border-box; font-size: 14px; color: #414853; font-weight: 400; text-align: left; }
#contents table tr:hover { background: #f4f6f8; }
#contents table.empty tr td { display: none; }
#contents table tr.empty_list td { display: none; }
#contents table.empty tr.empty_list td { display: table-cell; width: 100%; text-align: center; height: 110px; }
#contents table.empty tr.empty_list:hover { background: transparent; }
#contents table.empty tr.empty_list td p { font-size: 16px; font-weight: 700; color: #c9d0d8; }
#contents table tr.inactive td,
#contents table tr.inactive td.file_title>div,
#contents table tr.inactive td>i::before { color: #C9D0D8; }
#contents .paging { margin: 72px 0 48px; }
#contents .paging ul li { display: inline-block; width: 36px; height: 36px; text-align: center; vertical-align: middle; }
#contents .paging ul li a { display: block; font-size: 12px; font-weight: 400; color: #616c78; width: 100%; height: 100%; padding: 9px 5px; box-sizing: border-box; font-size: 12px; }
#contents .paging ul li a>i::before { display: block; transform: translateY(-18%); }
#contents .paging ul li a.inactive>i::before { color: #a8b0bc; }
#contents .paging ul li a.active,
#contents .paging ul li a.active>i::before,
#contents .paging ul li a.active { display: block; font-weight: 700; color: #414853; }
#contents .paging ul { content: ''; clear: both; }

/* modal common*/
.modal { position: absolute; top: 0; left: 240px; width: calc(100% - 240px); height: 100%; z-index: 100; overflow: hidden; font-size: 14px; font-weight: 400; color: #414853; }
.modal .modal_bg { width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.4); }
.modal_contents { display: inline-block; background-color: #fff; padding: 36px; border-radius: 8px; white-space: normal; position: absolute; top: 50%; left: calc(50%); transform: translate(-50%, -50%); box-sizing: border-box; /* white-space: normal; */ }
.modal .modal_close { display: inline-block; position: absolute; top: 12px; right: 12px; }
.modal_contents>h4 { font-size: 20px; font-weight: 700; color: #414853; margin-bottom: 24px; }
.modal_contents>p { font-size: 14px; line-height: 24px; letter-spacing: -0.08em; width: 288px; }
.modal_contents>section>p { font-size: 14px; line-height: 24px; letter-spacing: -0.08em; width: 288px;}
.modal_contents.modal_m>p { width: 452px; }
.modal_contents div p { font-size: 20px; font-weight: 700; text-align: center; color: #a8b0bc; }
.modal_contents form { margin-top: 0; width: 288px; }
.modal_contents.modal_m form { margin-top: 16px; width: 452px; }
.modal_contents form input { width: 288px; height: 48px; padding: 14px 16px; box-sizing: border-box; border-radius: 4px; margin-top: 16px; border: 1px solid #e3e8eb; }
.modal_contents.modal_m form input { display: inline-block; width: 320px; margin-bottom: 24px; margin-top: 0; }
.modal_contents button { width: 288px; height: 48px; font-size: 16px; font-weight: 700; border: 1px solid #1db6cc; color: #1db6cc; background-color: #ffffff; box-sizing: border-box; border-radius: 4px; position: relative; margin: 24px auto 0; display: block; } 
.modal_contents button:hover { background-color: #1db6cc; color: #fff; }
.modal_contents.modal_m>a { display: block; text-align: center; font-weight: 700; font-size: 12px; color: #a8b0bc; margin-top: 48px; }
.modal_contents label { display: inline-block; width: 120px; margin-right: 9px; line-height: 1.6em; }
.modal_contents label[for="new_password_confirm"] { margin-bottom: 0; vertical-align: middle; }
.modal_contents input[id="email"] { margin-bottom: 0; }
.modal_contents input[id="password"] { margin-bottom: 0; }
.modal_contents input[id="company"] { margin-bottom: 0; }
.modal input.error { border-color: #c64f56; }
.modal input.error+p { font-size: 12px; color: #d94452; }
#new_name_save input+p { margin-top: 12px; }
#all_download .modal_contents form>label,
#save label,
#new_name_save label { display: none; }

/* 불러오기 */
#import .contents_area { float: left; }
#import .modal_contents { width: 884px; height: 702px; }
#import .modal_contents .contents_area { width: 100%; box-sizing: border-box; position: relative; margin: 16px 0 24px; }
.import_lists { display: inline-block; vertical-align: top; height: 468px; overflow-y: scroll; }
.import_lists::-webkit-scrollbar { width: 20px; }
.import_lists::-webkit-scrollbar-thumb { background-color: #C9D0D8; border-radius: 30px; background-clip: padding-box; border: 8px solid transparent; }
.import_lists::-webkit-scrollbar-track { background-color: #FFFFFF; border-radius: 30px; box-shadow: inset 0px 0px 4px white; }
.import_lists input+label { width: 388px; height: 48px; display: block; border: 1px solid #e3e8eb; border-radius: 4px; padding: 14px 16px; box-sizing: border-box; margin-bottom: 12px; }
.import_lists input+label:hover { border: 1px solid #5ab4c9; box-shadow: 0 2px 6px 0 rgba(29, 182, 204, 0.4); }
.import_lists input:checked+label { border: 1px solid #5ab4c9; box-shadow: 0 2px 6px 0 rgba(29, 182, 204, 0.4); }
.import_lists span { margin-right: 16px; vertical-align: middle; color: #616c78; font-size: 12px; height: 20px; display: inline-block; line-height: 18px; }
.import_lists input+label p.title { margin-right: 16px; display: inline-block; font-size: 14px; font-weight: 700; width: 191px; height: 20px; line-height: 18px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #414853; vertical-align: middle; text-align: left; }
.import_list_contents { display: inline-block; width: 388px; height: 468px; border: 1px solid #5ab4c9; border-radius: 4px; padding: 24px; overflow: hidden; box-sizing: border-box; } 
.modal_contents .import_list_contents p { vertical-align: middle; color: #616c78; font-size: 12px; font-weight: 400; text-align: left; margin-bottom: 6px; }
.modal_contents .import_list_contents p.title { font-size: 14px; font-weight: 700; margin-bottom: 24px; color: #414853; }
#import .modal_contents button,
#import_empty .modal_contents button { margin: 0 auto 24px; }
#import .selected_character_list { width: 100%; height: 36px; overflow: hidden; clear: both; display: block; content: ''; }
#import .selected_character_list li { float: left; background-color: #f4f6f8; width: 36px; height: 36px; border-radius: 18px; margin-right: 6px; }
#import .selected_script .selected_script_contents { height: 302px; overflow-y: auto; margin-top: 16px; }
#import .selected_script .selected_script_contents ul { margin-bottom: 8px; }
#import .selected_script .selected_script_contents::-webkit-scrollbar { width: 8px; }
#import .selected_script .selected_script_contents::-webkit-scrollbar-thumb { background-color: #C9D0D8; border-radius: 10px; background-clip: padding-box; border: 3px solid transparent; }
#import .selected_script .selected_script_contents::-webkit-scrollbar-track { background-color: #FFFFFF; border-radius: 10px; box-shadow: inset 0px 0px 5px white; }
#import .selected_script .selected_script_contents ul:last-child { margin-bottom: 0; } 
#import .selected_script .selected_script_contents ul li { font-size: 10px; color: #414853; font-weight: 400; letter-spacing: -0.05em; }
#import .selected_script .selected_script_contents ul .character_name { display: inline-block; width: 46px; font-weight: 700; vertical-align: top; padding-top: 3px; margin-right: 16px; }
#import .selected_script .selected_script_contents ul .character_script { display: inline-block; width: 260px; line-height: 1.6em; }
#import .selected_character_list li:last-child { margin-right: 0; }
#import .modal_contents.empty .contents_area { display: none; }
#import .modal_contents .empty_area { display: none; }
#import .modal_contents.empty .empty_area { display: block; width: 100%; height: 508px; text-align: center; padding: 181px 0 180px; box-sizing: border-box; position: relative; }
#import .modal_contents.empty div.empty_area img { width: 68px; margin-bottom: 24px; } 

/* 캐릭터 선택 + 화자 선택 */
.modal_contents.modal_character_change { width: 648px; height: 750px; box-sizing: border-box; padding: 36px 0 36px 36px; }
.modal_contents.modal_character_change p em { font-size: 14px; }
.modal_contents.modal_character_change .list_wrap { height: 516px; overflow-y: scroll; padding-top: 12px; display: flex; flex-wrap: wrap; justify-content: space-between; }
.modal_contents.modal_character_change .list_wrap::-webkit-scrollbar { width: 28px; }
.modal_contents.modal_character_change .list_wrap::-webkit-scrollbar-thumb { background-color: #C9D0D8; border-radius: 30px; background-clip: padding-box; border: 12px solid transparent; }
.modal_contents.modal_character_change .list_wrap::-webkit-scrollbar-track { background-color: #FFFFFF; border-radius: 30px; box-shadow: inset 0px 0px 5px white; }
.modal_contents.modal_character_change .list_wrap input { display: none; }
.modal_contents.modal_character_change .list_wrap label { width: 276px; height: 104px; border: 1px solid #eaeaea; border-radius: 8px; display: inline-block; padding: 16px; box-sizing: border-box; position: relative; margin-bottom: 24px; }
.modal_contents.modal_character_change .list_wrap label.current { background-color: #f4f6f8; }
.modal_contents.modal_character_change .list_wrap label:hover { border: 1px solid #5ab4c9; }
.modal_contents.modal_character_change .avatar { width: 72px; height: 72px; border-radius: 36px; display: inline-block; position: relative; margin-right: 16px; }
.modal_contents.modal_character_change label .avatar_detail_info { position: absolute; display: inline-block; text-align: left; }
.modal_contents.modal_character_change label .avatar_detail_info>li { height: 20px; margin-bottom: 6px; letter-spacing: -0.08em; width: 154px; white-space: nowrap; overflow: hidden; }
.modal_contents.modal_character_change label .avatar_detail_info>li:first-child em { font-size: 14px; }
.modal_contents.modal_character_change label .avatar_detail_info>li:last-child { margin-bottom: 0; }
.modal_contents.modal_character_change label .avatar_detail_info>li:last-child em { color: #1BAFFD; }
.modal_contents.modal_character_change label .avatar_detail_info>li:last-child::after { display: block; content: ''; width: 58px; height: 1px; background-color: #1BAFFD; margin-top: 2px; }
.modal_contents.modal_character_change .list_wrap input:checked+label { border: 1px solid #5ab4c9; }
.modal_contents.modal_character_change .list_wrap label .icon_bg_24 { border-radius: 16px; padding: 3px 4px; position: absolute; right: 0; bottom: 0; }
.modal_contents.modal_character_change button { left: -18px; }
.modal_contents.modal_character_change button:disabled { border-color: #cad0d7; color: #a8b0bc; }
.modal_contents.modal_character_change button:disabled:hover { background-color: transparent; }

/* 화자 선택 */
.modal_contents.modal_speaker_change .list_wrap { height: 588px; }

/* 전체 다운로드 */
#all_download .modal_contents form div { margin-bottom: 24px; }
#all_download .modal_contents button { margin: 0; }
#all_download .modal_contents form div p { text-align: left; font-size: 14px; color: #414853; margin-bottom: 12px; }
#all_download .modal_contents form>input { margin: 0 0 24px; }
#all_download .modal_contents form label+input+p,
#all_download .modal_contents form input+label+ul+p+p+p { display: none; }
#all_download .modal_contents form .error+input { border-color: #d94452; margin-bottom: 12px; }
#all_download .modal_contents form .error+input+p,
#all_download .modal_contents form .error+label+ul+p+p+p { display: block; font-size: 12px; font-weight: 400; color: #d94452; margin-bottom: 24px; }
#all_download .modal_contents form input+label { display: inline-block; width: 80%; margin: 0 12px 12px; padding: 2px 0; color: #616c78; font-weight: 400; font-size: 14px; }
#all_download .modal_contents form input+label[for='mp3'],
#all_download .modal_contents form input+label[for='all'] { margin-bottom: 0; }
#all_download .modal_contents form div input[type='radio'],
#all_download .modal_contents form div input[type='radio']:checked { appearance: none; width: 16px; height: 16px; margin: 0; vertical-align: middle; border-radius: 100%; padding: 0; margin-bottom: 2px; }
#all_download .modal_contents form div input[type='radio'] { background-color: #FFFFFF; border: 1px solid #CAD0D7; }
#all_download .modal_contents form div input[type='radio']:checked { width: 16px; height: 16px; border-radius: 100%; background: url('~@/assets/images/radio_selected.png') no-repeat 50% 50% #ffffff; } 
#all_download .modal_contents form #deduction_agree { display: none; }
#all_download .modal_contents form label[for='deduction_agree']::before { display: inline-block; content: ''; margin: 0 8px 2px 0; vertical-align: middle; width: 16px; height: 16px; border: 1px solid #cad0d7; box-sizing: border-box; }
#all_download .modal_contents form .error+label[for='deduction_agree']::before { border-color: #d94452; }
#all_download .modal_contents form #deduction_agree:checked+label::before { background: url('~@/assets/images/check.png') no-repeat 50% 50%; }
#all_download .modal_contents form #deduction_agree+label { margin-left: 0; font-weight: 700; color: #414853; }
#all_download .modal_contents form ul.deduction_agree_contents { display: inline-block; width: 179px; height: 20px; text-align: right; margin-bottom: 6px; }
#all_download .modal_contents form ul li { display: inline-block; }
#all_download .modal_contents form ul li.deduction_agree_title { width: 98px; margin-right: 6px; margin-bottom: 6px; text-align: left; font-weight: 700; }
#all_download .modal_contents form ul li,
#all_download .modal_contents form ul li>span { font-size: 14px; }
#all_download .modal_contents form ul li.current_use,
#all_download .modal_contents form ul li.current_use>span { font-size: 14px; font-weight: 700; }
#all_download .modal_contents form p.deduction_info { font-size: 12px; font-weight: 400; }
#all_download .modal_contents form.overbalance li.deduction_agree_contents .hold_words>span { color: #d94452; }
#all_download .modal_contents form .overbalance .deduction_info { display: none; }
#all_download .modal_contents form .deduction_info.overbalance { display: none; }
#all_download .modal_contents form.overbalance .deduction_info.overbalance { display: block; color: #d94452; }
#all_download .modal_contents form button.overbalance { display: none; }
#all_download .modal_contents form.overbalance button { display: none; }
#all_download .modal_contents form.overbalance button.overbalance { display: block; }

/* 무료회원 다운로드 */
#free_member_download button { display: inline-block; width: 172px; box-sizing: border-box; margin: 24px 0 0 0; }
#free_member_download button.cancel { width: 92px; border-color: #cad0d7; color: #cad0d7; margin-right: 24px; }
#free_member_download button.cancel:hover { background-color: #cad0d7; color: #fff; }

/* 전체 대본 삭제 */
#all_delete button { display: inline-block; width: 172px; box-sizing: border-box; margin: 24px 0 0 0; }
#all_delete button.cancel { width: 92px; border-color: #cad0d7; color: #cad0d7; margin-right: 24px; }
#all_delete button.cancel:hover { background-color: #cad0d7; color: #fff; }

/* 결제관리>카드사선택 */
#card_company_select .cards { display: flex; flex-wrap: wrap; justify-content: space-between; align-content: space-between; }
#card_company_select .cards label { display: inline-block; width: 92px; height: 48px; border: 1px solid #cad0d7; border-radius: 4px; box-sizing: border-box; margin: 0 6px 6px 0; text-align: center; line-height: 46px; font-size: 14px; font-weight: 400; }
#card_company_select .cards input { display: none; }
#card_company_select .cards label:hover { border-color: #1db6cc; font-weight: 700; }
#card_company_select .cards input:checked+label { border-color: #1db6cc; font-weight: 700; }
#card_company_select .cards>label:nth-child(3n) { margin-right: 0; }
#card_company_select .cards>label:nth-child(13),
#card_company_select .cards>label:nth-child(14),
#card_company_select .cards>label:nth-child(15) { margin-bottom: 0; }

/* 결제하기>ENTERPRISE문의하기 */
#enterprise_question .modal_contents { width: 524px; }
#enterprise_question .modal_contents label { width: 68px; }
#enterprise_question .modal_contents label[for="question_contents"] { vertical-align: top; }
#enterprise_question .modal_contents input { width: 368px; }
#enterprise_question .modal_contents textarea { width: 368px; height: 240px; padding: 16px; font-size: 14px; line-height: 20px; }
#auto_payment_cancel ul { width: 288px; }
#auto_payment_cancel ul li { display: inline-block; font-size: 14px; line-height: 24px; letter-spacing: -0.08em; width: 261px; margin-bottom: 16px; }
#auto_payment_cancel ul li.list_style { display: inline-block; vertical-align: top; width: 4px; height: 4px; background-color: #1db6cc; margin: 9px 8px; }
#auto_payment_cancel ul li:last-child { margin-bottom: 0; }

/* NOTICE */
#today_closed { display: none; }

#today_closed+label::before { display: inline-block; content: ""; width: 16px; height: 16px; border: 1px solid #cad0d7; position: absolute; bottom: 0; right: 106px; }

#today_closed:checked+label::before { background: url('~@/assets/images/check.png') no-repeat 50% 50%; }

#notice label[for='today_closed'] { font-weight: 400; position: absolute; bottom: 16px; right: 36px; margin: 0; width: auto; }

#notice .modal_contents { padding-bottom: 50px; }

#notice.modal { left: 0; width: 100%; }

/* WARNING */
#warning p>span { font-size: 12px; }
#warning button { display: inline-block; width: 172px; box-sizing: border-box; margin: 24px 0 0 0; }
#warning button.cancel { width: 92px; border-color: #cad0d7; color: #cad0d7; margin-right: 24px; }
#warning button.cancel:hover { background-color: #cad0d7; color: #fff; }
#warning ul { width: 288px; margin-top: 16px; }
#warning ul li { display: inline-block; width: 278px; font-size: 12px; color: #616c78; line-height: 16px; }
#warning ul li.list_style { width: 4px; height: 1px; background-color: #616c78; margin: 8px 3px 8px 0; vertical-align: top; } 

/* toast */
.toast { position: fixed; top: 229px; right: 12px; z-index: 101; }
.toast .toast_item { width: 322px; height: 52px; background: #1db6cc; box-sizing: border-box; margin-bottom: 12px; position: relative; animation: fadeout 2s ease-out 3s; -moz-animation: fadeout 2s ease-out 3s; /* Firefox */ -webkit-animation: fadeout 2s ease-out 3s; /* Safari and Chrome */ -o-animation: fadeout 2s ease-out 3s; /* Opera */ animation-fill-mode: forwards; }
.toast .toast_item p { display: inline-block; height: 100%; color: #ffffff; font-size: 14px; font-weight: 700; box-sizing: border-box; position: absolute; top: 17px; }
.toast .toast_item .toast_icon { display: inline-block; vertical-align: middle; width: 52px; height: 100%; padding: 14px; box-sizing: border-box; background: center / 24px 24px url('~@/assets/images/ico-smaile-24px.png') no-repeat; }
.toast .toast_item .toast_close { position: absolute; top: 0; right: 0; display: inline-block; width: 52px; height: 100%; padding: 21px; box-sizing: border-box; background: center / 10px 10px url('~@/assets/images/ico-close-10px.png') no-repeat; }
.toast_item.toast_item_download_fail { background: #d94452; } 
.toast_item.toast_item_download_fail .toast_icon { background: center / 24px 24px url('~@/assets/images/ico-confused-24px.png') no-repeat; }
.toast_item.toast_item_information_script { background: #5d1fff; }
.toast_item.toast_item_information_script .toast_icon { background: center / 24px 24px url('~@/assets/images/ico-curious-24px.png') no-repeat; }
.toast_item.toast_item_warning_script { background: #f69000; }
.toast_item.toast_item_warning_script .toast_icon { background: center / 24px 24px url('~@/assets/images/ico-amazed-24xp.png') no-repeat; }

@media(max-height: 860px) {
  footer { position: relative; margin-top: 168px; }
}

@media (max-width:1400px) {
  .main { grid-template-columns: [nav] 240px [mini_map] 0.75fr [script_list] 2.25fr; }
  #mini_map { left: 22vw; }
  .modal { width: 1160px; }
}

@media (max-width:1200px) {
  body { width: 1200px; }
  .main {
    grid-template-areas: "nav character_list character_list""nav script_list script_list""nav script_list script_list";
    grid-template-columns: [nav] 240px [script_list] 2fr;
  }
  #mini_map { display: none; }
  #script_list { margin: 0 auto; -ms-grid-row: 2; -ms-grid-column: 2; grid-row: 2 / span 1; grid-column: 2 / span 1; }
  #script_list { margin: 0 auto; }
  .modal { width: 960px; }
  #top_banner { width: 960px }
  #notice.modal { width: 1200px; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to { opacity: 0; margin-bottom: 0; }
}
@-moz-keyframes fadeout {
  /* Firefox */
  from { opacity: 1; }
  to { opacity: 0; margin-bottom: 0; }
}
@-webkit-keyframes fadeout {
  /* Safari and Chrome */
  from { opacity: 1; } 
  to { opacity: 0; margin-bottom: 0; }
}
@-o-keyframes fadeout {
  /* Opera */
  from { opacity: 1; }
  to { opacity: 0; margin-bottom: 0; }
}