<template>
    <div>
        <h1 class="logo">
            <a href="javascript:void(0)" @click="goHomeClicked"></a>
        </h1>
    </div>
</template>

<script>
    export default {
        methods: {
            goHomeClicked() {
                // this.$toast.success("hello")
                // this.$toast.error("hello");
                // this.$toast.warning("hello");
                // this.$toast.info("hello");
                this.$router.push({ name: 'MainHomeView' }).catch(err => {})
            }
        }
    }
</script>
<style lang="scss" scoped>
@import '~styles/base';
@import '~styles/reset';
@import '~styles/layout';
@import '~styles/main';
@import '~styles/sub';
</style>