<template>
    <div class="my_info">
        <ul>
            <li class="list">
                <span>{{userNm}}</span> 님
                <div class="icon_bg_24">
                <i class="icon-ico-down-24px"></i>
                </div>
                <ul class="font_12_b">
                <li>
                    <a href="javascript:void(0)" @click="myInfoChangeClicked">
                    <div class="icon_bg_40 bg_purple">
                        <i class="icon-ico-edit-24px"></i>
                    </div>
                    <span>개인정보 변경</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" @click="passwordChangeClicked">
                    <div class="icon_bg_40 bg_blue">
                        <i class="icon-ico-lock-24px"></i>
                    </div>
                    <span>비밀번호 변경</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" @click="loggedOutClicked">
                    <div class="icon_bg_40 bg_sky_blue">
                        <i class="icon-ico-logout-24px"></i>
                    </div>
                    <span>로그아웃</span>
                    </a>
                </li>
                </ul>
            </li>
        </ul>
    </div>
</template>

<script>
    import {mapState, mapGetters, mapActions} from 'vuex';

    export default {
        computed: {
            ...mapState('user', {
                userInfo: 'userInfo',
            }),
            userNm() {
                if(this.userInfo.hasOwnProperty("userNm")) {
                    return this.userInfo["userNm"]
                }
                return "";
            }
        },
        methods: {
            ...mapActions('base', {
                setModal: 'setModal'
            }),
            myInfoChangeClicked() {
                alert('아직 준비 중인 기능입니다.')
                //this.setModal('MyAccountModifyPopupView')
            },
            passwordChangeClicked() {
                alert('아직 준비 중인 기능입니다.')
                //this.setModal('MyAccountPasswordModifyPopupView')
            },
            loggedOutClicked() {
                this.setModal('LoggedOutPopupView')
            }
        },
    }
</script>

<style lang="scss" scoped>
@import '~styles/base';
@import '~styles/reset';
@import '~styles/layout';
@import '~styles/main';
@import '~styles/sub';
</style>