<template>
    <div class="function_list list">
        <ul v-if="visibilitySection1Pages">
          <li v-if="sectionPageContains(1, 'JobNewFile')">
            <a href="javascript:void(0)" @click="navJobNewFileClicked">
              <div class="icon_bg_40 bg_purple">
                <i class="icon-ico-new-24px"></i>
              </div>
              <span>새파일</span>
            </a>
          </li>
          <li v-if="sectionPageContains(1, 'JobImport')">
            <a href="javascript:void(0)" @click="navJobImportClicked">
              <div class="icon_bg_40 bg_blue">
                <i class="icon-ico-folder-24px"></i>
              </div>
              <span>불러오기</span>
            </a>
          </li>
          <li v-if="sectionPageContains(1, 'JobSave')">
            <a href="javascript:void(0)" @click="navJobSaveClicked">
              <div class="icon_bg_40 bg_sky_blue">
                <i class="icon-ico-save-24px"></i>
              </div>
              <span>저장하기</span>
            </a>
          </li>
          <li v-if="sectionPageContains(1, 'JobSaveAs')">
            <a href="javascript:void(0)" @click="navJobSaveAsClicked">
              <div class="icon_bg_40 bg_blue_green">
                <i class="icon-ico-saveas-24px"></i>
              </div>
              <span>다른이름으로 저장하기</span>
            </a>
          </li>
          <li v-if="sectionPageContains(1, 'JobResultDownload')">
            <a href="javascript:void(0)" @click="navJobResultDownloadClicked">
              <div class="icon_bg_40 bg_green">
                <i class="icon-ico-download-24px"></i>
              </div>
              <span>전체 다운로드</span>
            </a>
          </li>
          <li v-if="sectionPageContains(1, 'ScriptRemove')">
            <a href="javascript:void(0)" @click="navScriptRemoveClicked">
              <div class="icon_bg_40 bg_yellow_green">
                <i class="icon-ico-delete-24px"></i>
              </div>
              <span>전체 대본 삭제</span>
            </a>
          </li>
        </ul>
        <ul v-if="visibilitySection2Pages">
          <li v-if="sectionPageContains(2, 'Payment')">
            <a href="javascript:void(0)" @click="navPaymentClicked">
              <div class="icon_bg_40 bg_purple">
                <i class="icon-ico-creditcard-24px"></i>
              </div>
              <span>결제하기</span>
            </a>
          </li>
          <li v-if="sectionPageContains(2, 'Payment')">
            <a href="javascript:void(0)" @click="navPaymentManagementClicked">
              <div class="icon_bg_40 bg_blue">
                <i class="icon-ico-board-24px"></i>
              </div>
              <span>결제관리</span>
            </a>
          </li>
          <li v-if="sectionPageContains(2, 'DownloadList')">
            <a href="javascript:void(0)" @click="navDownloadListClicked">
              <div class="icon_bg_40 bg_sky_blue">
                <i class="icon-ico-list-24px"></i>
              </div>
              <span>다운로드 내역</span>
            </a>
          </li>
        </ul>
        <ul v-if="visibilitySection3Pages">
          <li v-if="sectionPageContains(3, 'UseTip')">
            <a href="javascript:void(0)" @click="navUseTipClicked">
              <div class="icon_bg_40 bg_purple">
                <i class="icon-ico-info-24px"></i>
              </div>
              <span>사용 팁</span>
            </a>
          </li>
          <li v-if="sectionPageContains(3, 'Notice')">
            <a class="new_notice" href="javascript:void(0)" @click="navNoticeClicked">
              <div class="icon_bg_40 bg_blue">
                <i class="icon-ico-notification-24px"></i>
              </div>
              <span>공지사항</span>
            </a>
          </li>
          <li v-if="sectionPageContains(3, 'Faq')">
            <a href="javascript:void(0)" @click="navFaqClicked">
              <div class="icon_bg_40 bg_sky_blue">
                <i class="icon-ico-question-24px"></i>
              </div>
              <span>FAQ</span>
            </a>
          </li>
          <li v-if="sectionPageContains(3, 'ContactUs')">
            <a href="javascript:void(0)" @click="navContactUsClicked">
              <div class="icon_bg_40 bg_blue_green">
                <i class="icon-ico-mail-24px"></i>
              </div>
              <span>문의하기</span>
            </a>
          </li>
        </ul>
      </div>
</template>

<script>
    import Vue from "vue";
    import {mapState, mapGetters, mapActions} from 'vuex';
    export default {
      props: {
        visibilitySection1Pages: {
          type: Boolean,
          default: true
        },
        visibilitySection2Pages: {
          type: Boolean,
          default: true
        },
        visibilitySection3Pages: {
          type: Boolean,
          default: true
        },
      },
      data() {
        return {
          section1Pages: [
            'JobNewFile',
            'JobImport',
            'JobSave',
            'JobSaveAs',
            'JobResultDownload',
            'ScriptRemove',
          ],
          section2Pages: [
            'Payment',
            'PaymentManagement',
            'DownloadList'
          ],
          section3Pages: [
            'UseTip',
            'Notice',
            'Faq',
            'ContactUs'
          ]
        }
      },
      methods: {
        ...mapActions('base', {
            setModal: 'setModal'
        }),
        ...mapActions('job', {
            setJobScripts: 'setJobScripts',             // JOB Script List 저장
        }),
        sectionPageContains(section, pageName) {
          let sectionPages = [];
          switch (section){
            case 1:
              sectionPages = this.section1Pages;
            break
            case 2:
              sectionPages = this.section2Pages;
            break
            case 3:
              sectionPages = this.section3Pages;
            break
          }
          return sectionPages.indexOf(pageName) > -1
        },
        navJobNewFileClicked() {
          this.setModal("JobNewFilePopupView");
        },
        navJobImportClicked() {
          this.setModal("JobImportPopupView");
        },
        navJobSaveClicked() {
          this.setModal("JobSaveFilePopupView")
        },
        navJobSaveAsClicked() {
          this.setModal("JobSaveAsFilePopupView")
        },
        navJobResultDownloadClicked() {
           //alert('아직 준비 중인 기능입니다.')
          this.setModal("JobResultDownloadPopupView")
        },
        navScriptRemoveClicked() {
          this.setModal("JobDeletePopupView")
        },
        navPaymentClicked() {
          // alert('아직 준비 중인 기능입니다.')
          this.$router.push({name: "PaymentView"})
        },
        navPaymentManagementClicked() {
          // alert('아직 준비 중인 기능입니다.')
          this.$router.push({name: "PaymentManagementView"})
        },
        navDownloadListClicked() {
          //alert('아직 준비 중인 기능입니다.')
          this.$router.push({name: "DownloadListView"})
        },
        navUseTipClicked() {
          alert('아직 준비 중인 기능입니다.')
        },
        navNoticeClicked() {
          alert('아직 준비 중인 기능입니다.')
        },
        navFaqClicked() {
          alert('아직 준비 중인 기능입니다.')
        },
        navContactUsClicked() {
          alert('아직 준비 중인 기능입니다.')
        }
      },
        
    }
</script>

<style lang="scss" scoped>
@import '~styles/base';
@import '~styles/reset';
@import '~styles/layout';
@import '~styles/main';
@import '~styles/sub';
</style>