<template>
  <div id="wrapper">
    <PopupManagementView/>
    <div class="payments_management">
      <nav id="nav">
        <NavLogoView />
        <NavMyInfoView />
        <NavSideMenuView :visibilitySection1Pages="false"/>
      </nav>
      <AVAToasts
          :show-progress="true"
          :rtl="true"
          :max-messages="7"
          :time-out="5000"
          :closeable="true"
      ></AVAToasts>
      <section id="contents">
        <div class="container">
          <img src="@/assets/images/maum.png" alt="maum.ai">
          <h2>결제관리</h2>
          <p class="explanation_text"><span>결제 상세 정보</span>매 월 자동결제됩니다.</p>
          <div class="plan"
               v-bind:planNmEn = "planNmEn"
               v-bind:planNmKr = "planNmKr"
               v-bind:planDesc = "planDesc"
               v-bind:planStartAt = "planStartAt"
               v-bind:planEndAt = "planEndAt"
               v-bind:paymentAt = "paymentAt">
              <div v-if="planNmEn">
                  <h6><span>자동결제</span>{{planNmEn}} {{planNmKr}} 요금제</h6>
                  <p class="plan_content">{{planDesc}}</p>
                  <p class="plan_use_date">이용기간 : {{planStartAt}} ~ {{planEndAt}}</p>
                  <p class="plan_payment_date">결제 예정일 : {{paymentAt}}</p>
              </div>
              <div v-if="!planNmEn">
                  <h6>현재 결제된 플랜이 없습니다.</h6>

              </div>

          </div>
          <p class="explanation_text"><span>결제 카드 관리</span>자동 결제하실 카드사와 카드번호를 등록(변경)하세요.</p>
          <div class="card">
            <h6 class="logo"><a href="javascript:void(0)"></a></h6>
            <form action="">
              <button class="card_company" type="button" id="card_company" @click="selectCardCompany()">카드사 선택</button>
              <div class="card_number">
                <input type="number" placeholder="0000">
                <input type="number" placeholder="0000">
                <input type="number" placeholder="0000">
                <input type="number" placeholder="0000">
              </div>
              <button type="submit" @click="registerNewCard()">등록하기</button>
            </form>
          </div>
        </div>
        <button class="auto_payment_cancel" @click="autoPaymentCancelPopup()">구독취소</button>
      </section>
    </div>
  </div>
</template>

<script>
import {mapState, mapGetters, mapActions} from 'vuex';

import NavLogoView from "@/components/nav/NavLogoView";
import NavMyInfoView from "@/components/nav/NavMyInfoView";
import NavSideMenuView from "@/components/nav/NavSideMenuView";

import PopupManagementView from '@/components/popup/PopupManagementView';

import {RepositoryFactory} from '@/repositories/RepositoryFactory';
const UserRepository = RepositoryFactory.get('user');
const PaymentRepository = RepositoryFactory.get('payment')

import axios from 'axios';
import AVAToasts from "@/components/common/AVAToasts";

const API_BASE_URL = process.env.API_BASE_URL;

export default {
  name: "PaymentManagementView",
  components: {
    AVAToasts,
    NavLogoView,
    NavMyInfoView,
    NavSideMenuView,

    PopupManagementView,
    
  },
  data() {
    return {
      planNmEn: "",
      planNmKr: "",
      planDesc: "",
      planStartAt: "",
      planEndAt: "",
      paymentAt: "",
    }
  },
  computed: {
    ...mapState('user', {
      userInfo: 'userInfo',
    }),
  },
  methods: {
    ...mapActions('base', {
      setModal: 'setModal'
    }),
    autoPaymentCancelPopup() {
      this.setModal("AutoPaymentCancelPopupView");
    },
    selectCardCompany() {
      alert('아직 준비 중인 기능입니다.');
    },
    registerNewCard() {
      alert('아직 준비 중인 기능입니다.');
    }
  },
  async mounted() {
    const {data: activeBilling} = await PaymentRepository.getActiveBilling();
    this.planNmEn = activeBilling.planNmEn;
    this.planNmKr = activeBilling.planNmKr;
    this.planDesc = activeBilling.planDesc;
    this.planStartAt = activeBilling.planStartAt;
    this.planEndAt = activeBilling.planEndAt;
    this.paymentAt = activeBilling.paymentAt;
  }
}
</script>

<style lang="scss" scoped>
@import '~styles/base';
@import '~styles/reset';
@import '~styles/layout';
@import '~styles/main';
@import '~styles/sub';
</style>