<template>
    <div id="wrapper">
        <div class="payments">
            <nav id="nav">
                <NavLogoView/>
                <NavMyInfoView/>
                <NavSideMenuView :visibilitySection1Pages="false"/>
            </nav>
            <section id="contents">
                <div class="container">
                    <img src="@/assets/images/maum.png" alt="maum.ai">
                    <h2>결제하기</h2>
                    <p>
                        결제하기 버튼을 누르면 매 월 정기적으로 결제되며, <a @click="viewSubscriptionPolicy()">월 정기결제 및 취소 약관</a>에 동의하시는 것으로
                        간주됩니다.
                    </p>
                    <p class="plan_explanation" v-if="currentUserPlan">
                        <span>이용중인 플랜</span><em>{{currentUserPlan.planNm}}</em>
                        ({{currentUserPlan.planNmKr}} 요금제 안내) - 무제한 생성 및 미리듣기 / 월 최대
                        {{currentUserPlan.maxLimit.toLocaleString()}}자 다운로드</p>
                    <ul v-if="userPlans">
                        <li class="plan" v-for="(plan, index) in plans" :key="plan.planNo"
                            :class="getPlanClass(plan.planNo)">
                            <h6>{{plan.planNm}}</h6>
                            <p>{{plan.planNmKr}} 요금제 안내</p>
                            <p v-if="index != 3">
                                <em>무제한</em> 생성 및 미리듣기 <br>
                                <em >월 최대 {{plan.maxLimit.toLocaleString()}}자</em> 다운로드
                            </p>
                            <p v-if="index == 3">
                                <em>무제한</em> 생성 및 미리듣기 <br>
                                <em >기업용 맞춤 플랜</em>
                            </p>
                            <ul class="benefits">
                                <li v-for="benefit in plan.planBenefit"><i class="icon-ico-cloud-gray-24px"></i>{{benefit}}
                                </li>
                            </ul>
                            <div v-if="index != 3">
                                <p class="price">월 {{plan.planPrice.toLocaleString()}}원</p>
                                <a @click="grantSubscription(plan.planNo)">
                                    {{ isSubscribed(plan.planNo) ? "구독중": "결제하기"}}
                                </a>
                            </div>
                            <div v-if="index == 3">
                                <p class="price">Custom</p>
                                <a @click="navCustomClicked()">문의하기</a>
                            </div>
                        </li>
                    </ul>
                </div>

            </section>
        </div>

        <input type="hidden" id="basicSignature" :value="billingFormData.basicSignature">

        <!-- 무조건 returnUrl을 사용 도메인과 매칭시켜야됩니다. -->
        <form id="billingForm" name="" method="POST">

            <!-- ***** 필 수 ***** -->
            <input type="hidden" name="version" value="1.0">
            <input type="hidden" name="mid" :value="billingFormData.mid"> <!--mindslab01-->
            <input type="hidden" id="billingGoodName" name="goodname" :value="billingFormData.planNm">
            <input type="hidden" name="oid" :value="billingFormData.oid"> <!--mindslab01_Date-->
            <input type="hidden" id="billingPrice" name="price" :value="billingFormData.planPrice">
            <!--TODO: erase value-->
            <input type="hidden" name="currency" value="WON">
            <input type="hidden" name="buyername" :value="billingFormData.userNm">
            <input type="hidden" name="buyertel" :value="billingFormData.userCellPhone">    <!-- phone 번호 확인 필요 -->
            <input type="hidden" name="buyeremail" :value="billingFormData.userId">
            <input type="hidden" name="timestamp" :value="billingFormData.timestamp">
            <input type="hidden" id="billingSignature" name="signature" :value="billingFormData.billingSignature">
            <input type="hidden" name="returnUrl"
                   :value="`${billingFormData.siteDomain}/pay/${billingFormData.method}?oid=${billingFormData.oid}`">
            <input type="hidden" name="mKey" :value="billingFormData.mkey">

            <!-- ***** 기본옵션 ***** -->
            <input type="hidden" name="gopaymethod" value="Card">햣
            <input type="hidden" name="offerPeriod"
                   :value="`${billingFormData.planStartAt}-${billingFormData.planEndAt}`">
            <!--20200930-20201030-->
            <input type="hidden" name="acceptmethod" value="BILLAUTH(card)">
            <!-- 	<input   id="billPrint_msg" name="billPrint_msg" value="고객님의 매월 결제일은 24일 입니다." > -->

            <!-- ***** 표시옵션 ***** -->
            <input type="hidden" name="languageView" value="ko">
            <input type="hidden" name="charset" value="UTF-8">
            <input type="hidden" name="payViewType" value="overlay">
            <input type="hidden" name="closeUrl" :value="`${billingFormData.siteDomain}/pay/close`">

            <!-- ***** 추가옵션 ***** -->
            <!-- 	<input  name="merchantData" value="" > -->
            <!--            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />-->
        </form>
    </div>
</template>

<script>

    import {mapActions, mapState} from 'vuex';

    import NavLogoView from "@/components/nav/NavLogoView";
    import NavMyInfoView from "@/components/nav/NavMyInfoView";
    import NavSideMenuView from "@/components/nav/NavSideMenuView";

    import {RepositoryFactory} from '@/repositories/RepositoryFactory';
    import BillingPopupView from "@/components/main/BillingPopupView";

    const UserRepository = RepositoryFactory.get('user');
    const PlanRepository = RepositoryFactory.get('plan');
    const PaymentRepository = RepositoryFactory.get('payment')


    const API_BASE_URL = process.env.API_BASE_URL;

    export default {
        name: "PaymentView",
        components: {
            NavLogoView,
            NavMyInfoView,
            NavSideMenuView,
            BillingPopupView
        },
        data() {
            return {
                paymentResult: true,
                showBillingModal: false,
                name: "",
                userPlans: [],
                plans: [],
            }
        },
        computed: {
            ...mapState('payment', {
                billingFormData: 'billingFormData',
            }),
            ...mapState('user', {
                userInfo: 'userInfo',
            }),
            currentUserPlan() {
                let lastIndex = this.userPlans.length - 1;
                return this.userPlans[lastIndex]
            }
        },
        methods: {
            ...mapActions('payment', {
                setBillingFormData: 'setBillingFormData',         // 선택한 화자 추가
            }),

            isSubscribed(planNo) {
                if (this.userPlans.length == 0) {
                  return false;
                }
                let lastIndex = this.userPlans.length - 1;
                return this.userPlans[lastIndex].planNo == planNo
            },

            viewSubscriptionPolicy() {
                alert('아직 준비 중인 기능입니다.');
            },

            getPlanClass(planNo) {
                const planClass = {}
                planClass["lite"] = planNo == 1
                planClass["standard"] = planNo == 2
                planClass["business"] = planNo == 3
                planClass["enterprise"] = planNo == 4
                planClass["subscribed"] = this.isSubscribed(planNo)
                return planClass
            },

            async grantSubscription(planNo) {
                if (!this.isSubscribed(planNo)) {
                    switch (planNo) {
                        case 1:
                            this.grantLiteSubscription()
                            break;
                        case 2:
                            this.grantStdSubscription()
                            break;
                        case 3:
                            this.grantBsnSubscription()
                            break;
                        default:
                            break;
                    }
                }

            },
            async grantLiteSubscription() {
                if (this.userInfo.planNo != 1) {
                    // const {data: price} = await PlanRepository.getPlanPrice(1)
                    const {data} = await PaymentRepository.getBillingFormInfo(1);

                    this.setBillingFormData(data).then(() => {
                        INIStdPay.pay('billingForm')
                    });
                } else {
                    alert("이미 구독 중인 요금제 입니다.")
                }
            },
            async grantStdSubscription() {
                if (this.userInfo.planNo != 2) {
                    // const {data: price} = await PlanRepository.getPlanPrice(2)
                    const {data} = await PaymentRepository.getBillingFormInfo(2);

                    this.setBillingFormData(data).then(() => {
                        INIStdPay.pay('billingForm')
                    });
                } else {
                    alert("이미 구독 중인 요금제 입니다.")
                }
            },
            async grantBsnSubscription() {
                if (this.userInfo.planNo != 3) {
                    // const {data: price} = await PlanRepository.getPlanPrice(3)
                    const {data} = await PaymentRepository.getBillingFormInfo(3);

                    this.setBillingFormData(data).then(() => {
                        INIStdPay.pay('billingForm')
                    });
                } else {
                    alert("이미 구독 중인 요금제 입니다.")
                }
            },
            navCustomClicked() {
                alert('아직 준비 중인 기능입니다.');
            },
            async getPlans() {
                const {data: plans} = await PlanRepository.getList()
                this.plans = plans.filter(plan => plan.planNo <= 4)
            },
            async getUserPlans() {
                const {data: userPlans} = await PlanRepository.getUserActivePlanList(this.userInfo.userNo)
                this.userPlans = userPlans
            }

        },
        created() {
            this.getPlans()
            this.getUserPlans()
        }
    }
</script>

<style lang="scss" scoped>

@import '~styles/base';
@import '~styles/reset';
@import '~styles/layout';
@import '~styles/main';
@import '~styles/sub';

    #wrapper {
        position: absolute;
        margin-top: auto;
        margin-bottom: auto;
        background-color: #f7f8fc;
        height: 100%;
        width: 100%;
    }


    #paymentHeader {
        margin-left: auto;
        margin-right: auto;
        margin-top: 3%;

        width: 50%;
    }

    #paymentHeader h1 {
        color: black;
        text-align: left;
        margin-bottom: 20px;
        font-size: 32px;
        font-weight: 700;
    }

    #paymentHeader p {
        color: black;
        font-size: 15px;
    }

    #paymentHeader span {
        color: orange;
        text-decoration: underline;
        font-weight: bold;
    }

    #paymentBody {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        margin: 80px auto;
        width: 1000px;
    }


    .frame {
        border: solid 1px #cfd5eb;
        border-radius: 0.5rem;
        margin: 20px;
        text-align: center;
        width: 300px;
        background-color: white;
    }

    .frameHeader {
        width: 65%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        font-weight: bold;
        color: #14b6cb;

    }

    .frameHeader h2 {
        margin-bottom: 10%;
        font-size: 28px;
        font-weight: 700;
    }

    .frameHeader p {
        padding-bottm: 30px;
        color: #002b49;
        font-size: 14px;
        font-weight: normal;
        letter-spacing: -0.44px;

    }

    .frameHeader h3 {
        font-weight: bold;
        border-bottom: dotted 1px #cfd5eb;
        height: 50px;
        font-size: 28px;
        font-weight: 700;
        letter-spacing: -0.5px;
    }

    .frameBody {
        width: 65%;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        font-size: 13px;
    }

    .frameBody ul {
        list-style: none;
        padding-left: 13%;
    }

    .frameBody ul li {
        margin-bottom: 5%;
        font-weight: bold;
    }

    .frameBody ul li:before {
        content: "\2714";
        margin-right: 3%;

    }

    .frameFooter {
        width: 65%;
        margin: 5% auto 5% auto;
    }

    .frameFooter button {
        clear: both;
        display: block;
        width: 100%;
        height: 45px;
        border-radius: 5px;
        border: solid 1px #14b6cb;
        background-color: #14b6cb;
        font-size: 18px;
        font-weight: 500;
        line-height: 45px;
        letter-spacing: -0.56px;
        text-align: center;
        color: #ffffff;

    }

    .frameFooter button:hover {
        color: #35384d;
        text-decoration: none;
    }


</style>